﻿@model PrivateMessageIndexModel
@{
    Layout = "_Root4FrontTheme";

    Html.AddTitleParts("Private Messages");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/private-messages-main.js");

}
<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Private Messages</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
            <div class="ml-lg-auto">
                <a class="btn btn-sm btn-soft-white text-nowrap transition-3d-hover"
                   id="send-private-message-trigger" 
                   href="">
                    <span class="fas fa-envelope mr-1"></span>
                    Send Message
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .message-box {
        padding: 10px;
    }
    .message-box.odd {
        background-color: aliceblue;
    }
</style>

<div class="bg-light">
    <div class="container space-2">

        <h2 class="h4 mb-0 text-capitalize">Private Messages</h2>
        <hr class="mt-2 mb-4">


        <div class="row">
            <div class="col-md-12">

                <div class="toast" style="position: absolute; top: 0; right: 0;">
                    <div class="toast-header">
                        <strong class="mr-auto">Sending Message</strong>
                        <small>Just now</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        You just successfully sent a message.
                    </div>
                </div>

                <div class="tab-wrapper">
                    <ul class="nav nav-classic" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-inbox-tab" data-toggle="pill" href="#pills-inbox-content" role="tab" aria-controls="pills-inbox-content" aria-selected="true">
                                Inbox
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-sent-tab" data-toggle="pill" href="#pills-sent-content" role="tab" aria-controls="pills-send-content" aria-selected="false">
                                Sent Messages
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-inbox-content" role="tabpanel" aria-labelledby="pills-inbox-tab">
                            <vc:zenith-private-messages page-number="@Model.InboxPage" tab="inbox" version="Inbox"></vc:zenith-private-messages>
                        </div>
                        <div class="tab-pane fade" id="pills-sent-content" role="tabpanel" aria-labelledby="pills-sent-tab">
                            <vc:zenith-private-messages page-number="@Model.SentItemsPage" tab="sent" version="Sent"></vc:zenith-private-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_SendPrivateMessageModal");

<script asp-location="Head">

    const environments = {
        sendPrivateMessageUrl: '@Url.RouteUrl("PrivateMessageSendPM")',
        deleteSentMessageUrl: '@Url.RouteUrl("PrivateMessageDeleteSentPM")',
        sendPriviateMessageFormId: '#send-private-message-form',
        replyPrivateMessageFormId: '#reply-private-message-form'
    };

</script>

<script asp-location="Footer">
    $(document).ready(function () {
        $('#send-private-message-trigger').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var modal = $('#sendPrivateMessageModal');
            modal.find('.card-header .header-title').html('Send Private Message');

            var $form = $('#send-private-message-form');
            // todo: Clean select value
            // $form.find('select[name="ToCustomerId"]').empty();

            // Clean message title
            $form.find('input[name="Subject"]').val('');
            $form.find('textarea').val('');

            showCustomBoxModal('#sendPrivateMessageModal');
        });
    });
</script>
