﻿#checkout-steps .tab-section .u-accordion__control-icon i:nth-child(1) {
    display: inline;
}

#checkout-steps .tab-section .u-accordion__control-icon i:nth-child(2) {
    display: none;
}

#checkout-steps .tab-section.active .u-accordion__control-icon i:nth-child(1) {
    display: none;
}

#checkout-steps .tab-section.active .u-accordion__control-icon i:nth-child(2) {
    display: inline;
}

.u-accordion-color-primary .tab-section.active .u-accordion__header .step-title {
    color: #f37e4c !important;
}

.u-accordion-color-white .tab-section.active .u-accordion__header .step-title {
    color: #fff !important;
}

.u-accordion-bg-primary .tab-section.active .u-accordion__header .step-title {
    background-color: #f37e4c !important;
    border-color: #f37e4c !important;
}

.u-accordion-bg-white .tab-section.active .u-accordion__header .step-title {
    background-color: #fff !important;
    border-color: #fff !important;
}

.u-accordion-brd-primary .tab-section.active .u-accordion__header .step-title {
    border-color: #f37e4c !important;
}

.u-accordion-brd-white .tab-section.active .u-accordion__header .step-title {
    border-color: #fff !important;
}
