﻿

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for password strength */
.password-score-wrapper {
    margin-top: 0.8rem;
}

.password-score-wrapper .progress {
    height: 2px;
    visibility: hidden;
}
.gauge-very-weak .password-score-wrapper .progress {
    visibility: visible;
}

.gauge-weak .password-score-wrapper .progress {
    visibility: visible;
}

.gauge-normal .password-score-wrapper .progress {
    visibility: visible;
}

.gauge-medium .password-score-wrapper .progress {
    visibility: visible;
}

.gauge-strong .password-score-wrapper .progress {
    visibility: visible;
}

.gauge-very-strong .password-score-wrapper .progress {
    visibility: visible;
}


    .password-score-wrapper .progress-bar {
        background-color: white;
    }

.gauge-very-weak .password-score-wrapper .progress-bar {
    background-color: #939393;
}
.gauge-weak .password-score-wrapper .progress-bar {
    background-color: #ff0000;
}
.gauge-normal .password-score-wrapper .progress-bar {
    background-color: #ff8800;
}
.gauge-medium .password-score-wrapper .progress-bar {
    background-color: #ffc107;
}
.gauge-strong .password-score-wrapper .progress-bar {
    background-color: #00c1ed;
}
.gauge-very-strong .password-score-wrapper .progress-bar {
    background-color: #0cc100;
}

.password-verdict-wrapper .password-verdict {
    font-size: smaller;
}

.gauge-very-weak .password-verdict-wrapper .password-verdict {
    color: #939393;
}

.gauge-weak .password-verdict-wrapper .password-verdict {
    color: #ff0000;
}

.gauge-normal .password-verdict-wrapper .password-verdict {
    color: #ff8800;
}

.gauge-medium .password-verdict-wrapper .password-verdict {
    color: #ffc107;
}

.gauge-strong .password-verdict-wrapper .password-verdict {
    color: #00c1ed;
}

.gauge-very-strong .password-verdict-wrapper .password-verdict {
    color: #0cc100;
}





