﻿@model CheckoutCompletedModel
@{
    Layout = "_Root4FrontTheme";

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
    Html.AppendPageCssClassParts("html-order-completed-page");
}

<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
        </div>
    </div>
</div>
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Cart Section -->
    <div class="container space-2 space-lg-3">
        <div class="w-md-80 w-lg-50 text-center mx-md-auto">
            <figure id="iconChecked" class="svg-preloader ie-height-90 max-width-11 mx-auto mb-3">
                <img class="js-svg-injector" src="~/assets-front-v2.x/svg/components/checked-icon.svg" alt="SVG"
                     data-parent="#iconChecked" width="80">
            </figure>
            <div class="mb-5">
                <h1 class="h3 font-weight-medium">Your order is completed!</h1>
                <p>Thank you for your order! Your order has been successfully processed!. You will receive an email confirmation when your order is completed.</p>
            </div>
            <a class="btn btn-primary btn-pill transition-3d-hover px-5" href="classic.html">Order Details</a>
        </div>
    </div>
    <!-- End Cart Section -->
    <!-- Subscribe Section -->
    <div class="bg-light">
        <div class="container space-2">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <!-- Title -->
                    <div class="text-center mb-4">
                        <h2 class="h1 font-weight-medium">Stay in the know</h2>
                        <p>Get special offers on the latest developments from NXdrive.</p>
                    </div>
                    <!-- End Title -->
                    <!-- Subscribe Form -->
                    <form class="js-validate js-form-message w-lg-85 mx-lg-auto">
                        <label class="sr-only" for="subscribeSrEmail">Email address</label>
                        <div class="input-group input-group-pill">
                            <input type="email" class="form-control" name="email" id="subscribeSrEmail" placeholder="Email address" aria-label="Email address" aria-describedby="subscribeButton" required
                                   data-msg="Please enter a valid email address.">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary btn-sm-wide" id="subscribeButton">Join</button>
                            </div>
                        </div>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe Section -->
    <!-- Clients Section -->
    @*<div class="container space-2">
        <div class="row justify-content-between text-center">
            <div class="col-4 col-lg-2 mb-5 mb-lg-0">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/hollister.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2 mb-5 mb-lg-0">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/levis.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2 mb-5 mb-lg-0">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/new-balance.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/puma.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/nike.svg" alt="Image Description">
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="mx-4">
                    <img class="u-clients" src="../../assets/svg/clients-logo/tnf.svg" alt="Image Description">
                </div>
            </div>
        </div>
    </div>*@
    <!-- End Clients Section -->
</main>
<!-- ========== END MAIN CONTENT ========== -->



@*<div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("HomePage")')" />
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
    </div>
</div>*@
