﻿@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_Root";

    // Html.AddScriptParts(ResourceLocation.Footer, "~/assets-v2.x/components/hs.step-form.js");

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    Html.AddCssFileParts(ResourceLocation.Head, "~/css/checkout.css");

    Html.AddScriptParts(ResourceLocation.Footer, "~/node_modules/cleave.js/dist/cleave.js");

    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}
@{
    //step numbers
    var billingAddressStepNumber = 1;
    var paymentInfoStepNumber = 2;
    var confirmOrderStepNumber = 3;
}

<!-- Breadcrumb -->
<section class="g-my-30 g-pt-80">
    <div class="container">
        <ul class="u-list-inline">
            <li class="list-inline-item g-mr-7">
                <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.RouteUrl("HomePage")">Home</a>
                <i class="fa fa-angle-right g-ml-7"></i>
            </li>
            <li class="list-inline-item g-mr-7">
                <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.RouteUrl("ProductPlans")">Plans</a>
                <i class="fa fa-angle-right g-ml-7"></i>
            </li>
            <li class="list-inline-item g-color-primary">
                <span>Checkout</span>
            </li>
        </ul>
    </div>
</section>

<style>
    #checkout-steps .tab-section u-accordion__header .u-accordion__control-icon i:nth-child(1) {
        display: inline;
    }

    #checkout-steps .tab-section u-accordion__header .u-accordion__control-icon i:nth-child(2) {
        display: none;
    }
</style>

<div class="container g-pb-70 checkout-data">

    <!-- What is in the cart -->
    <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30 g-bg-gray-lineargradient">
        <h2 class="u-heading-v2__title g-font-600">Here's your order</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <vc:zenith-cart-items></vc:zenith-cart-items>
        </div>
        <div class="col-md-8">
            <div id="checkout-steps" class="opc u-accordion u-accordion-primary g-pt-30"
                 role="tablist" aria-multiselectable="true">

                <!-- Billing address -->
                <div id="opc-billing" class="tab-section allow card g-brd-none rounded-0 g-mb-15">
                    <div class="u-accordion__header g-pa-0" role="tab">
                        <h5 class="mb-0">
                            <a class="step-title d-flex g-color-main g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-10-15">
                                <span class="step-title u-accordion__control-icon g-mr-10">
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </span>
                                <span class="number u-label g-bg-primary g-mr-10">@billingAddressStepNumber</span>
                                <span class="title">@T("Checkout.BillingAddress")</span>
                            </a>
                        </h5>
                    </div>
                    <div id="checkout-step-billing" class="step a-item" style="display: none;" role="tabpanel">
                        <form id="co-billing-form" action="">
                            <div id="checkout-billing-load" class="pt-5 pb-2">
                                @await Html.PartialAsync("OpcBillingAddress", Model.BillingAddress)
                                @*billing address content will be loaded here*@
                            </div>
                        </form>
                        <script asp-location="Footer">
                        Billing.init('#co-billing-form', '@(storeLocation)checkout/save-billing-address/', @(Model.DisableBillingAddressCheckoutStep.ToString().ToLowerInvariant()));
                        if ($("#billing-address-select").length > 0) {
                            Billing.newAddress(!$('#billing-address-select').val());
                        }
                        </script>
                        <div class="buttons d-flex flex-row justify-content-end align-items-center" id="billing-buttons-container">
                            <input type="button" title="@T("Common.Continue")"
                                   class="new-address-next-step-button btn btn-lg u-btn-primary u-btn-hover-v1-1 g-mr-10 g-mb-15"
                                   onclick="Billing.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="billing-please-wait" style="display: none;">
                                @T("Common.LoadingNextStep")
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Payment info -->
                <div id="opc-payment_info" class="tab-section card g-brd-none rounded-0 g-mb-15">
                    <div class="u-accordion__header g-pa-0" role="tab">
                        <h5 class="mb-0">
                            <a class="step-title d-flex g-color-main g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-10-15">
                                <span class="step-title u-accordion__control-icon g-mr-10">
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </span>
                                <span class="number u-label g-bg-primary g-mr-10">@paymentInfoStepNumber</span>
                                <span class="title">@T("Checkout.PaymentInfo")</span>
                            </a>
                        </h5>
                    </div>

                    <div id="checkout-step-payment-info" class="step a-item" style="display: none;" role="tabpanel">
                        <form action="" id="co-payment-info-form">
                            <div id="checkout-payment-info-load" class="pt-5 pb-2">
                                @*payment info content will be loaded here*@ Payment is not required
                            </div>
                        </form>
                        <script asp-location="Footer">
                            PaymentInfo.init('#co-payment-info-form', '@(storeLocation)checkout/save-payment-info/');
                        </script>
                        <div class="buttons d-flex flex-row justify-content-end align-items-center" id="payment-info-buttons-container">
                            <p class="back-link">
                                <a href="#" class="btn btn-link g-color-main" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                            </p>
                            <input type="button" class="payment-info-next-step-button btn btn-lg u-btn-primary u-btn-hover-v1-1 g-mr-10 g-mb-15"
                                   onclick="PaymentInfo.save()" value="@T("Common.Continue")" />
                            <span class="please-wait" id="payment-info-please-wait" style="display: none;">
                                @T("Common.LoadingNextStep")
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Confirmation -->
                <div id="opc-confirm_order" class="tab-section card g-brd-none rounded-0 g-mb-15">
                    <div class="u-accordion__header g-pa-0" role="tab">
                        <h5 class="mb-0">
                            <a class="step-title d-flex g-color-main g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-10-15">
                                <span class="step-title u-accordion__control-icon g-mr-10">
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </span>

                                <span class="number u-label g-bg-primary g-mr-10">@confirmOrderStepNumber</span>
                                <span class="title">@T("Checkout.ConfirmOrder")</span>
                            </a>
                        </h5>
                    </div>
                    <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                        <div id="checkout-confirm-order-load">
                            @*confirm order content will be loaded here*@
                        </div>
                        <script asp-location="Footer">
                            ConfirmOrder.init('@(storeLocation)checkout/confirm-order/', '@(storeLocation)checkout/completed/');
                        </script>
                        <div class="buttons d-flex flex-row justify-content-end align-items-center" id="confirm-order-buttons-container">
                            <p class="back-link">
                                <a href="#" class="btn btn-link g-color-main" onclick="Checkout.back(); return false;"><small>&laquo; </small>@T("Common.Back")</a>
                            </p>
                            <input type="button" class="confirm-order-next-step-button btn btn-primary"
                                   onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                            <span class="please-wait" id="confirm-order-please-wait" style="display: none;">
                                @T("Checkout.SubmittingOrder")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script asp-location="Footer">
    Accordion.init('checkout-steps', '.step-title', true);
    Accordion.openSection('#opc-billing');
    // failure url
    Checkout.init('@(storeLocation)checkout/');
</script>

<script asp-location="Footer">
    $(document).ready(function () {
        $('#checkout-payment-info-load').on('content:updated', function (event) {
            var cleave = new Cleave('#checkout-payment-info-load .credit-card-number', {
                creditCard: true
            })
        });
    });
</script>
