﻿@model OnePageCheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_Root4SignedInUser";

    // Html.AddScriptParts(ResourceLocation.Footer, "~/assets-v2.x/components/hs.step-form.js");

    //scripts
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.accordion.js");
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js");

    Html.AddCssFileParts(ResourceLocation.Head, "~/css/checkout.css");


    var storeLocation = webHelper.GetStoreLocation();

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    //page class
    Html.AppendPageCssClassParts("html-checkout-page");
}

<!-- Breadcrumb -->
<section class="g-my-30 g-pt-80">
    <div class="container">
        <ul class="u-list-inline">
            <li class="list-inline-item g-mr-7">
                <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.RouteUrl("HomePage")">Home</a>
                <i class="fa fa-angle-right g-ml-7"></i>
            </li>
            <li class="list-inline-item g-mr-7">
                <a class="u-link-v5 g-color-main g-color-primary--hover" href="@Url.RouteUrl("ProductPlans")">Plans</a>
                <i class="fa fa-angle-right g-ml-7"></i>
            </li>
            <li class="list-inline-item g-color-primary">
                <span>Checkout</span>
            </li>
        </ul>
    </div>
</section>
<!-- End Breadcrumb -->

<div class="container g-pb-70 checkout-data">

    <!-- What is in the cart -->
    <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30 g-bg-gray-lineargradient">
        <h2 class="u-heading-v2__title g-font-600">Here's your order</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <vc:zenith-cart-items></vc:zenith-cart-items>
        </div>
        <div class="col-md-8">

            <!-- todo: Simplify -->
            <div id="checkout-steps" class="opc u-accordion u-accordion-bg-primary u-accordion-color-white g-pt-30"
                 role="tablist" aria-multiselectable="true">

                <div id="opc-confirm_order" class="tab-section allow card g-brd-none rounded-0 g-mb-15">
                    <div class="u-accordion__header g-pa-0" role="tab">
                        <h5 class="mb-0">
                            <a class="step-title d-flex g-color-main g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-5 g-pa-10-15">
                                <span class="step-title u-accordion__control-icon g-mr-10">
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </span>
                                <span class="title">@T("Checkout.ConfirmOrder")</span>
                            </a>
                        </h5>
                    </div>
                    <div id="checkout-step-confirm-order" class="step a-item" style="display: none;">
                        <div id="checkout-confirm-order-load">
                            @await Html.PartialAsync("OpcConfirmOrder")
                            @*confirm order content will be loaded here*@
                        </div>
                        <script asp-location="Footer">
                        ConfirmOrder.init('@(storeLocation)checkout/confirm-order/', '@(storeLocation)checkout/completed/');
                        </script>
                        <div class="buttons" id="confirm-order-buttons-container">
                            <input type="button" class="confirm-order-next-step-button btn u-btn-primary g-font-size-13 text-uppercase g-py-15 g-px-30 mb-4"
                                   onclick="ConfirmOrder.save()" value="@T("Common.Confirm")" />
                            <span class="please-wait" id="confirm-order-please-wait" style="display: none;">
                                @T("Checkout.SubmittingOrder")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        Accordion.init('checkout-steps', '.step-title', true);
        Accordion.openSection('#opc-confirm_order');
        // failure url
        Checkout.init('@(storeLocation)checkout/');
    });
</script>

<style>
    #checkout-steps .tab-section u-accordion__header .u-accordion__control-icon i:nth-child(1) {
        display: inline;
    }

    #checkout-steps .tab-section u-accordion__header .u-accordion__control-icon i:nth-child(2) {
        display: none;
    }
</style>

