@model AddressModel

<div class="card mb-3 address-box" style="max-width: 400px;">
    <div class="card-body">
        <address>
            <strong>
                @Model.FirstName @Model.LastName
            </strong>
            <br />
            @if (!string.IsNullOrEmpty(Model.Address1))
            {
                @Model.Address1
                <br />
            }
            @if (!string.IsNullOrEmpty(Model.Address2))
            {
                @Model.Address2
                <br />
            }
            <a href="mailto:@Model.Email">
                @Model.Email
            </a>
        </address>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-row">
            <a class="btn btn-sm btn-primary" href="@(Url.RouteUrl("CustomerEditAddress", new { addressId=Model.Id }))">
                <i class="far fa-edit mr-1"></i>
                Edit
            </a>
            <button type="button" class="btn btn-sm btn-danger ml-2 delete-address-button ladda-button"
                    data-ladda-wrapper-id="@Model.Id"
                    data-color="purple"
                    data-style="expand-right">
                <span class="ladda-label">
                    <i class="fas fa-trash mr-1"></i>
                    Delete
                </span>
            </button>
        </div>
    </div>
</div>