@model AccountActivationModel
@{
    Layout = "_Root4LightPage";

    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
    Html.AppendPageCssClassParts("html-account-activation-page");
}

<section class="g-min-height-100vh g-flex-centered g-bg-cover g-bg-white" style="overflow-y:hidden;">
    @*g-bg-lightblue-radialgradient-circle*@
    <div class="container" style="z-index:999;">

        <div class="alert alert-success" role="alert">
            @Model.Result
        </div>

        <div class="row justify-content-between">
            <section class="col-md-6 g-py-50">
                <div class="container">
                    <div id="shortcode1">
                        <div class="shortcode-html">
                            <div class="row align-items-stretch no-gutters">
                                <div class="col-md-12">
                                    <article class="d-flex flex-wrap g-color-white g-font-size-16 u-shadow-v3">
                                        <div class="order-1 w-100 u-ns-bg-v1-right g-bg-primary g-z-index-1 g-py-100 g-px-50">
                                            <div class="media mb-4">
                                                <div class="d-flex mr-4">
                                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-gray">
                                                        <i class="icon-media-024 u-line-icon-pro"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <p class="g-color-gray-opacity-0_8 mb-0" style="color:black">Defend against data breach which is one of the major cyber security threats of the online data storage.</p>
                                                </div>
                                            </div>
                                          
                                            <div class="media mb-4">
                                                <div class="d-flex mr-4">
                                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-gray">
                                                        <i class="icon-media-091 u-line-icon-pro"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <p class="g-color-gray mb-0" style="color:black">Protects the data privacy, having the unique abilities to disable a number of semantic analyzing tools that targets for your data privacy.</p>
                                                </div>
                                            </div>

                                            <div class="media mb-4">
                                                <div class="d-flex mr-4">
                                                    <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-gray">
                                                        <i class="icon-communication-038 u-line-icon-pro animated fadeInDown infinite delay-5s"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body align-self-center">
                                                    <p class="g-color-gray mb-0" style="color:black">Download NXdrive (Windows)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

            <div class="col-md-6 col-lg-5 flex-md-unordered align-self-center g-mb-80">
               
                <div class="u-shadow-v5 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                    
                    <span class="d-block text-center g-color-gray-dark-v4 g-font-size-40 g-mb-15">
                        <img src="~/img/logo/logo_NXdrive.gif" style="width:50px;" />
                    </span>
                    <h3 class="h5 g-color-black g-mb-10 text-center">NXdrive Basic is free</h3>
                    <p class="g-color-gray-dark-v4 text-center">We strive to embrace and drive change in our industry which allows us to keep our clients.</p>
                    <ul class="list-unstyled g-px-30 g-mb-0">
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><i class="fa fa-check color-green"></i> 10 GB space</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><i class="fa fa-check color-green"></i> File sync across devices</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><i class="fa fa-check color-green"></i> Share links</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><i class="fa fa-check color-green"></i> Shared with groups</li>
                        <li class="g-brd-bottom g-brd-gray-light-v3 g-py-10"><i class="fa fa-check color-green"></i> Executive security by fragmentation</li>
                        <li class="g-py-8">
                            <a class="btn u-btn-outline-primary g-brd-2 g-color-main g-color-primary--hover g-bg-main--hover g-font-weight-600 g-font-size-12 g-px-25 g-py-13" href="@Url.RouteUrl("Login")">
                                Log in
                                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                            </a>
                            <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 g-px-25 g-py-13" href="@Url.RouteUrl("ProductPlans")">
                                Advanced Plans
                                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
            
        </div>
    </div>
</section>

<div class="u-outer-spaces-helper"></div>
