﻿@model CustomerAddressEditModel
@{
    Layout = "_Root4FrontTheme";

    //title
    Html.AddTitleParts(T("Account.MyAccount").Text);
}

<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editing Address</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>

            <div class="ml-lg-auto">
                <a class="btn btn-sm btn-soft-white text-nowrap transition-3d-hover" href="@Url.RouteUrl("CustomerAddresses")">
                    <span class="fas fa-arrow-circle-left mr-1"></span>
                    Back to Addresses
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container space-2">

        <h2 class="h4 mb-0 text-capitalize">Editing Address</h2>
        <hr class="mt-2 mb-4">

        <div class="row">
            <div class="col-md-12">
                <form asp-route="CustomerAddressEdit" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    @{
                        var dataDictAddress = new ViewDataDictionary(ViewData);
                        dataDictAddress.TemplateInfo.HtmlFieldPrefix = "Address";
                        @await Html.PartialAsync("_CreateOrUpdateAddress", Model.Address, dataDictAddress)
                    }
                    <div class="d-flex flex-row justify-content-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check-circle mr-1"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>