﻿@model CustomerAddressListModel

@{
    Layout = "_Root4FrontTheme";

    //title
    Html.AddTitleParts("My Addresses");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/addresses-main.js");

    var ctrlClass = Model.Addresses.Count() > 0 ? "has-one" : "";
}

<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Addresses</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>

            <div class="ml-lg-auto">
                <a class="btn btn-sm btn-soft-white text-nowrap transition-3d-hover text-capitalize" href="@Url.RouteUrl("CustomerAddAddress")">
                    <span class="fas fa-plus-circle mr-1"></span>
                    New Address
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .address-list-wrapper.has-one .empty-list {
        display: none;
    }
</style>

<div class="bg-light">
    <div class="container space-2 address-list-wrapper @ctrlClass">

        <h2 class="h4 mb-0 text-capitalize">Billing Addresses</h2>
        <hr class="mt-2 mb-4">

        <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast toast-for-address" style="position: absolute; top: 0; right: 0; z-index: 50">
                <div class="toast-header">
                    <strong class="mr-auto">Deleting Address</strong>
                    <small>Just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    You just successfully deleted an address.
                </div>
            </div>
        </div>

        @for (var index = 0; index < Model.Addresses.Count;)
        {
            <div class="card-deck">
                @await Html.PartialAsync("_AddressBox", Model.Addresses[index++])
                @if (index < Model.Addresses.Count)
                {
                    @await Html.PartialAsync("_AddressBox", Model.Addresses[index++])
                }
                @if (index < Model.Addresses.Count)
                {
                    @await Html.PartialAsync("_AddressBox", Model.Addresses[index++])
                }
            </div>
        }

        <div class="row empty-list">
            <div class="col-md-12 py-7 mb-7">
                <div class="text-center px-lg-3">
                    <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
                        <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
                    </span>
                    <p class="mb-md-0">You don't have any address information at this moment.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<script asp-location="Footer">
    $(document).ready(function () {
        $('.address-box').on('click', '.delete-address-button', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $target = $(evt.target);
            $target = $target.closest('button');

            var addressId = $target.data('laddaWrapperId');
            var ladda = GlobalLaddaButtons[addressId];

            bootbox.confirm({
                centerVertical: true,
                title: 'Confirmation',
                message: 'Are you sure to delete this address?',
                buttons:
                {
                    confirm:
                    {
                        label: 'Yes',
                        className: 'btn btn-primary btn-sm'
                    },
                    cancel:
                    {
                        label: 'No',
                        className: 'btn btn-secondary btn-sm'
                    }
                },
                callback: function (result) {
                    if (!result) {
                        return;
                    }

                    ladda && ladda.start();

                    var postData = {
                        addressId: addressId
                    };
                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '@Url.RouteUrl("CustomerDeleteAddress")',
                        data: postData,
                        dataType: 'json',
                        success: function (data) {
                            ladda && ladda.stop();
                            ladda && ladda.remove();

                            $target.closest('.address-box').remove();

                            // Remove the button for memory leaking
                            GlobalLaddaButtons[addressId] = null;

                            // If there is no more address, show empty list
                            const $addressList = $('.address-list-wrapper');
                            if ($addressList.find('.address-box').length == 0) {
                                $addressList.removeClass('has-one');
                            }

                            showToast('.toast.toast-for-address', 'Deleting Address', 'You just successfully deleted an address.');
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            ladda && ladda.stop();
                            ladda && ladda.remove();

                            bootbox.alert({
                                centerVertical: true,
                                title: 'Alert',
                                message: 'Sorry, we cannot delete the address now.'
                            });
                        }
                    });
                }
            });
        });
    });
</script>
