﻿@model ChangePasswordModel
@{
    Layout = "_Root4FrontTheme";

    Html.AddTitleParts("Change Password");

    // Password strength
    Html.AppendScriptParts(ResourceLocation.Footer, "~/node_modules/pwstrength-bootstrap/dist/pwstrength-bootstrap.js");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/change-password-main.js");
}

<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container space-2">

        <h2 class="h4 mb-0">Change Password</h2>
        <hr class="mt-2 mb-4">

        <div class="row">
            <div class="col-md-12 justify-content-center">

                <form asp-route="CustomerChangePassword" method="post">

                    @if (!String.IsNullOrEmpty(Model.Result))
                    {
                        if (Model.Result.Equals("Success"))
                        {
                            <div class="alert alert-success">@Model.Result</div> // UI to display when change password success
                        }
                        else
                        {
                            <div class="alert alert-danger">@Model.Result</div>// UI to display when change password failed
                        }
                    }

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger mb-4"></div>

                    <div class="from-group row mb-4">
                        <label class="col-sm-3 col-form-label">
                            Current Password
                        </label>
                        <div class="col-sm-9" id="old-password-wrapper">
                            <div class="input-group">
                                <input class="form-control"
                                       type="password" placeholder="Old Password" asp-for="OldPassword" />
                                <div class="input-group-append">
                                    <button type="button" class="toggle-password btn btn-outline-primary">
                                        <i class="toggle-icon fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>

                            <p class="mb-0 py-0">
                                <a class="text-primary" href="@Url.RouteUrl("PasswordRecovery")">
                                    <small><em>Forgot your password?</em></small>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-sm-3 col-form-label">
                            New Password
                        </label>

                        <div class="col-sm-9" id="new-password-wrapper">
                            <div class="input-group">
                                <input class="form-control support-strength-indicator"
                                       type="password" placeholder="New Password" asp-for="NewPassword" />
                                <div class="input-group-append">
                                    <button type="button" class="toggle-password btn btn-outline-primary">
                                        <i class="toggle-icon fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            <div class="d-flex flex-row align-content-center">
                                <div class="password-score-wrapper flex-grow-1"></div>
                                <div class="password-verdict-wrapper px-2"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-sm-3 col-form-label">
                            Confirm New Password
                        </label>
                        <div class="col-sm-9">
                            <input class="form-control"
                                   type="password" placeholder="Confirm New Password" asp-for="ConfirmNewPassword" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="d-flex">

                    <div class="d-flex justify-content-end">
                        <div class="col-lg-push-2 align-self-center text-right">
                            <button class="btn btn-md btn-block btn-primary" type="submit">
                                <i class="fas fa-check-circle mr-1"></i>
                                Save Changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
