﻿@using NXdrive.Web.Models.Customer
@model CustomerServicePlanModel
@{
    Layout = "_Root4FrontTheme";
}
<style>

    .u-avatar i {
        line-height: 3.125rem;
        font-size: 35px;
        color: Highlight;
    }
</style>
<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Plan and Usage</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
            <div class="ml-lg-auto">
                <a class="btn btn-sm btn-soft-white text-nowrap transition-3d-hover" href="@Url.RouteUrl("ProductPlans")">
                    <span class="fas fa-gem small mr-2"></span>
                    Upgrade
                </a>
            </div>
        </div>
    </div>
</div>



<div class="bg-light">
    <div class="container space-2">
        <div class="mb-6">
            <h2 class="h4 mb-0 text-capitalize">My current plan</h2>
            <hr class="mt-2 mb-4">

            <div class="row">
                <div id="stickyBlockStartPoint" class="col-md-6 mb-9 mb-md-0">
                    <div class="js-sticky-block"
                         data-has-sticky-header="true"
                         data-offset-target="#logoAndNav"
                         data-sticky-view="md"
                         data-start-point="#stickyBlockStartPoint"
                         data-end-point="#stickyBlockEndPoint"
                         data-offset-top="24"
                         data-offset-bottom="24">
                        <div class="position-relative bg-primary shadow-primary-lg text-white rounded z-index-2 p-7">
                            <span class="d-block">
                                <span class="display-5 font-weight-semi-bold">@Model.CurrentPlanDetailModel.Name</span><br />
                                @if (@Model.CurrentPlanDetailModel.ProductPrice.PriceValue > 0)
                                {
                                    <span class="align-top">$</span>
                                    <span class="display-4 font-weight-semi-bold">@Model.CurrentPlanDetailModel.ProductPrice.PriceValue</span>
                                    <span class="d-block">per month</span>
                                }
                                else
                                {
                                    <span class="display-4 font-weight-semi-bold">Free</span>
                                }
                            </span>

                            <div class="mb-5">
                                <p class="text-light">@Model.CurrentPlanDetailModel.ShortDescription</p>
                            </div>
                            <a class="btn btn-white btn-pill transition-3d-hover mb-2" href="@Url.RouteUrl("ProductPlans")">
                                Upgrade
                                <span class="fas fa-arrow-right text-primary font-size-1 ml-2"></span>
                            </a>
                            @if (Model.CurrentPlanDetailModel.ProductPrice.PriceValue == Decimal.Zero)
                            {
                                <p class="small text-white-70">No payment required for the current plan.</p>
                            }
                            <div class="position-absolute bottom-0 right-0 w-100 max-width-15 z-index-n1">
                                <figure class="ie-abstract-shapes-11">
                                    <img class="js-svg-injector rounded-bottom" src="~/assets-front-v2.x/svg/components/abstract-shapes-11.svg" alt="Image Description"
                                         data-parent="#pricingSection">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="pl-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center border-bottom pb-0 mb-2 pt-0 mt-2">
                                    <figure id="icon21" class="svg-preloader ie-height-40 w-100 max-width-6 mr-4">
                                        <img class="js-svg-injector" src="~/assets-front-v2.x/svg/icons/icon-43.svg" alt="SVG"
                                             data-parent="#icon21">
                                    </figure>
                                    <div class="media-body">
                                        <h4 class="h5">Space</h4>
                                        <p>@Model.CurrentPlanDetailModel.Capacity GB</p>
                                    </div>
                                </div>
                                <div class="media align-items-center border-bottom pb-2 mb-2 pt-2 mt-2">
                                    <div class="media-body">
                                        <h3 class="h5">Security</h3>
                                        <p>Worry-free on Data Confidentiality, Data Privacy and Device Loss.</p>
                                    </div>
                                    <figure id="icon20" class="svg-preloader ie-height-40 w-100 max-width-6 ml-4">
                                        <img class="js-svg-injector" src="~/assets-front-v2.x/svg/icons/icon-20.svg" alt="SVG"
                                             data-parent="#icon20">
                                    </figure>
                                </div>
                                <div class="media align-items-center pb-0 mb-2 pt-0 mt-2">
                                    <figure id="icon22" class="svg-preloader ie-height-40 w-100 max-width-6 mr-4">
                                        <img class="js-svg-injector" src="~/assets-front-v2.x/svg/icons/icon-29.svg" alt="SVG"
                                             data-parent="#icon22">
                                    </figure>
                                    <div class="media-body">
                                        <h3 class="h5">Features</h3>
                                        <p>@Model.CurrentPlanDetailModel.FullDescription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="mb-6">
            <h2 class="h4 mb-0 text-capitalize">Plan usage</h2>
            <hr class="mt-2 mb-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-primary shadow-primary-lg rounded pt-4 pb-5 px-7">
                        <div class="d-flex justify-content-between align-items-center">
                            <h4 class="h6 text-white mb-0">Usage</h4>
                        </div>
                        <div class="py-2">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <span class="d-block text-white-70 font-size-1">Capacity:</span>
                                        <span class="text-white font-size-3 font-weight-medium text-lh-sm">@Model.UsageModel.TotalCapacity</span>
                                        <span class="align-top text-white">G</span>
                                    </div>
                                </div>
                                <div class="col-6 align-self-end">
                                    <div class="js-pie text-center"
                                         data-circles-text-class="content-centered-y"
                                         data-circles-value="@Model.UsageModel.UsedRation"
                                         data-circles-max-value="100"
                                         data-circles-bg-color="rgba(255, 255, 255, 0.1)"
                                         data-circles-fg-color="#ffffff"
                                         data-circles-radius="50"
                                         data-circles-stroke-width="4"
                                         data-circles-duration="2000"
                                         data-circles-scroll-animate="true"
                                         data-circles-color="#ffffff"
                                         data-circles-font-size="24"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <article class="card border-0 mb-1 ml-6">
                        <div class="card-body p-0">
                            <div class="media">
                                <div class="u-avatar mr-3 text-center">
                                    <i class="far fa-file-alt"></i>
                                </div>
                                <div class="media-body">
                                    <span class="d-block">
                                        <strong class="badge badge-primary badge-pill">
                                            @Model.UsageModel.FileCount
                                        </strong>
                                    </span>
                                    <small class="d-block text-muted">
                                        #Files totally
                                    </small>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card border-0 mb-1 ml-6">
                        <div class="card-body p-0">
                            <div class="media">
                                <div class="u-avatar mr-3 text-center">
                                    <i class="far fa-file-word"></i>
                                </div>
                                <div class="media-body">
                                    <span class="d-block">
                                        <strong class="badge badge-primary badge-pill">
                                            @Model.UsageModel.DocumentCount
                                        </strong>
                                    </span>
                                    <small class="d-block text-muted">
                                        #Documents (.doc, .docx, .txt, .pdf)
                                    </small>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card border-0 mb-1 ml-6">
                        <div class="card-body p-0">
                            <div class="media">
                                <div class="u-avatar mr-3 text-center">
                                    <i class="far fa-file-image"></i>
                                </div>
                                <div class="media-body">
                                    <span class="d-block">
                                        <strong class="badge badge-primary badge-pill">
                                            @Model.UsageModel.ImageCount
                                        </strong>
                                    </span>
                                    <small class="d-block text-muted">
                                        #Images (.png, .jpeg, .jpg, .bmp)
                                    </small>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="card border-0 mb-1 ml-6">
                        <div class="card-body p-0">
                            <div class="media">
                                <div class="u-avatar mr-3 text-center">
                                    <i class="far fa-trash-alt"></i>
                                </div>
                                <div class="media-body">
                                    <span class="d-block">
                                        <strong class="badge badge-primary badge-pill">
                                            @Model.UsageModel.TrashCount
                                        </strong>
                                    </span>
                                    <small class="d-block text-muted">
                                        #Items in Trash
                                    </small>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>


