﻿@using NXdrive.Web.Models.Customer
@model CustomerDashboardModel
@{
    Layout = "_Root4FrontTheme";
}
<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
        </div>
    </div>
</div>

    <section class="g-mb-100">

        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="container">
                        <div class="row space-2">
                            <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0">
                                <div class="media pr-lg-9">
                                    <figure id="icon15" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                                        <img class="js-svg-injector" src="~/assets-front-v2.x/svg/icons/icon-40.svg" alt="SVG"
                                             data-parent="#icon15">
                                    </figure>
                                    <div class="media-body">
                                        <h3 class="h5">File System</h3>
                                        <p class="mb-1">NXdrive renovates your online data backup to the highest level of security and privacy protection.</p>
                                        <a class="font-size-15" href="@Url.RouteUrl("FileSystemExplorer")">Go to My Files<span class="fas fa-angle-right align-middle ml-2"></span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="media pl-lg-9">
                                    <figure id="icon4" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                                        <img class="js-svg-injector" src="~/assets-front-v2.x/svg/icons/icon-7.svg" alt="SVG"
                                             data-parent="#icon4">
                                    </figure>
                                    <div class="media-body">
                                        <h3 class="h5">Groups</h3>
                                        <p class="mb-1">Stay up-to-date on what’s happening on your team with automatic activity updates that show who edited shared files and when.</p>
                                        <a class="font-size-15" href="@Url.RouteUrl("UserGroupIndexDefault")">Manage your groups<span class="fas fa-angle-right align-middle ml-2"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--activity-->

                <div class="col-lg-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 u-ver-divider u-ver-divider--none-lg mb-7 mb-lg-0">
                                <div class="media pr-lg-9">
                                    <figure id="icon17" class="svg-preloader ie-height-56 w-100 max-width-8 mr-4">
                                        <img class="js-svg-injector" src="~/assets-front-v2.x/svg/icons/icon-56.svg" alt="SVG"
                                             data-parent="#icon17">
                                    </figure>
                                    <div class="media-body">
                                        <h3 class="h5">My Activities (In Progress)</h3>
                                        <p class="mb-1">NXdrive allows you to check the history of your activities.</p>
                                        <a class="font-size-15"  href="@Url.RouteUrl("CustomerActivities")">Go to my activities<span class="fas fa-angle-right align-middle ml-2"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
