﻿@using NXdrive.Web.Models.Customer
@model CustomerDashboardModel
@{
    Layout = "_Root4FrontTheme";
}
<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
        </div>
    </div>
</div>

    <section class="g-mb-100">

        <div class="bg-light">
            <div class="container space-2">
                <div class="row">
                    <div class="col-md-12">

                        <h2 class="h4 mb-4">My Activities</h2>
                        <div class="row justify-content-sm-between align-items-sm-center mb-4">
                            <div class="col-md-5 col-lg-4 mb-2 mb-md-0">
                                <!-- Datepicker -->
                                <div id="datepickerWrapper" class="js-focus-state u-datepicker w-auto input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-calendar"></span>
                                        </span>
                                    </div>
                                    <input type="text" class="js-range-datepicker form-control bg-white rounded-right"
                                           data-rp-wrapper="#datepickerWrapper"
                                           data-rp-type="range"
                                           data-rp-date-format="d M Y"
                                           data-rp-default-date='["05 Jul 2018", "19 Jul 2018"]'
                                           data-rp-is-disable-future-dates="true">
                                </div>
                                <!-- End Datepicker -->
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex">
                                    <div class="mr-2">
                                        <!-- Select -->
                                        <select id="datatableEntries" class="js-select selectpicker dropdown-select" data-width="fit" data-style="btn-soft-primary btn-sm">
                                            <option value="24" selected>All activities</option>
                                            <option value="6">File management</option>
                                            <option value="12">Groups management</option>                                            
                                            <option value="18">Invitations</option>
                                            <option value="18">Account</option>
                                        </select>
                                        <!-- End Select -->
                                    </div>
                                    <!-- Search -->
                                    <div class="js-focus-state input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="searchActivities">
                                                <span class="fas fa-search"></span>
                                            </span>
                                        </div>
                                        <input id="datatableSearch" type="email" class="form-control" placeholder="Search activities" aria-label="Search activities" aria-describedby="searchActivities">
                                    </div>
                                    <!-- End Search -->
                                </div>
                            </div>
                        </div>


                        @*<hr class="mt-2 mb-4">*@
                        <!-- Indicator -->
                        <div class="card">
                            <div class="card-body pt-4 pb-5 px-5 mb-3 mb-md-0">
                                <!-- Title & Settings -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="h6 mb-0">Today - Wednesday, May 29, 2019</h4>
                                    <!-- Settings Dropdown -->
                                    <div class="position-relative">
                                        <a id="activitySettingsDropdownInvoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" role="button"
                                           aria-controls="activitySettingsDropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           data-unfold-event="click"
                                           data-unfold-target="#activitySettingsDropdown"
                                           data-unfold-type="css-animation"
                                           data-unfold-duration="300"
                                           data-unfold-delay="300"
                                           data-unfold-hide-on-scroll="true"
                                           data-unfold-animation-in="slideInUp"
                                           data-unfold-animation-out="fadeOut">
                                            <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                        </a>
                                        <div id="activitySettingsDropdown" class="dropdown-menu dropdown-unfold dropdown-menu-right" aria-labelledby="activitySettingsDropdownInvoker" style="min-width: 190px;">
                                            <a class="dropdown-item" href="#">
                                                <small class="fas fa-trash dropdown-item-icon"></small>
                                                Delete all activities
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <small class="fas fa-eye dropdown-item-icon"></small>
                                                Recent 10 activities
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <small class="fas fa-eye dropdown-item-icon"></small>
                                                List all activities
                                            </a>
                                            @*<a class="dropdown-item" href="#">
                                                <small class="fas fa-calendar-check dropdown-item-icon"></small>
                                                List activities by period
                                            </a>*@
                                        </div>
                                    </div>
                                    <!-- End Settings Dropdown -->
                                </div>
                                <!-- End Title & Settings -->
                                <hr class="mt-3 mb-4">
                                <div class="overflow-hidden">
                                    <div class="js-scrollbar pr-3" style="max-height: 600px;">
                                        <!-- Activity Feed -->
                                        <ul class="list-unstyled u-indicator-vertical-dashed">
                                            <li class="media u-indicator-vertical-dashed-item">                                               
                                                    <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                        <span class="btn-icon__inner">A</span>
                                                    </span>
                                                    <div class="media-body col-md-12 row">
                                                        <div class="col-md-4">
                                                            <h5 class="font-size-1 mb-1">Account</h5>
                                                            </div>
                                                        <div class="col-md-4">
                                                            <p class="small mb-1">Login/Logout:</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                        </div>
                                                        <small class="d-block text-muted ml-3">3:10 PM</small>  
                                                    </div>                                                                                              
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
                                                    <span class="btn-icon__inner">G</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Create new group/Remove group</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>  
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-warning rounded-circle mr-3">
                                                    <span class="btn-icon__inner text-white">F</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">File management</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Upload/Delete/Edit/Share</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">file name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>  
                                                </div>
                                            </li>
                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-danger rounded-circle mr-3">
                                                    <span class="btn-icon__inner">I</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group Invitation</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Accepted invitation/Declined invitation:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
                                                    <span class="btn-icon__inner">G</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Create new group/Remove group</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-warning rounded-circle mr-3">
                                                    <span class="btn-icon__inner text-white">F</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">File management</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Upload/Delete/Edit/Share</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">file name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>
                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-danger rounded-circle mr-3">
                                                    <span class="btn-icon__inner">I</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group Invitation</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Accepted invitation/Declined invitation:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
                                                    <span class="btn-icon__inner">G</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Create new group/Remove group</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-warning rounded-circle mr-3">
                                                    <span class="btn-icon__inner text-white">F</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">File management</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Upload/Delete/Edit/Share</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">file name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>
                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-danger rounded-circle mr-3">
                                                    <span class="btn-icon__inner">I</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group Invitation</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Accepted invitation/Declined invitation:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- End Activity Feed -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Indicator -->

                        <!-- Indicator -->
                        <div class="card">
                            <div class="card-body pt-4 pb-5 px-5 mb-3 mb-md-0">
                                <!-- Title & Settings -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="h6 mb-0">2 days ago - Wednesday, May 27 2019</h4>
                                    <!-- Settings Dropdown -->
                                    <div class="position-relative">
                                        <a id="activitySettingsDropdownInvoker" class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" role="button"
                                           aria-controls="activitySettingsDropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           data-unfold-event="click"
                                           data-unfold-target="#activitySettingsDropdown"
                                           data-unfold-type="css-animation"
                                           data-unfold-duration="300"
                                           data-unfold-delay="300"
                                           data-unfold-hide-on-scroll="true"
                                           data-unfold-animation-in="slideInUp"
                                           data-unfold-animation-out="fadeOut">
                                            <span class="fas fa-ellipsis-h btn-icon__inner"></span>
                                        </a>
                                        <div id="activitySettingsDropdown" class="dropdown-menu dropdown-unfold dropdown-menu-right" aria-labelledby="activitySettingsDropdownInvoker" style="min-width: 190px;">
                                            <a class="dropdown-item" href="#">
                                                <small class="fas fa-trash dropdown-item-icon"></small>
                                                Delete all activities
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <small class="fas fa-eye dropdown-item-icon"></small>
                                                Recent 10 activities
                                            </a>
                                            <a class="dropdown-item" href="#">
                                                <small class="fas fa-eye dropdown-item-icon"></small>
                                                List all activities
                                            </a>
                                            @*<a class="dropdown-item" href="#">
                                <small class="fas fa-calendar-check dropdown-item-icon"></small>
                                List activities by period
                            </a>*@
                                        </div>
                                    </div>
                                    <!-- End Settings Dropdown -->
                                </div>
                                <!-- End Title & Settings -->
                                <hr class="mt-3 mb-4">
                                <div class="overflow-hidden">
                                    <div class="js-scrollbar pr-3" style="max-height: 600px;">
                                        <!-- Activity Feed -->
                                        <ul class="list-unstyled u-indicator-vertical-dashed">
                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
                                                    <span class="btn-icon__inner">G</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Create new group/Remove group</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-warning rounded-circle mr-3">
                                                    <span class="btn-icon__inner text-white">F</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">File management</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Upload/Delete/Edit/Share</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">file name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>
                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-danger rounded-circle mr-3">
                                                    <span class="btn-icon__inner">I</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group Invitation</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Accepted invitation/Declined invitation:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-success rounded-circle mr-3">
                                                    <span class="btn-icon__inner">G</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Create new group/Remove group</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-warning rounded-circle mr-3">
                                                    <span class="btn-icon__inner text-white">F</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">File management</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Upload/Delete/Edit/Share</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">file name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>
                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-primary rounded-circle mr-3">
                                                    <span class="btn-icon__inner">A</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Account</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Login/Logout:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Ipad/Iphone/PC</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>

                                            <li class="media u-indicator-vertical-dashed-item">
                                                <span class="btn btn-xs btn-icon btn-danger rounded-circle mr-3">
                                                    <span class="btn-icon__inner">I</span>
                                                </span>
                                                <div class="media-body col-md-12 row">
                                                    <div class="col-md-4">
                                                        <h5 class="font-size-1 mb-1">Group Invitation</h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1">Accepted invitation/Declined invitation:</p>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <p class="small mb-1 font-weight-medium">Group name</p>
                                                    </div>
                                                    <small class="d-block text-muted ml-3">3:10 PM</small>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- End Activity Feed -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Indicator -->


                        
                    </div>
                </div>
            </div>

        </div>

      
    </section>
