﻿@model CustomerInfoModel

@{
    Layout = "_Root4FrontTheme";

    Html.AddTitleParts("My Profile");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/customer-info-main.js");
}

<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>

    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container space-2">
        <div class="row">
            <div class="col-md-12">

                <h2 class="h4 mb-0">My Profile</h2>
                <hr class="mt-2 mb-4">

                <vc:zenith-customer-avatar version="FrontThemeEdit"></vc:zenith-customer-avatar>

                <form id="infoForm" asp-route="CustomerInfo" method="post">

                    <input type="hidden" asp-for="Email" />

                    <div class="form-group row mb-4">
                        <label class="col-sm-3 col-form-label">First Name</label>
                        <div class="col-sm-9">
                            <input asp-for="FirstName"
                                   class="form-control"
                                   type="text" required="required"
                                   data-msg="This field is mandatory"
                                   data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true" />
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-sm-3 col-form-label">Last Name</label>
                        <div class="col-sm-9">
                            <input asp-for="LastName"
                                   class="form-control"
                                   type="text" required="required" data-msg="This field is mandatory"
                                   data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true" />
                            <small class="form-text text-muted mt-1">Your last name is preferred for email communication.</small>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-sm-3 col-form-label">Birthday</label>
                        <div class="col-sm-9">
                            <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                             asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                             asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                             asp-begin-year="@(DateTime.Now.Year - 110)"
                                             asp-end-year="@(DateTime.Now.Year)"
                                             asp-selected-day="@Model.DateOfBirthDay"
                                             asp-selected-month="@Model.DateOfBirthMonth"
                                             asp-selected-year="@Model.DateOfBirthYear"
                                             asp-localize-labels="true" />
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <span class="form-control bg-light">
                                @Model.Email
                            </span>
                            <small class="form-text text-muted mt-1">Your email cannot be updated.</small>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-end">
                        <button class="btn btn-primary" type="submit" disabled>
                            <i class="fas fa-check-circle mr-1"></i>
                            Save Changes
                        </button>
                        <button class="btn btn-secondary ml-2" type="reset" disabled>
                            <i class="fas fa-times-circle mr-1"></i>
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script asp-location="Footer">
    $(document).ready(function () {
        var $form = $('#infoForm');
        var $wrapper = $form.find('.date-picker-wrapper');
        $wrapper.css('width', '100%');
        $wrapper.addClass('d-flex flex-row');
        var $fields = $wrapper.find('select');
        $fields.css('display', 'inline-block');
        $fields.css('width', 'auto');
        $fields.addClass('form-control u-form-control rounded-0 flex-grow-1');
    });
</script>
