@model LoginModel
@using System.Net
@using Nop.Core
@using Nop.Services.Customers
@inject IWebHelper webHelper
@inject ICustomerService customerService;
@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    // ladda (loading indication on buttons)
    //Html.AppendCssFileParts("~/node-modules/ladda/dist/ladda.min.css");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/node-modules/spin.js/spin.js");
    //Html.AddScriptParts(ResourceLocation.Footer, "~/node-modules/ladda/js/ladda.js");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/login-main.js");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + WebUtility.UrlEncode(this.Context.Request.Query["returnUrl"]), null);
    }

    if (!string.IsNullOrEmpty(this.Context.Request.Query["email"]))
    // Check if we already know some email or not
    {
        Model.Email = this.Context.Request.Query["email"];
    }
}

<!-- Login -->
<section class="container g-py-100--md">
    <div class="row justify-content-center">
            <div class="col-sm-10 col-md-9 col-lg-6">
                <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
                    <header class="text-center mb-4">
                        <vc:zenith-logo version="Default"></vc:zenith-logo>
                        <h3 class="h3 g-color-black g-font-weight-600 mt-4">Member Sign-in</h3>
                    </header>

                    <!-- Form -->
                    <form class="g-py-15" asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post"
                          autocomplete="on"
                          name="login-form">

                        @if (!ViewContext.ModelState.IsValid)
                        {
                            <div class="alert alert-danger fade show mb-4" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="h5">
                                    <i class="fa fa-minus-circle"></i> Oh Snap!
                                </h4>
                                <div asp-validation-summary="ModelOnly">@T("Account.Login.Unsuccessful")</div>
                            </div>
                        }

                        <div class="mb-4" id="email-wrapper">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text g-brd-gray-light-v4">
                                        <i class="fa fa-user-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                       type="email" placeholder="Email" asp-for="Email" />
                                <div class="input-group-append">
                                    <button type="button" class="clear-input btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-4" id="password-wrapper">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text g-brd-gray-light-v4">
                                        <i class="fa fa-key" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                       type="password" autocomplete="off" placeholder="Password" asp-for="Password" />
                                <div class="input-group-append">
                                    <button type="button" class="toggle-password btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover support-strength-indicator">
                                        <i class="toggle-icon fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div class="row justify-content-end mt-2">
                                <div class="col align-self-center text-right">
                                    <a class="g-font-size-12" asp-route="PasswordRecovery">Forgot password?</a>
                                </div>
                            </div>
                        </div>

                        @if (Model.DisplayCaptcha)
                        {
                            <div class="captcha-box mb-4">
                                <nop-captcha />
                            </div>
                        }

                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-12 g-pl-25 mb-0">
                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" asp-for="RememberMe" />
                                    <span class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                        <i class="fa" data-check-icon="&#xf00c" aria-hidden="true"></i>
                                    </span>
                                    Keep signed in
                                </label>
                            </div>
                            <div class="col align-self-center text-right">
                                <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" type="submit">
                                    @T("Account.Login.LoginButton")
                                </button>
                            </div>
                        </div>
                    </form>
                    <footer class="text-center mt-4">
                        <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">
                            Don't have an account? <a class="g-font-weight-600" href="@Url.RouteUrl("Register")">Create one now</a>
                        </p>
                    </footer>
                </div>
            @await Html.PartialAsync("_FooterLinks4LightPage")
        </div>
    </div>
</section>
<!-- End Login -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#password-wrapper input").focus();
    });
</script>




