@model NXdrive.Web.Models.Customer.PasswordRecoveryModel

@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/password-recovery-main.js");
}
<section class="container g-py-100--md">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">

                <header class="text-center mb-4">
                    <vc:zenith-logo version="Default"></vc:zenith-logo>
                    <h3 class="h3 g-color-black g-font-weight-600 mt-4">Recover your password</h3>
                </header>

                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="alert alert-success" role="alert">
                        @Model.Result
                    </div>
                }

                @if (string.IsNullOrEmpty(Model.Result) || !Model.Success)
                {
                    <p>NXdrive protects your password and security info. To reset your password, please first enter your NXdrive account below:</p>

                    <form class="g-py-15" asp-route="PasswordRecovery" method="post">

                        @if (!ViewContext.ModelState.IsValid)
                        {
                            <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0 mb-4" role="alert">
                                <button type="button" class="close u-alert-close--light g-ml-10 g-mt-1" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div asp-validation-summary="ModelOnly"></div>
                            </div>
                        }

                        <div class="mb-4" id="email-wrapper">
                            <div class="input-group">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                       type="email" placeholder="Email" asp-for="Email" />
                                <div class="input-group-append">
                                    <button type="button" class="clear-input btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="g-mb-35">
                            <p>By clicking the send button, we will send the reset link to your email!</p>
                        </div>

                        <div class="mb-4">
                            <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" type="submit">Send</button>
                        </div>
                    </form>
                }
            </div>

            @await Html.PartialAsync("_FooterLinks4LightPage")
        </div>

    </div>
</section>

<script type="text/javascript" asp-location="Footer">
    $(document).ready(function () {
        $('#email-wrapper input').focus();
    });
</script>


