@model PasswordRecoveryConfirmModel

@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);

    // Password strength
    Html.AppendScriptParts(ResourceLocation.Footer, "~/node_modules/pwstrength-bootstrap/dist/pwstrength-bootstrap.js");

    // We reuse change password javascript
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/change-password-main.js");

}

<section class="container g-py-100--md">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">

                <header class="text-center mb-4">
                    <vc:zenith-logo version="Default"></vc:zenith-logo>
                    <h2 class="h3 g-color-black g-font-weight-600 mt-4">Reset your password</h2>
                </header>

                @if (!string.IsNullOrEmpty(Model.Result))
                {
                    <div class="alert alert-success" role="alert">
                        @Model.Result
                    </div>

                    <div>
                        <small>
                            You will be redirected to the
                            <a class="g-font-weight-600" href="@Url.RouteUrl("Login")">Sign in</a> page after 10 seconds.
                        </small>
                    </div>
                }
                else
                {

                    <form class="g-py-15" asp-route="PasswordRecoveryConfirm"
                          asp-route-token="@Context.Request.Query["token"]" asp-route-email="@Context.Request.Query["email"]" method="post">

                        <div asp-validation-summary="ModelOnly" class="message-error"></div>

                        <div class="mb-4" id="new-password-wrapper">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" asp-for="NewPassword"></label>
                            <div class="input-group">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 support-strength-indicator"
                                       type="password" placeholder="Password" asp-for="NewPassword" />
                                <div class="input-group-append">
                                    <button type="button" class="toggle-password btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                            <div class="d-flex flex-row align-content-center">
                                <div class="password-score-wrapper flex-grow-1"></div>
                                <div class="password-verdict-wrapper px-2"></div>
                            </div>
                        </div>

                        <div class="mb-4">
                            <label class="g-color-gray-dark-v2 g-font-weight-600 g-font-size-13" asp-for="ConfirmNewPassword"></label>
                            <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                   type="password" placeholder="Confirm Password" asp-for="ConfirmNewPassword" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <div class="mb-4">
                            <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" type="submit">Submit</button>
                        </div>
                    </form>
                }

            </div>

            @await Html.PartialAsync("_FooterLinks4LightPage")

        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(Model.Result))
{
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                window.location = '@Url.RouteUrl("Login")';
            }, 10 * 1000);
        });
    </script>
}

