﻿
<div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
    <div class="g-pa-20">
        <div class="row">
            <div class="col-md-3 g-mb-30 g-mb-0--md">
                @await Component.InvokeAsync("OurUserAccountSubmenu")
            </div>
            <div class="col-md-9">
                <div class="card h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-40--md">
                    <form class="js-validate">
                        <header>
                            <h2 class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0">Payment Method</h2>
                        </header>
                        <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">

                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0">We accept</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <img src="~/img/payment-logo/logo_visa.svg" width="80px" />
                                <img src="~/img/payment-logo/logo_mc.svg" width="80px" />
                                <img src="~/img/payment-logo/logo_amex.svg" width="80px" />
                                <img src="~/img/payment-logo/logo_discover.svg" width="80px" />
                            </div>
                        </div>
                        <!--Name-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#firstName">Cardholder Name</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="form-group g-pos-rel mb-0">
                                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                    </span>
                                    <input id="firstName" name="firstName" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="text" required="required" data-msg="This field is mandatory"
                                           data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <!--Card Number-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#lastName">Card Number</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="form-group g-pos-rel mb-0">
                                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                    </span>
                                    <input id="cardNumber" name="cardNumber" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="number" required="required" data-msg="This field is mandatory"
                                           data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                </div>
                            </div>
                        </div>
                        <!--Expires-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0">Expires</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-6 col-md-auto align-self-center g-width-100--md g-px-10">
                                        <div class="form-group u-select--v2 g-pos-rel g-brd-gray-light-v7 g-rounded-4 mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <select class="js-select u-select--v2-select w-100" required="required" style="display: none;">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                                <option>6</option>
                                                <option>7</option>
                                                <option>8</option>
                                                <option>9</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option selected="selected">12</option>
                                                <option>13</option>
                                                <option>14</option>
                                                <option>15</option>
                                                <option>16</option>
                                                <option>17</option>
                                                <option>18</option>
                                                <option>19</option>
                                                <option>20</option>
                                                <option>21</option>
                                                <option>22</option>
                                                <option>23</option>
                                                <option>24</option>
                                                <option>25</option>
                                                <option>26</option>
                                                <option>27</option>
                                                <option>28</option>
                                                <option>29</option>
                                                <option>30</option>
                                                <option>31</option>
                                            </select>
                                            <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto g-mr-15"></i>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-auto align-self-center g-width-135--md g-px-10">
                                        <div class="form-group u-select--v2 g-pos-rel g-brd-gray-light-v7 g-rounded-4 mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <select class="js-select u-select--v2-select w-100" required="required" style="display: none;">
                                                <option selected="selected">2018</option>
                                                <option>2019</option>
                                                <option>2020</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                                <option>2025</option>
                                                <option>2026</option>
                                                <option>2027</option>
                                                <option>2028</option>
                                                <option>2029</option>
                                                <option>2030</option>

                                            </select>
                                            <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto g-mr-15"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--CVV-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#phone">CVV</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-auto align-self-center g-width-270 g-px-10">
                                        <div class="form-group g-pos-rel mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <input id="phone" name="phone" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="tel" required="required" data-msg="This field is mandatory"
                                                   data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                        </div>
                                    </div>
                                    <div class="col align-self-center g-hidden-md-down g-px-10">
                                        <em class="d-flex align-self-center align-items-center g-font-style-normal g-color-gray-dark-v6">
                                            <span class="g-pos-rel g-width-18 g-height-18 g-bg-lightblue-v3 g-brd-around g-brd-lightblue-v3 rounded-circle">
                                                <i class="hs-admin-info g-absolute-centered g-font-weight-800 g-font-size-8 g-color-white" title="Confirmed"></i>
                                            </span>
                                            <span class="g-hidden-lg-down g-font-weight-300 g-font-size-default g-color-lightblue-v3 g-ml-8">What's this?</span>
                                        </em>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End CVV-->
                        <!--Address1-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#firstName">Address line 1</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="form-group g-pos-rel mb-0">
                                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                    </span>
                                    <input id="address1" name="address1" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="text" required="required" data-msg="This field is mandatory"
                                           data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                </div>
                            </div>
                        </div>

                        <!--Address2-->

                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#firstName">Address line 2</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="form-group g-pos-rel mb-0">
                                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                    </span>
                                    <input id="address2" name="address2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="text" required="required" data-msg="This field is mandatory"
                                           data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                </div>
                            </div>
                        </div>

                        <!--City-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#phone">City</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-auto align-self-center g-width-270 g-px-10">
                                        <div class="form-group g-pos-rel mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <input id="city" name="city" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="text" required="required" data-msg="This field is mandatory"
                                                   data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--State-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0">State</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-6 col-md-auto align-self-center g-width-270 g-px-10">
                                        <div class="form-group u-select--v2 g-pos-rel g-brd-gray-light-v7 g-rounded-4 mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <select class="js-select u-select--v2-select w-100" required="required" style="display: none;">
                                                <option selected="selected" value="Selected">- Select -</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>

                                            </select>
                                            <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto g-mr-15"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--Zip code-->

                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#zipcode">Zip Code</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-auto align-self-center g-width-270 g-px-10">
                                        <div class="form-group g-pos-rel mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <input id="zipcode" name="zipcode" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="number" required="required" data-msg="This field is mandatory"
                                                   data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Country-->

                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0">Country/Region</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-6 col-md-auto align-self-center g-width-270 g-px-10">
                                        <div class="form-group u-select--v2 g-pos-rel g-brd-gray-light-v7 g-rounded-4 mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <select class="js-select u-select--v2-select w-100" required="required" style="display: none;">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option selected="selected" value="Selected">- United States -</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>

                                            </select>
                                            <i class="hs-admin-angle-down g-absolute-centered--y g-right-0 g-color-gray-light-v6 ml-auto g-mr-15"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--phone Number-->
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#phone">Phone Number</label>
                            </div>
                            <div class="col-md-9 align-self-center">
                                <div class="row g-mx-minus-10">
                                    <div class="col-auto align-self-center g-width-270 g-px-10">
                                        <div class="form-group g-pos-rel mb-0">
                                            <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                                <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                            </span>
                                            <input id="phone" name="phone" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="tel" required="none" data-msg="This field is mandatory"
                                                   data-error-class="u-has-error-v3" data-success-class="has-success" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-mb-20">
                            <div class="col-md-3 align-self-center"></div>
                            <div class="col-md-9 align-self-center">
                                <a class="btn btn-link d-flex align-self-center align-items-center u-link-v5 g-color-lightblue-v3 g-color-lightblue-v4--hover  g-brd-none p-0" href="#!">
                                    <i class="hs-admin-plus g-font-size-17"></i>
                                    <span class="g-font-weight-300 g-ml-10">Add new card</span>
                                </a>
                            </div>
                        </div>

                        <!--Save button-->
                        <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md">
                        <div>
                            <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save</button>
                            <button class="btn btn-md btn-xl--md u-btn-outline-gray-dark-v6 g-font-size-12 g-font-size-default--md g-mr-10 g-mb-10" type="reset">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>




