@model NXdrive.Web.Models.Customer.PreSignModel
@using System.Net
@using Nop.Core
@inject IWebHelper webHelper
@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts("Sign In/Up");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/presign-main.js");

    if (!string.IsNullOrEmpty(this.Context.Request.Query["returnUrl"]))
    {
        Model.ReturnUrl = this.Context.Request.Query["returnUrl"];
    }

    if (!string.IsNullOrEmpty(this.Context.Request.Query["email"]))
    // Check if we already know some email or not
    {
        Model.Email = this.Context.Request.Query["email"];
    }

    var isSignup = string.Equals(Model.NextStep, "signup", StringComparison.CurrentCultureIgnoreCase);

    if (!string.IsNullOrEmpty(Model.Email) && Model.Errors.Count() > 0)
    {
        Model.DisplayCaptcha = true;
    }
}

<!-- Login -->
<section class="container g-py-100--md">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
                <header class="text-center mb-4">
                    <vc:zenith-logo version="Default"></vc:zenith-logo>
                    @if (isSignup)
                    {
                        <h3 class="h3 g-color-black g-font-weight-600 mt-4">
                            Sign Up
                        </h3>
                    }
                    else
                    {
                        <h3 class="h3 g-color-black g-font-weight-600 mt-4">
                            Member Sign-in
                        </h3>
                    }
                </header>

                <!-- Form -->
                <form class="g-py-15" asp-route="PreSign" method="post"
                      autocomplete="on" id="sign-form" name="sign-form">

                    @if (!ViewContext.ModelState.IsValid)
                    {
                        <div class="alert alert-danger fade show mb-4" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="h5">
                                <i class="fa fa-minus-circle"></i> Oh Snap!
                            </h4>
                            <div asp-validation-summary="ModelOnly">@T("Account.Login.Unsuccessful")</div>
                        </div>
                    }

                    @if (Model.Errors.Count() > 0)
                    {
                        foreach (var x in Model.Errors)
                        {
                            <div class="alert alert-info fade show mb-1" role="alert">
                                <h4 class="h5">
                                    <i class="fa fa-minus-circle"></i> @x.Item1
                                </h4>

                                @if (string.IsNullOrEmpty(x.Item2))
                                {
                                    <a href="@x.Item3">@x.Item2</a>
                                }
                            </div>
                        }
                    }

                    <input type="hidden" asp-for="NextStep" />
                    <input type="hidden" asp-for="ReturnUrl" />

                    <div class="mb-4" id="email-wrapper">
                        <label class="form-label h5 m2-3">Please input your email to start</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text g-brd-gray-light-v4">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                   type="email" placeholder="Email" asp-for="Email" />
                            <div class="input-group-append">
                                <button type="button" class="clear-input btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger font-italic"></span>
                    </div>

                    @if (Model.DisplayCaptcha)
                    {
                        <div class="captcha-box mb-4">
                            <nop-captcha />
                        </div>
                    }

                    <div class="row justify-content-between">
                        <div class="col align-self-center text-right">
                            @if (string.IsNullOrEmpty(Model.Email))
                            {
                                <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" disabled type="submit">
                                    @(isSignup ? "Get Started" : "Continue")
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" type="submit">
                                    @(isSignup ? "Get Started" : "Continue")
                                </button>
                            }
                        </div>
                    </div>
                </form>

                <footer class="text-center mt-4">
                    @if (isSignup)
                    {
                        <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">
                            Already have an account? <a class="g-font-weight-600" href="@Url.RouteUrl("Login")">Sign in now</a>
                        </p>
                    }
                    else
                    {
                        <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">
                            Don't have an account? <a class="g-font-weight-600" href="@Url.RouteUrl("Register")">Create one now</a>
                        </p>
                    }
                </footer>

            </div>

            @await Html.PartialAsync("_FooterLinks4LightPage")
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $("#email-wrapper input").focus();
    });
</script>




