﻿@using NXdrive.Web.Models.Customer
@model PrivacyModel
@{
    Layout = "_Root4FrontTheme";
}

<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <!-- Breadcrumb -->
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Privacy Settings</li>
                    </ol>
                    <!-- End Breadcrumb -->
                    <!-- Breadcrumb Nav Toggle Button -->
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                    <!-- End Breadcrumb Nav Toggle Button -->
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <!-- User Info -->
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
                <!-- End User Info -->
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <!-- Navbar -->
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
            <!-- End Navbar -->
        </div>
    </div>
</div>

<section class="g-mb-100">
    
    <div class="container">
        <div class="row">            
            <div class="col-lg-12">
                
                <div class="container space-2">
                    <h2 class="h4 mb-0">Privacy Settings</h2>
                    <hr class="mt-2 mb-4">

                    <div class="alert alert-light w-lg-80 border shadow-sm mt-2 mb-4" role="alert">
                        <div class="custom-control w-lg-80 custom-switch mt-2 mb-4">
                            <input type="checkbox" class="custom-control-input" id="CookieSettingsSwitch" checked>
                            <label class="custom-control-label" for="CookieSettingsSwitch">
                                <span class="d-block">Cookie Settings </span>
                                <small class="d-block text-muted">Allow NXdrive website to use cookie.</small>
                            </label>
                        </div>

                        <hr class="my-3">

                        <div class="custom-control w-lg-80 custom-switch mt-2 mb-4">
                            <input type="checkbox" class="custom-control-input" id="SynchronizationSwitch" checked>
                            <label class="custom-control-label" for="SynchronizationSwitch">
                                <span class="d-block">Synchronization </span>
                                <small class="d-block text-muted">Synchronize all files between your devices.</small>
                            </label>
                        </div>
                    </div>
                 </div>

                </div>

        </div>
    </div>
</section>
