@model RegisterModel
@using System.Text.Encodings.Web
@inject Nop.Core.IWorkContext workContext;
@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");

    // Password strength
    Html.AppendScriptParts(ResourceLocation.Footer, "~/node_modules/pwstrength-bootstrap/dist/pwstrength-bootstrap.js");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/register-main.js");

    if (!string.IsNullOrEmpty(this.Context.Request.Query["email"]))
    // Check if we already know some email or not
    {
        Model.Email = this.Context.Request.Query["email"];
    }

    Model.DisplayCaptcha = true;

}
<!-- Promo Block -->
<!-- Signup -->
<section class="container g-py-100--md">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-10 g-brd-around g-brd-gray-light-v4 rounded ">

            <div class="row justify-content-between align-items-center">

                <div class="col-sm-12 col-md-7">
                    <div class="g-py-40 g-px-30">

                        <header class="text-center mb-4">
                            <vc:zenith-logo version="Default"></vc:zenith-logo>
                            <h3 class="h3 g-color-black g-font-weight-600 mt-4">Create Free Account</h3>
                        </header>

                        <form class="g-py-15" asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="on" name="register-form">

                            @if (!ViewContext.ModelState.IsValid)
                            {
                                <div class="alert alert-danger fade show mb-4" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="h5">
                                        <i class="fa fa-minus-circle"></i> Oh Snap!
                                    </h4>
                                    <div asp-validation-summary="ModelOnly"></div>
                                </div>
                            }

                            <div class="row">
                                <div class="col-xs-12 col-sm-6 mb-4" id="first-name-wrapper">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                           type="text" placeholder="First Name" asp-for="FirstName" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="col-xs-12 col-sm-6 mb-4">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                           type="text" placeholder="Last Name" asp-for="LastName" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-4" id="email-wrapper">
                                <div class="input-group">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                           type="email" placeholder="Email" asp-for="Email" />
                                    <div class="input-group-append">
                                        <button type="button" class="clear-input btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="mb-4" id="password-wrapper">
                                <div class="input-group">
                                    <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15 support-strength-indicator"
                                           type="password" placeholder="Password" asp-for="Password" />
                                    <div class="input-group-append">
                                        <button type="button" class="toggle-password btn btn-outline-secondary g-brd-gray-light-v4 g-brd-primary--hover">
                                            <i class="toggle-icon fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                                <div class="d-flex flex-row align-content-center">
                                    <div class="password-score-wrapper flex-grow-1"></div>
                                    <div class="password-verdict-wrapper px-2"></div>
                                </div>
                            </div>

                            <div class="mb-4">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15"
                                       type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box mb-4">
                                    <nop-captcha />
                                </div>
                            }

                            <div class="row justify-content-between">
                                <div class="col-8 align-self-center">
                                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25">
                                        <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox">
                                        <span class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                            <i class="fa" data-check-icon="&#xf00c"></i>
                                        </span>
                                        I accept the &nbsp; <a href="@Url.RouteUrl("Term")">Terms and Conditions</a>
                                    </label>
                                </div>
                                <div class="col-4 align-self-center text-right">
                                    <button class="btn btn-md btn-block u-btn-primary rounded g-py-13"
                                            type="submit">
                                        @T("Account.Register.Button")
                                    </button>
                                </div>
                            </div>
                        </form>

                        <footer class="text-center mt-4">
                            <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">
                                Already have an account? <a class="g-font-weight-600" href="@Url.RouteUrl("Login")">Sign in now</a>
                            </p>
                        </footer>
                    </div>
                </div>

                <div class="col-sm-12 col-md-5">
                    <div class="g-py-40 g-px-30">

                        <div class="mb-5">
                            <h1 class="h3 g-font-weight-600 mb-3">
                                Exceptional secure online storage/backup<br>
                                for storing and sharing sensitive data files and images
                            </h1>
                        </div>

                        <!-- Icon Blocks -->
                        <div class="media mb-4">
                            <div class="d-flex mr-4">
                                <span class="align-self-center u-icon-v1 u-icon-size--lg">
                                    <i class="icon-media-079 u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body align-self-center">
                                <p class="mb-0">
                                    Defend against data breach --- one of the major cyber security threats of the online data storage.
                                </p>
                            </div>
                        </div>
                        <div class="media mb-4">
                            <div class="d-flex mr-4">
                                <span class="align-self-center u-icon-v1 u-icon-size--lg">
                                    <i class="icon-media-091 u-line-icon-pro"></i>
                                </span>
                            </div>
                            <div class="media-body align-self-center">
                                <p class="mb-0">
                                    Protects the data privacy, having the unique abilities to disable a number of semantic analyzing tools
                                    that targets for your data privacy.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        @await Html.PartialAsync("_FooterLinks4LightPage")

    </div>
</section>
<!-- End Signup -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#first-name-wrapper input").focus();
    });
</script>