@model NXdrive.Web.Models.Customer.RegisterResultModel

@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}

<section class="g-min-height-100vh g-flex-centered g-bg-cover g-bg-black-opacity-0_5--after" style="overflow-y:hidden; background-image: url(img/pages/signUp-smaller.jpg);">
    @*g-bg-lightblue-radialgradient-circle*@

    <div class="container" style="z-index:999;">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-9 col-lg-6">
                <div class="u-shadow-v24 g-bg-white rounded g-py-40 g-px-30">
                    <header class="text-center mb-4">
                        <h2 class="h2 g-color-black g-font-weight-600">Verify Email</h2>
                    </header>
                    <article class="u-shadow-v11">
                        <div class="g-bg-white g-pa-30">
                            <ul class="list-inline d-flex mb-0">
                                <li class="list-inline-item g-color-gray-dark-v4">
                                    <i class="align-middle g-color-primary g-font-size-default mr-1 icon-education-166 u-line-icon-pro"></i>
                                    <a class="d-inline-block g-color-gray-dark-v4 g-font-size-13 g-cursor-pointer g-text-underline--none--hover" href="#!">@Model.Email</a>
                                </li>
                            </ul>
                            <hr class="g-my-20">
                            <p class="g-color-gray-dark-v4 g-line-height-1_8">
                                Thank you for registering! Please go to
                                <a class="h5 g-color-black g-font-weight-600" href="mailto:@Model.Email">your email</a> to verify it.
                            </p>
                            <p class="g-color-gray-dark-v4 g-line-height-1_8 mt-3">
                                If you didn't get the email, check your junk folder or
                                <a class="g-font-size-13" href="#!">try again</a>.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
