﻿@model PrivateMessageListModel

@{
    var ctrlClass = Model.Messages.Count > 0 ? "has-one" : "";
}
<style>

    .inbox-message-list-wrapper.has-one .empty-list {
        display: none;
    }
</style>

<div class="container space-2 inbox-message-list-wrapper @ctrlClass">
    <div class="inbox-message-list">
        @for (var i = 0; i < Model.Messages.Count; i++)
        {
            var item = Model.Messages[i];
            var classes = i % 2 == 0 ? "bg-white" : "";

            <div class="@classes message-box">
                <div class="media mb-3">
                    <div class="u-avatar mr-3">
                        <img class="img-fluid rounded-circle" src="@item.CustomProperties["AvatarUrl"]" alt="@item.CustomerFromName">
                    </div>
                    <div class="media-body">
                        <h4 class="d-inline-block mb-1">
                            <span class="d-block h6 mb-0">@item.CustomerFromName</span>
                        </h4>
                        <small class="d-block text-muted">@item.CreatedOn</small>
                    </div>
                </div>
                <h4 class="h6">
                    @item.Subject
                    @if (!item.IsRead)
                    {
                        <span class="badge badge-danger badge-pill unread">Unread</span>
                    }
                </h4>
                <p>@Html.Raw(item.Message)</p>
                <ul class="list-inline d-flex justify-content-end">
                    @if (!item.IsRead)
                    {
                        <li class="list-inline-item">
                            <button type="button" class="btn btn-link btn-sm text-secondary mark-as-read ladda-button standalone-btn"
                                    data-ladda-wrapper-id="mark-@item.Id"
                                    data-message-id="@item.Id"
                                    data-color="purple"
                                    data-style="expand-right">
                                <span class="ladda-label">
                                    <i class="far fa-comments mr-1"></i>
                                    Mark as Read
                                </span>
                            </button>
                        </li>
                    }
                    <li class="list-inline-item">
                        <button type="button" class="btn-link btn btn-sm text-secondary reply-old-message"
                                data-message-id="@item.Id"
                                data-customer-id="@item.FromCustomerId">
                            <i class="far fa-comments mr-1"></i>
                            Reply
                        </button>
                    </li>
                </ul>
                <hr class="my-6">
            </div>

        }
        @if (Model.Messages.Count > 0)
        {
            var pager = Html.Pager(Model.PagerModel);
            if (!string.IsNullOrEmpty(pager.ToHtmlString()))
            {
                <div class="pager">
                    @pager
                </div>
            }
        }
    </div>

    <div class="row empty-list">
        <div class="col-md-12 mb-7">
            <div class="text-center px-lg-3 py-7">
                <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
                    <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
                </span>
                <p class="mb-md-0">You don't have any inbox messages at this moment.</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ReplyPrivateMessageModal")

<!-- Reply old messages -->
<script asp-location="Footer">
    $(document).ready(function () {
        $(document).on("click", ".inbox-message-list .message-box button.reply-old-message", function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $target = $(evt.target);
            $target = $target.closest('button');

            var customerId = $target.data('customerId');
            var messageId = $target.data('messageId');

            var $form = $('#reply-private-message-form');
            $form.find('input[name="ReplyToMessageId"]').val(messageId);
            $form.find('input[name="ToCustomerId"]').val(customerId);

            // Clean message title
            $form.find('input[name="Subject"]').val('');
            $form.find('textarea').val('');

            // Show
            showCustomBoxModal('#replyPrivateMessageModal');
        });
    });
</script>
<!-- Mark messages -->
<script asp-location="Footer">
    $(document).ready(function () {

        $(document).on('click', '.inbox-message-list .message-box button.mark-as-read', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $target = $(evt.target);
            $target = $target.closest('button');

            var laddaId = $target.data('laddaWrapperId');
            var ladda = GlobalLaddaButtons[laddaId];

            ladda && ladda.start();

            var messageId = $target.data('messageId');
            var k = 'pm' + messageId;

            var postData = {};
            postData[k] = 'on';
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                type: 'POST',
                url: '@Url.RouteUrl("PrivateMessageMarkUnread")',
                data: postData,
                dataType: 'json',
                success: function (data) {
                    if (data.Data) {
                        for (var k in data.Data) {
                            var $parent = $target.closest('.message-box');
                            $parent.find('.badge.unread').remove();
                            $parent.find('button.mark-as-read').remove();

                            GlobalLaddaButtons[laddaId] = null;
                        }
                    }

                    ladda && ladda.stop();
                    // Remove the button for memory leaking
                    ladda && ladda.remove();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    ladda && ladda.stop();
                    ladda && ladda.remove();

                    bootbox.alert({
                        title: 'Alert',
                        centerVertical: true,
                        message: 'Sorry, something went wrong.'
                    });
                }
            });
        });
    });
</script>