﻿@model PrivateMessageListModel
@{
    var ctrlClass = Model.Messages.Count > 0 ? "has-one" : "";
}
<style>

    .sent-message-list-wrapper.has-one .empty-list {
        display: none;
    }
</style>
<div class="container space-2 sent-message-list-wrapper @ctrlClass">
    <div class="sent-message-list">
        @for (var i = 0; i < Model.Messages.Count; i++)
        {
            var item = Model.Messages[i];
            var classes = i % 2 == 0 ? "bg-white" : "";

            <div class="@classes message-box" data-message-id="@item.Id">
                <div class="media mb-3">
                    <div class="u-avatar mr-3">
                        <img class="img-fluid rounded-circle" src="@item.CustomProperties["AvatarUrl"]" alt="@item.CustomerToName">
                    </div>
                    <div class="media-body">
                        <h4 class="d-inline-block mb-1">
                            <a class="d-block h6 mb-0" href="#">@item.CustomerToName</a>
                        </h4>
                        <small class="d-block text-muted">@item.CreatedOn</small>
                    </div>
                </div>
                <h4 class="h6">
                    @item.Subject
                    @if (!item.IsRead)
                    {
                        <span class="badge badge-info badge-pill">Not read yet</span>
                    }
                </h4>
                <p>@Html.Raw(item.Message)</p>
                <ul class="list-inline d-flex justify-content-end">
                    <li class="list-inline-item">
                        <button type="button"
                                class="btn-link btn btn-sm text-secondary ladda-button standalone-btn delete-sent-message"
                                data-ladda-wrapper-id="delete-@item.Id"
                                data-message-id="@item.Id"
                                data-color="purple"
                                data-style="expand-right">
                            <span class="ladda-label">
                                <i class="far fa-trash-alt mr-1"></i>
                                Delete
                            </span>
                        </button>
                    </li>
                </ul>

                <hr class="my-6">
            </div>

        }

        @if (Model.Messages.Count > 0)
        {
            var pager = Html.Pager(Model.PagerModel);
            if (!string.IsNullOrEmpty(pager.ToHtmlString()))
            {
                <div class="pager">
                    @pager
                </div>
            }
        }
    </div>

    <div class="row empty-list">
        <div class="col-md-12 mb-7">
            <div class="text-center px-lg-3 py-7">
                <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
                    <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
                </span>
                <p class="mb-md-0">You haven't sent any messages yet.</p>
            </div>
        </div>
    </div>
</div>
<script asp-location="Footer">
    $(document).ready(function () {

        const $sentMessageList = $('.sent-message-list');

        $(document).on('click', '.sent-message-list .message-box button.delete-sent-message', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $target = $(evt.target);

            $target = $target.closest('button');


            bootbox.confirm({
                centerVertical: true,
                title: 'Confirmation',
                message: 'Are you sure to delete this message?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn btn-primary btn-sm'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn btn-secondary btn-sm'
                    }
                },
                callback: function (result) {
                    if (!result) {
                        return;
                    }

                    var laddaId = $target.data('laddaWrapperId');
                    var ladda = GlobalLaddaButtons[laddaId];

                    ladda && ladda.start();

                    var messageId = $target.data('messageId');
                    var k = 'si' + messageId;

                    var postData = {};

                    postData[k] = 'on';
                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '@Url.RouteUrl("PrivateMessageDeleteSentPM")',
                        data: postData,
                        dataType: 'json',
                        success: function (data) {

                            if (data.Data) {
                                for (var k in data.Data) {
                                    $sentMessageList.find('.message-box[data-message-id="' + k + '"]').remove();
                                    GlobalLaddaButtons[laddaId] = null;
                                }

                                showToast('.toast', 'Delete Message', 'You just deleted one message.');

                                if ($sentMessageList.find('.message-box').length == 0) {
                                    $sentMessageList.parent().removeClass('has-one');
                                }
                            }

                            ladda && ladda.stop();
                            // Remove the button for memory leaking
                            ladda && ladda.remove();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                             ladda.stop();
                             ladda.remove();

                            bootbox.alert({
                                title: 'Alert',
                                centerVertical: true,
                                message: 'Sorry, we cannot delete the message now.'
                            });
                        }
                    });
                }
            });
        });
    });

</script>
