﻿@model OrderTotalsModel

<div class="d-flex justify-content-between mb-2">
    <span class="g-color-black">@T("ShoppingCart.Totals.SubTotal")</span>
    <span class="g-color-black g-font-weight-300">@Model.SubTotal</span>
</div>

@if (!string.IsNullOrEmpty(Model.SubTotalDiscount))
{
    <div class="d-flex justify-content-between mb-2">
        <span class="g-color-black">@T("ShoppingCart.Totals.SubTotalDiscount")</span>
        <span class="g-color-black g-font-weight-300">@Model.SubTotalDiscount</span>
    </div>
}

@if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
{
    <div class="d-flex justify-content-between mb-2">
        <span class="g-color-black">@T("ShoppingCart.Totals.OrderTotalDiscount")</span>
        <span class="g-color-black g-font-weight-300">@Model.OrderTotalDiscount</span>
    </div>
}

<div class="d-flex justify-content-between mb-2">
    <span class="g-color-black">@T("ShoppingCart.Totals.OrderTotal")</span>
    <span class="g-color-black g-font-weight-300">@Model.OrderTotal</span>
</div>

