﻿@model CustomerNavigationModel

<div class="list-group list-group-border-0 g-mb-40">
    @foreach (var item in Model.CustomerNavigationItems)
    {
        <a class="list-group-item list-group-item-action justify-content-between @(Model.SelectedTab == item.Tab ? "active" : "inactive")" 
           href="@Url.RouteUrl(item.RouteName)">
            <span>
                <i class="g-pos-rel g-top-1 g-mr-8 @item.ItemClass"></i>
                @item.Title
            </span>
        </a>
    }
</div>