﻿<div class="u-header u-header-left-aligned-nav u-header--bg-transparent-lg u-header--white-nav-links z-index-4">
    <div class="u-header__section bg-transparent">
        <nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar u-header__navbar--no-space">
            <div id="breadcrumbNavBar" class="collapse navbar-collapse u-header__navbar-collapse">
                <ul class="navbar-nav u-header__navbar-nav">
                    <li class="nav-item u-header__nav-item">
                        <a class="nav-link u-header__nav-link" href="@Url.RouteUrl("CustomerDashboard")">Dashboard</a>
                    </li>
                    <!-- Settings -->
                    <li class="nav-item hs-has-sub-menu u-header__nav-item"
                        data-event="hover"
                        data-animation-in="slideInUp"
                        data-animation-out="fadeOut">
                        <a id="generalDropdown" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="generalDropdownMenu">
                            Settings
                        </a>
                        <ul id="generalDropdownMenu" class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 230px;" aria-labelledby="generalDropdown">
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="@Url.RouteUrl("CustomerInfo")">Profile</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="@Url.RouteUrl("CustomerChangePassword")">Password</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="@Url.RouteUrl("CustomerAddresses")">Billing Addresses</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="@Url.RouteUrl("CustomerContacts")">Contacts</a></li>
                            <li><a class="nav-link u-header__sub-menu-nav-link" href="@Url.RouteUrl("Privacy")">Privacy</a></li>
                        </ul>
                    </li>
                    <!-- Settings -->
                    <li class="nav-item u-header__nav-item">
                        <a class="nav-link u-header__nav-link" href="@Url.RouteUrl("CustomerPlanUsage")">Plan and Usage</a>
                    </li>
                    <li class="nav-item u-header__nav-item">
                        <a class="nav-link u-header__nav-link" href="@Url.RouteUrl("PrivateMessages")">Private Messages</a>
                    </li>
                    <!-- Billing -->
                    <li class="nav-item u-header__nav-item">
                        <a class="nav-link u-header__nav-link" href="@Url.RouteUrl("OrderBilling")">Billings</a>
                    </li>
                    <!-- Billing -->                   
                    <!-- Others -->
                    <!-- Others -->
                </ul>
            </div>
        </nav>
    </div>
</div>