﻿@model CustomerAvatarModel
@using Polpware.NopWeb.Models.Customer

<div class="u-block-hover g-pos-rel">
    <figure>
        <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="@Model.AvatarUrl" alt="Image Description">
    </figure>

    <!-- Figure Caption -->
    <figcaption class="u-block-hover__additional--fade g-bg-black-opacity-0_5 g-pa-30">
        <div class="u-block-hover__additional--fade u-block-hover__additional--fade-up g-flex-middle">
            <form asp-route="CustomerAvatar" method="post" enctype="multipart/form-data" id="user-avatar-form">

                <ul class="list-inline text-center g-flex-middle-item--bottom g-mb-20">
                    <li class="list-inline-item align-middle g-mx-7 upload-btn-wrapper">
                        <button class="u-icon-v1 u-icon-size--md g-color-white">
                            <i class="icon-note u-line-icon-pro"></i>
                            Update
                        </button>
                        <input name="uploadedFile" type="file" accept="image/*" />
                    </li>
                    <li class="list-inline-item align-middle g-mx-7 confirm-btn-wrapper">
                        <button class="u-icon-v1 u-icon-size--md g-color-white confirm">
                            <i class="icon-note u-line-icon-pro"></i>
                            Confirm
                        </button>
                    </li>
                    <li class="list-inline-item align-middle g-mx-7 confirm-btn-wrapper">
                        <button class="u-icon-v1 u-icon-size--md g-color-white cancel">
                            <i class="icon-note u-line-icon-pro"></i>
                            Cancel
                        </button>
                    </li>
                </ul>

            </form>
        </div>
    </figcaption>

    <span class="g-pos-abs g-top-20 g-left-0">
        <a class="btn btn-sm u-btn-primary rounded-0" href="@Url.RouteUrl("CustomerInfo")">todo</a>
    </span>
</div>


<style type="text/css">
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }
</style>

<script asp-location="Footer">
    $(document).ready(function () {

        const CurrentImgUrl = "@Model.AvatarUrl";

        const $form = $('#user-avatar-form');

        function toggleBtns(flag) {
            const v1 = flag ? 'hidden' : 'visible';
            const v2 = flag ? 'visible' : 'hidden';

            $form.find('.upload-btn-wrapper').css('visibility', v1);
            $form.find('.confirm-btn-wrapper').css('visibility', v2);
        }

        function readURL(input) {

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    $form.find('img').attr('src', e.target.result);
                    toggleBtns(true);

                    // input.value = null;
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $form.find('input[type=file]').change(function () {
            console.log('changed');
            readURL(this);
        });

        $form.find('.confirm-btn-wrapper button.cancel').click(function () {
            toggleBtns(false);
            $form.find('img').attr('src', CurrentImgUrl);
        });

        toggleBtns(false);
    });
</script>