﻿@model NXdrive.Web.Models.Customer.CustomerAvatarModel

<div class="position-relative">
    <img class="u-sidebar--account__holder-img" src="@Model.AvatarUrl" alt="Image Description">
</div>
<div class="ml-3">
    <span class="font-weight-semi-bold">@Model.CustomerName</span>
    <span class="u-sidebar--account__holder-text">@Model.CustomerEmail</span>
</div>

