﻿@model NXdrive.Web.Models.Customer.CustomerAvatarModel

<div class="media d-block d-sm-flex align-items-sm-center">
    <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
        <img class="img-fluid rounded-circle" src="@Model.AvatarUrl" alt="Image Description">
        <!--<span class="badge badge-md badge-outline-success badge-pos badge-pos--bottom-right rounded-circle">
            <span class="fas fa-check"></span>
        </span>-->
    </div>
    <div class="media-body">
        <h1 class="h3 text-white font-weight-medium mb-1">Howdy, <span>@Model.CustomerName</span> !</h1>
        <span class="d-block text-white">@Model.CustomerEmail</span>
    </div>
</div>
