﻿@model NXdrive.Web.Models.Customer.CustomerAvatarModel

<form id="edit-avatar-form" class="view-mode" asp-route="CustomerUploadAvatar" enctype="multipart/form-data">
    <div class="alert alert-info" role="alert">
        Please review your avatar below, and then click the <strong>Confirm</strong> button to proceed! 
    </div>
    <div class="media align-items-center mb-7">
        <div class="u-lg-avatar mr-3">
            <img class="avatar-img img-fluid rounded-circle" src="@Model.AvatarUrl" alt="Image Description">
        </div>

        <div class="media-body view-mode">
            <label class="view-action btn btn-sm btn-primary transition-3d-hover file-attachment-btn mb-1 mb-sm-0 mr-1" for="fileAttachmentBtn">
                <i class="fas fa-arrow-circle-up mr-1"></i>
                Upload New Picture
                <input id="fileAttachmentBtn" name="uploadedFile" type="file" accept="image/*" class="file-attachment-btn__label">
            </label>

            @if (!string.IsNullOrEmpty(Model.AvatarUrl))
            {
                <button type="button" class="view-action remove-action btn btn-sm btn-danger transition-3d-hover mb-1 mb-sm-0" data-toggle="modal" data-target="#removeAvatarModal">
                    <i class="fas fa-trash mr-1"></i>
                    Delete
                </button>
            }

            <input type="submit" name="upload-avatar" class="edit-action btn btn-sm btn-primary transition-3d-hover mb-1 mb-sm-0" value="Confirm">
            <button class="edit-action cancel-action btn btn-sm btn-secondary transition-3d-hover mb-1 mb-sm-0">Cancel</button>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="removeAvatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form asp-route="CustomerRemoveAvatar">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm to remove</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure to remove your avatar?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <input type="submit" name="remove-avatar" class="btn btn-primary" value="Remove">
                </div>
            </div>
        </form>
    </div>
</div>

<style type="text/css">
    #edit-avatar-form .alert-info {
        display: none;
    }

    #edit-avatar-form.edit-mode .alert-info {
        display: block;
    }

    #edit-avatar-form .btn {
        display: none;
    }

    #edit-avatar-form.view-mode .view-action.btn {
        display: inline-block;
    }

    #edit-avatar-form.edit-mode .edit-action.btn {
        display: inline-block;
    }
</style>

<script asp-location="Footer">
    $(document).ready(function () {

        var originUrl = "@Model.AvatarUrl";

        var $form = $('#edit-avatar-form');

        function readUrl(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $form.find('img.avatar-img').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $form.find('input[type="file"]').on('change', function () {
            readUrl(this);

            $form.removeClass('view-mode').addClass('edit-mode');
        });

        $form.find('.cancel-action').click(function (evt) {
            evt.stopPropagation();
            evt.preventDefault();
            // Clean up what we have now, so can do it again and again ...
            $form.find('input[type="file"]').val(null);

            $form.find('img.avatar-img').attr('src', originUrl);
            $form.removeClass('edit-mode').addClass('view-mode');
        });

        $form.find('.remove-action').click(function (evt) {
            evt.stopPropagation();
            evt.preventDefault();
            $('#removeAvatarModal').modal('show');
        });
    });
</script>