﻿@model AccountAuthorizeModel
@using NXdrive.Web.Models.OAuth
@{
    Layout = "_ColumnsOne";
}

<div class="page">
    <div class="g-brd-y g-brd-gray-light-v4">
        <div class="container g-py-100">
            <div class="g-mb-40 g-mt-60">
                <h2 class="h1 mb-3"> Authorizing @Model.ClientApp Cancelled</h2>
                <p class="g-line-height-2">
                    The application <em>@Model.ClientApp</em> is NOT allowed to access your information.
                </p>               
            </div>
        </div>
    </div>
</div>
