﻿@model AccountAuthorizeModel
@using NXdrive.Web.Models.OAuth
@{
    Layout = "_ColumnsOne";
}

<div class="page">

    <!-- Contact Form -->
    <div class="g-brd-y g-brd-gray-light-v4">
        <div class="container g-py-100">
            <div class="g-mb-40 g-mt-60">
                <h2 class="h1 mb-3"> Authorizing @Model.ClientApp</h2>
                <p class="g-line-height-2">
               The application <em>@Model.ClientApp</em> is requesting to access the following information:</p>
                <ul class="list-unstyled" style="padding-left:15px;">
                    <li>
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        Your Email and Name
                    </li>
                </ul>
                <p>Do you agree?</p>
                <p>
                    <a class="btn btn-md u-btn-primary u-btn-hover-v1-4 g-px-35 g-mr-10 g-mb-15" href="@Model.YesUrl">Yes</a>
                    <a class="btn btn-md u-btn-outline-bluegray g-mr-10 g-mb-15" href="@Model.NoUrl">No</a>
                </p>
            </div>
        </div>
    </div>
    <!-- End Contact Form -->
</div>
