@{
    Layout = "_ColumnsOne";
}

<section class="g-bg-gray-light-v5 g-py-50 g-mt-70">
    <div class="container">
        <div class="d-sm-flex text-center">
            <div class="align-self-center">
                <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">About Us</h2>
            </div>
            <div class="align-self-center ml-auto">
                <ul class="u-list-inline">
                    <li class="list-inline-item g-mr-5">
                        <a class="u-link-v5 g-color-main" href="#!">Home</a>
                        <i class="g-color-gray-light-v2 g-ml-5">/</i>
                    </li>
                    <li class="list-inline-item g-color-primary">
                        <span>About Us</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Breadcrumbs-->


    <section class="g-bg-white-gradient-opacity-v5 g-py-120">
        <div class="container">
            <!-- Video Block -->
            <section class="container-fluid px-0 g-mb-30">
                <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall g-bg-cover g-bg-black-opacity-0_6--after" data-options="{direction: 'fromtop', animation_duration: 25, direction: 'reverse'}">
                    <!-- Promo Block - Parallax Video -->
                    <div class="dzsparallaxer--target" style="width: 100%; height: 200%;" data-forcewidth_ratio="1.77">
                        <div class="js-bg-video g-pos-abs w-100 h-100" data-hs-bgv-loop="1"></div>
                    </div>
                    <!-- End Promo Block - Parallax Video -->
                    <div class="text-center g-pos-rel g-z-index-1 g-px-50 g-py-200" data-bg-img-src="/img/pages/CompanyIntroVideo.png" style="min-height:620px;">
                        <a class="js-fancybox d-block g-mb-50" href="javascript:;" data-src="//www.youtube-nocookie.com/embed/Zb2D0IVrHGk" data-speed="350" data-caption="Single Image">
                            <span class="u-icon-v3 u-icon-size--lg g-bg-white g-color-black g-color-primary--hover g-font-size-20 g-rounded-50x g-cursor-pointer">
                                <i class="g-pos-rel g-left-2 fa fa-play"></i>
                            </span>
                        </a>
                        <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5">Dedicated to Customers, Driven by Spirit</span>
                    </div>
                </div>
            </section>
            <!-- End Video Block -->
        </div>
    </section>
    <!-- Heading -->
    <section class="u-ns-bg-v1-bottom g-bg-gray-light-v5 g-py-100">
        <div class="container text-center">
            <div class="col-lg-12">
                <!-- Heading -->
                <div>
                    <h2 class="h3 g-color-black text-uppercase mb-3 text-center">INFOBEYOND TECHNOLOGY, LLC</h2>
                    <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                    <p class="lead mb-5 text-left">
                        is an established, high-tech company since 2008 that specializes in enhancing IT system security and safety to solve diverse cyber security problems. InfoBeyond has developed various security products to fortify the data, network, and cloud security.
                    </p>
                    <p class="lead mb-5 text-left">
                        <a href="https://csat.infobeyondtech.com" style="color:forestgreen" target="_blank">
                            CSAT (Cloud Security Architecture Tool)
                        </a> is tool for you to architect (e.g., design) or access (e.g., audit) a cloud or information system in compliance with FISMA or <a style="color:forestgreen" target="_blank" href="https://csrc.nist.gov/publications/detail/sp/800-53/rev-5/draft">NIST SP 800-53</a>. It enables you to identify the NIST SP 800-53 security and privacy controls to meet the <a href="https://csrc.nist.gov/publications/detail/fips/200/final" style="color:forestgreen" target="_blank">
                            FIPS 200
                        </a> Minimum Security Requirements to support the organization's missions and the services. It saves you money by avoiding unnecessary controls. <a href="https://securitypolicytool.com/" style="color:forestgreen" target="_blank">Security Policy Tool</a> is another tool of a full implementation of the <a href="https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-192.pdf" style="color:forestgreen" target="_blank">
                            NIST SP 800-192
                        </a>: Verification and Test Methods for Access Control Policies/Models. The development of these tools is financially sponsored by <a href="http://www.nist.gov/" style="color:forestgreen" target="_blank">
                            National Institute of Standards and Technology
                        </a> (NIST) - <a href="http://csrc.nist.gov/groups/SNS/acpt/" style="color:forestgreen" target="_blank">
                            Computer Security Division Computer Security Resource Center
                        </a> (CSRC).
                    </p>
                    <a class="btn btn-md u-btn-outline-black g-font-size-default g-py-12" href="http://infobeyondtech.com/" target="_blank">Explore more about InfoBeyond</a>
                </div>
                <!-- End Heading -->
            </div>
        </div>
    </section>
    <!-- End Heading -->
    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_8--after" style="height: 200%; background-image: url(../../img/pages/securest.jpg);"></div>
        <!-- End Parallax Image -->
        <!-- Promo Block Content -->
        <div class="container u-bg-overlay__inner text-center g-py-130">
            
            <p class="g-color-black g-font-weight-600 g-pa-100--md g-font-size-35 text-uppercase">Creative innovation matters</p>
        </div>
        <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->
    <!--Awards1-->
    @*<section class="w-100 g-bg-cover g-bg-black-opacity-0_6--after" style="height: 140%; background: url(img/Background/backGround-dark.jpg);">
            <div class="g-pos-rel g-z-index-1">
                <div class="text-center g-pt-120 g-pb-140">
                    <!-- Heading -->
                    <div class="g-max-width-645 text-center mx-auto g-mb-60">
                        <h1 class="text-uppercase g-color-white"><i class="fa fa-star" style="font-size:46px;"></i></h1>
                        <div class="d-inline-block g-width-50 g-height-6 g-bg-primary mb-2"></div>
                        <h2 class="h1 g-color-white mb-3 text-uppercase">
                            Our Awards
                        </h2>
                    </div>
                    <!-- Cube Portfolio Blocks - Content -->
                    <div class="cbp" data-controls="#filterControls1" data-animation="quicksand" data-x-gap="20" data-y-gap="20" data-media-queries='[{"width": 1200, "cols": 5}, {"width": 1100, "cols": 5}, {"width": 800, "cols": 3}, {"width": 480, "cols": 2}, {"width": 300, "cols": 1}]'>
                        <!-- Cube Portfolio Blocks - Item -->
                        <div id="shortcode" class="cbp-item identity design">
                            <div class="u-block-hover g-parent">
                                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="~/img/Awards/Award_Insight_white.jpg" alt="Image description">
                                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                        <li class="list-inline-item">
                                            <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="#!">
                                                <i class="icon-communication-095 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="~/img/Awards/Award_Insight_white.jpg">
                                                <i class="icon-communication-017 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center g-pa-25">
                                <h3 class="h5 g-color-white mb-1">Insight Success</h3>
                                <p class="g-color-white-opacity-0_7 mb-0">The 30 Most Influential Business Laders in Tech 2018</p>
                            </div>
                        </div>
                        <!-- End Cube Portfolio Blocks - Item -->
                        <!-- Cube Portfolio Blocks - Item -->
                        <div class="cbp-item design">
                            <div class="u-block-hover g-parent">
                                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="~/img/Awards/Award_silicon_white.jpg" alt="Image description">
                                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                        <li class="list-inline-item">
                                            <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="https://thesiliconreview.com/magazines/delivering-state-of-the-art-solutions-for-wireless-and-satellite-communications-big-data-streaming-analytics-data-security-and-cyber-dependability-infobeyond-technology-llc/" title="link" target="_blank">
                                                <i class="icon-communication-095 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="~/img/Awards/Award_silicon_white.jpg">
                                                <i class="icon-communication-017 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center g-pa-25">
                                <h3 class="h5 g-color-white mb-1">Silicon Review</h3>
                                <p class="g-color-white-opacity-0_7 mb-0">Top 50 Fastest Growing Tech Companies</p>
                            </div>
                        </div>
                        <!-- End Cube Portfolio Blocks - Item -->

                        <!-- Cube Portfolio Blocks - Item -->
                        <div class="cbp-item identity">
                            <div class="u-block-hover g-parent">
                                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="~/img/Awards/AwardEnhanced_white.jpg" alt="Image description">
                                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                        <li class="list-inline-item">
                                            <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="https://securitypolicytool.com/infobeyond-technology-is-awarded-the-2017-innovative-security-solution-award-at-the-recent-big-data-and-sdnnfv-summit" title="link" target="_blank">
                                                <i class="icon-communication-095 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="~/img/Awards/AwardEnhanced_white.jpg">
                                                <i class="icon-communication-017 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center g-pa-25">
                                <h3 class="h5 g-color-white mb-1">2017 Big Data and SDN/NFV Summit</h3>
                                <p class="g-color-white-opacity-0_7 mb-0">Innovative Security Solution Award</p>
                            </div>
                        </div>
                        <!-- End Cube Portfolio Blocks - Item -->

                        <!-- Cube Portfolio Blocks - Item -->
                        <div class="cbp-item graphic identity">
                            <div class="u-block-hover g-parent">
                                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="~/img/Awards/NISTSBIRSuccessStory-white.png" alt="Image description">
                                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                        <li class="list-inline-item">
                                            <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="https://www.nist.gov/tpo/sbir-success-story-infobeyond-technology-llc" title="link" target="_blank">
                                                <i class="icon-communication-095 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="~/img/Awards/NISTSBIRSuccessStory-white.png">
                                                <i class="icon-communication-017 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center g-pa-25">
                                <h3 class="h5 g-color-white mb-1">NIST SBIR Success Stories</h3>
                                <p class="g-color-white-opacity-0_7 mb-0">InfoBeyond Technology LLC</p>
                            </div>
                        </div>
                        <!-- End Cube Portfolio Blocks - Item -->
                        <!-- Cube Portfolio Blocks - Item -->
                        <div class="cbp-item graphic">
                            <div class="u-block-hover g-parent">
                                <img class="img-fluid g-transform-scale-1_1--parent-hover g-transition-0_5 g-transition--ease-in-out" src="~/img/Awards/Award_IEEE-white.jpg" alt="Image description">
                                <div class="d-flex w-100 h-100 u-block-hover__additional--fade u-block-hover__additional--fade-in g-pos-abs g-top-0 g-left-0 g-transition-0_3 g-transition--ease-in g-pa-20">
                                    <ul class="align-items-end flex-column list-inline mt-auto ml-auto mb-0">
                                        <li class="list-inline-item">
                                            <a class="u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="https://securitypolicytool.com/infobeyond-ceo-recognized-for-significant-contributions-in-advancing-quality-reliability-and-security" title="link" target="_blank">
                                                <i class="icon-communication-095 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="cbp-lightbox u-icon-v2 u-icon-size--sm g-brd-white g-color-white g-bg-primary rounded-circle" href="~/img/Awards/Award_IEEE-white.jpg">
                                                <i class="icon-communication-017 u-line-icon-pro"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center g-pa-25">
                                <h3 class="h5 g-color-white mb-1">2018 IEEE Communications Society Speaker</h3>
                                <p class="g-color-white-opacity-0_7 mb-0">Dr. Bin Xie</p>
                            </div>
                        </div>
                        <!-- End Cube Portfolio Blocks - Item -->
                    </div>
                    <!-- End Cube Portfolio Blocks - Content -->
                    <!-- End Show Code -->
                </div>
            </div>
        </section>*@


    <!-- Our Awards -->
    <section class="w-100 g-bg-cover g-bg-black-opacity-0_6--after" style="height: 140%; background: url(img/Background/backGround-dark.jpg);">
        <div class="g-pos-rel g-z-index-1">
            <div class="text-center g-pt-120 g-pb-140">
                <!-- Heading -->
                <div class="g-max-width-645 text-center mx-auto g-mb-60">
                    <h1 class="text-uppercase g-color-white"><i class="fa fa-star" style="font-size:46px;"></i></h1>
                    <div class="d-inline-block g-width-50 g-height-6 g-bg-primary mb-2"></div>
                    <h2 class="h1 g-color-white mb-3 text-uppercase">
                        Our Awards
                    </h2>
                </div>
                <div id="shortcode12">
                    <div class="shortcode-html">
                        <div class="row">
                            <div class="col-md-2 offset-md-1 col-sm-12 col-12 g-mb-30--md g-pb-10">
                                <!--1-->
                                <article class="u-block-hover g-mx-0">
                                    <figure class="g-overflow-hidden g-brd-top g-brd-6 g-brd-primary-top g-brd-primary--hover">
                                        <img class="img-fluid u-block-hover__main--zoom-v1" src="~/img/Awards/Award_Insight_white.jpg" alt="Image Description">
                                    </figure>
                                    <a class="js-fancybox u-link-v2" href="javascript:;" data-src="../../img/Awards/Award_Insight_white.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                                    </a>
                                </article>
                                <div class="u-shadow-v32 text-left g-bg-primary g-color-white g-mx-0 g-pa-20 g-height-140">
                                    <h4 class="h6 g-font-weight-500 mb-1">Insight Success</h4>
                                    <p class="d-block g-color-text-light-v1 g-font-size-12">The 30 Most Influential Business Leaders in Tech 2018</p>
                                    <a class="u-btn-outline-primary g-mr-10 g-mb-15 g-color-white" href="https://www.insightssuccess.com/dr-bin-xie-advancing-the-network-and-data-security-industry/" target="_blank" title="link">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                                <!--2-->
                                <article class="u-block-hover g-mx-0">
                                    <figure class="g-overflow-hidden g-brd-top g-brd-6 g-brd-primary-top g-brd-primary--hover">
                                        <img class="img-fluid u-block-hover__main--zoom-v1" src="~/img/Awards/Award_silicon_white.jpg" alt="Image Description">
                                    </figure>
                                    <a class="js-fancybox u-link-v2" href="javascript:;" data-src="../../img/Awards/Award_silicon_white.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                                    </a>
                                </article>
                                <div class="u-shadow-v32 text-left g-bg-primary g-color-white g-mx-0 g-pa-20 g-height-140">
                                    <h4 class="h6 g-font-weight-500 mb-1">Silicon Review</h4>
                                    <p class="d-block g-color-text-light-v1 g-font-size-12">Top 50 Fastest Growing Tech Companies</p>
                                    <a class="u-btn-outline-primary g-mr-10 g-mb-15 g-color-white" href="https://thesiliconreview.com/magazines/delivering-state-of-the-art-solutions-for-wireless-and-satellite-communications-big-data-streaming-analytics-data-security-and-cyber-dependability-infobeyond-technology-llc/" title="link" target="_blank">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                                <!--3-->
                                <article class="u-block-hover g-mx-0">
                                    <figure class="g-overflow-hidden g-brd-top g-brd-6 g-brd-primary-top g-brd-primary--hover">
                                        <img class="img-fluid u-block-hover__main--zoom-v1" src="~/img/Awards/AwardEnhanced_white.jpg" alt="Image Description">
                                    </figure>
                                    <a class="js-fancybox u-link-v2" href="javascript:;" data-src="../../img/Awards/AwardEnhanced_white.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                                    </a>
                                </article>
                                <div class="u-shadow-v32 text-left g-bg-primary g-color-white g-mx-0 g-pa-20 g-height-140">
                                    <h4 class="h6 g-font-weight-500 mb-1">2017 Big Data and SDN/NFV Summit</h4>
                                    <p class="d-block g-color-text-light-v5 g-font-size-12">Innovative Security Solution Award</p>
                                    <a class="u-btn-outline-primary g-mr-10 g-mb-15 g-color-white" href="https://securitypolicytool.com/infobeyond-technology-is-awarded-the-2017-innovative-security-solution-award-at-the-recent-big-data-and-sdnnfv-summit" title="link" target="_blank">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                                <!--4-->
                                <article class="u-block-hover g-mx-0">
                                    <figure class="g-overflow-hidden g-brd-top g-brd-6 g-brd-primary-top g-brd-primary--hover">
                                        <img class="img-fluid u-block-hover__main--zoom-v1" src="~/img/Awards/NISTSBIRSuccessStory-white.png" alt="Image Description">
                                    </figure>
                                    <a class="js-fancybox u-link-v2" href="javascript:;" data-src="../../img/Awards/NISTSBIRSuccessStory-white.png" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                                    </a>
                                </article>
                                <div class="u-shadow-v32 text-left g-bg-primary g-color-white g-mx-0 g-pa-20 g-height-140">
                                    <h4 class="h6 g-font-weight-500 mb-1">NIST SBIR Success Stories</h4>
                                    <p class="d-block g-color-text-light-v1 g-font-size-12">InfoBeyond Technology LLC</p>
                                    <a class="u-btn-outline-primary g-mr-10 g-mb-15 g-color-white" href="https://www.nist.gov/tpo/sbir-success-story-infobeyond-technology-llc" title="link" target="_blank">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                                <!--5-->
                                <article class="u-block-hover g-mx-0">
                                    <figure class="g-overflow-hidden g-brd-top g-brd-6 g-brd-primary-top g-brd-primary--hover">
                                        <img class="img-fluid u-block-hover__main--zoom-v1" src="~/img/Awards/Award_IEEE-white.jpg" alt="Image Description">
                                    </figure>
                                    <a class="js-fancybox u-link-v2" href="javascript:;" data-src="../../img/Awards/Award_IEEE-white.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true">
                                    </a>
                                </article>
                                <div class="u-shadow-v32 text-left g-bg-primary g-color-white g-mx-0 g-pa-20 g-height-140">
                                    <h4 class="h6 g-font-weight-500 mb-1">2018 IEEE Communications Society Speaker</h4>
                                    <p class="d-block g-color-text-light-v1 g-font-size-12">Dr. Bin Xie</p>
                                    <a class="u-btn-outline-primary g-mr-10 g-mb-15 g-color-white" href="https://securitypolicytool.com/infobeyond-ceo-recognized-for-significant-contributions-in-advancing-quality-reliability-and-security" title="link" target="_blank">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Show Code -->
            </div>
        </div>
    </section>
    <!-- End -->

    <section class="g-bg-gray-light-v5 g-pt-100 g-pb-70">
        <div class="container">
            <div class="row justify-content-center g-mb-80">
                <div class="col-lg-7">
                    <!-- Heading -->
                    <div class="text-center">
                        <h2 class="h3 g-color-black text-uppercase mb-2">Our Clients</h2>
                        <div class="d-inline-block g-width-35 g-height-2 g-bg-primary mb-2"></div>
                        <p class="lead mb-0">InfoBeyond has worked with several U.S. Government Agencies, Commercial Companies, and Organizations. Some of our customers include: </p>
                    </div>
                    <!-- End Heading -->
                </div>
            </div>
            <!-- Box Shadow -->
            <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40 g-mb-30" role="alert">
                <p class="mb-0">
                    <div class="row">
                        <div class="col-md-7">
                            <ul class="partner-list ">
                                <li>Air Force Research Laboratory</li>

                                <li>Commonwealth of Kentucky</li>

                                <li>Department of Air Force</li>

                                <li>Department of Army</li>

                                <li>Department of Commerce and National Institute of Standard and Technology</li>

                                <li>Department of Defense</li>

                                <li>Department of Energy</li>

                                <li>Department of Navy</li>

                                <li>Department of Transportation</li>

                                <li>EMC</li>

                                <li>HP Enterprise</li>

                                <li>IEEE Big Data Initiative</li>

                                <li>IEEE Software Defined Networks</li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <ul class="partner-list">
                                <li>Kentucky Cabinet for Economic Development</li>

                                <li>Kentucky Science Corporation</li>

                                <li>Marine Corporation</li>

                                <li>Missile Defense Agency</li>

                                <li>Office of Naval Research Laboratory</li>

                                <li>Steven Institute of Technology</li>

                                <li>Samsung</li>

                                <li>TechMahidra</li>

                                <li>Teradata</li>

                                <li>University of Louisville</li>

                                <li>University of Oregon</li>

                                <li>Larta Institute</li>
                            </ul>
                        </div>
                    </div>
                </p>
            </div>
            <!-- End Box Shadow -->
        </div>
    </section>
    <!-- End Icon Blocks -->
    <!-- Counters -->

    <section class="container u-ns-bg-v1-bottom height-is-based-on-content">

        <div class="container u-bg-overlay__inner g-pt-100 g-pb-100">
            <div class="row text-center text-uppercase g-color-white">
                <div class="g-overflow-hidden">
                    <div class="row text-center mx-0 g-ml-minus-1 g-mb-minus-1">
                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-140 g-transition-0_2" src="~/img/partnerlogo/Air Force research laboratory.png" alt="Image Description">@*g-opacity-0_8 g-opacity-1--hover*@
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Army.jpg" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Commonwealth of kentucky.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Department of Air Force.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Department of defense.jpg" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Department of Energey.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Department of Navy.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Department of transportation.jpg" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/EMC.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <a href="https://www.larta.org" title="Larta Institute" target="_blank"><img class="img-fluid g-width-150 g-opacity-0_8 g-opacity-1--hover g-transition-0_2" src="~/img/partnerlogo/Larta_Main-Logo-no-tagline.jpg" alt="Image Description"></a>
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/IEEE Big data initiative.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/IEEE Software Defined Networks.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Kentucky Science and technology corporation.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Marine Corp.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Missile defense agency.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-170 g-transition-0_2" src="~/img/partnerlogo/NIST logo.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Office_of_Naval_Research_Official_Logo.png" alt="Image Description">
                            </div>
                        </div>


                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Stevens2.png" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Tech Mahindra.jpg" alt="Image Description">
                            </div>
                        </div>

                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/Univeristy of Oregon.jpg" alt="Image Description">
                            </div>
                        </div>
                        <div class="col-md-3 px-0">
                            <div class="g-brd-left g-brd-bottom g-brd-gray-light-v4 g-py-40">
                                <img class="img-fluid g-width-150 g-transition-0_2" src="~/img/partnerlogo/hp_enterprise_followup_logo_detail.png" alt="Image Description">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Counters -->
            </div>
        </div>
    </section>

    <script type="text/javascript">

        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');
        });

        $(window).on('load', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of cubeportfolio
            $.HSCore.components.HSCubeportfolio.init('.cbp');
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>


