﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
    <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url(../../../assets/img-temp/1920x1080/img25.jpg);"></div>
    <div class="container g-py-200 ">
        <div class="row">
            <div class="col-md-6">
                <h3 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">
                    Have your business data assets are stored from the prevention of data breach against:
                    <br>
                    Phishing attacks
                </h3>
                <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-5">Build, share, sell and enjoy.</span>
                <a class="js-fancybox u-link-v5 g-color-black" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="350" data-caption="Single Image">
                    <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
                        <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
                    </span>
                    1:41 minutes
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Promo Block -->

<!-- Icon Blocks -->
<section id="offers-section" class="g-bg-secondary">
    <div class="container g-pt-100 g-pb-130">
        <!-- Icon Blocks -->
        <div class="row no-gutters">
            <div class="col-sm-6 col-lg-3">
                <div class="g-pr-40 g-mt-20">
                    <div class="g-mb-30">
                        <h2 class="h2 g-color-black g-font-weight-600 g-line-height-1_2 mb-4">
                            Get all the features 

                            <br>your business needs                           

                        </h2>
                        <p class="g-font-weight-300 g-font-size-16">NXdrive helps more than 300,000 businesses stay efficiently organized and protected.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div id="we-provide" class="js-carousel" data-infinite="true" data-slides-show="3" data-slides-scroll="3" data-center-mode="true" data-center-padding="1px" data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-minus-30">
                    <div class="js-slide">
                        <!-- Icon Blocks -->
                        <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v3 g-brd-left-none g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50 g-ml-minus-1">
                            <div class="mb-4">
                                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">01</span>
                                <span class="u-icon-v3 u-shadow-v19 g-bg-white g-color-primary rounded-circle mb-4">
                                    <i class="icon-education-087 u-line-icon-pro"></i>
                                </span>
                                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Creative</h3>
                                <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
                            </div>
                            <a class="g-brd-bottom g-brd-gray-dark-v5 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover" href="#!">Read more</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                    <div class="js-slide">
                        <!-- Icon Blocks -->
                        <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v3 g-brd-left-none g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50 g-ml-minus-1">
                            <div class="mb-4">
                                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">02</span>
                                <span class="u-icon-v3 u-shadow-v19 g-bg-white g-color-primary rounded-circle mb-4">
                                    <i class="icon-education-035 u-line-icon-pro"></i>
                                </span>
                                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Features</h3>
                                <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
                            </div>
                            <a class="g-brd-bottom g-brd-gray-dark-v5 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover" href="#!">Read more</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                    <div class="js-slide">
                        <!-- Icon Blocks -->
                        <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v3 g-brd-left-none g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50 g-ml-minus-1">
                            <div class="mb-4">
                                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">03</span>
                                <span class="u-icon-v3 u-shadow-v19 g-bg-white g-color-primary rounded-circle mb-4">
                                    <i class="icon-education-141 u-line-icon-pro"></i>
                                </span>
                                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Responsive</h3>
                                <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
                            </div>
                            <a class="g-brd-bottom g-brd-gray-dark-v5 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover" href="#!">Read more</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                    <div class="js-slide">
                        <!-- Icon Blocks -->
                        <div class="u-shadow-v21--hover g-brd-around g-brd-gray-light-v3 g-brd-left-none g-brd-transparent--hover g-bg-white--hover g-transition-0_3 g-cursor-pointer g-px-30 g-pt-30 g-pb-50 g-ml-minus-1">
                            <div class="mb-4">
                                <span class="d-block g-color-gray-dark-v4 g-font-weight-700 text-right mb-3">04</span>
                                <span class="u-icon-v3 u-shadow-v19 g-bg-white g-color-primary rounded-circle mb-4">
                                    <i class="icon-finance-256 u-line-icon-pro"></i>
                                </span>
                                <h3 class="h5 g-color-black g-font-weight-600 mb-3">Code</h3>
                                <p>This is where we sit down, grab a cup of coffee and dial in the details.</p>
                            </div>
                            <a class="g-brd-bottom g-brd-gray-dark-v5 g-brd-primary--hover g-color-gray-dark-v5 g-color-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover" href="#!">Read more</a>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Icon Blocks -->
    </div>
</section>
<!-- End Icon Blocks -->

<!-- Projects -->
<section id="projects-section" class="container g-py-100">
    <div class="text-center g-mb-100 u-heading-v2-4--bottom">
        <h2 class="h1 g-color-black g-font-weight-600">Binding Features</h2>
        <h5 class="u-heading-v2__title g-line-height-1_1 g-font-size-36--md g-color-primary g-mb-minus-10">This is where we begin to visualize your business and design specific services to you.</h5>
    </div>
    <div class="row no-gutters g-mx-minus-10">
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
            <!-- Projects -->
            <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-purple--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="~/img/business/cooperate.png" alt="Image Description">
                <span class="g-font-weight-600 g-font-size-12 text-uppercase">Business</span>
                <h3 class="h4 g-font-weight-600 mb-0">Communication</h3>
                <a class="u-link-v2" href="#!"></a>
            </div>
            <!-- End Projects -->
        </div>
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
            <!-- Projects -->
            <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-cyan--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="~/img/business/companysecurity.png" alt="Image Description">
                <span class="g-font-weight-600 g-font-size-12 text-uppercase">Data</span>
                <h3 class="h4 g-font-weight-600 mb-0">BackUp</h3>
                <a class="u-link-v2" href="#!"></a>
            </div>
            <!-- End Projects -->
        </div>
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
            <!-- Projects -->
            <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-teal--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="~/img/business/group.png" alt="Image Description">
                <span class="g-font-weight-600 g-font-size-12 text-uppercase">Group</span>
                <h3 class="h4 g-font-weight-600 mb-0">Team Collaboration</h3>
                <a class="u-link-v2" href="#!"></a>
            </div>
            <!-- End Projects -->
        </div>
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
            <!-- Projects -->
            <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-lightred--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="~/img/business/datasecurity.png" alt="Image Description">
                <span class="g-font-weight-600 g-font-size-12 text-uppercase">Data</span>
                <h3 class="h4 g-font-weight-600 mb-0">Security</h3>
                <a class="u-link-v2" href="#!"></a>
            </div>
            <!-- End Projects -->
        </div>
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
            <!-- Projects -->
            <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-primary--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="~/img/business/spt.png" alt="Image Description">
                <span class="g-font-weight-600 g-font-size-12 text-uppercase">Security</span>
                <h3 class="h4 g-font-weight-600 mb-0">Security Policy Tool</h3>
                <a class="u-link-v2" href="#!"></a>
            </div>
            <!-- End Projects -->
        </div>
        <div class="col-sm-6 col-lg-4 g-px-10 g-mb-20">
            <!-- Projects -->
            <div class="u-block-hover g-brd-around g-brd-gray-light-v4 g-color-black g-color-white--hover g-bg-pink--hover text-center rounded g-transition-0_3 g-px-30 g-py-50">
                <img class="img-fluid u-block-hover__main--zoom-v1 mb-5" src="~/img/business/CSAT.png" alt="Image Description">
                <span class="g-font-weight-600 g-font-size-12 text-uppercase">NIST Standard</span>
                <h3 class="h4 g-font-weight-600 mb-0">CSAT</h3>
                <a class="u-link-v2" href="#!"></a>
            </div>
            <!-- End Projects -->
        </div>
    </div>
</section>
<!-- End Projects -->

<!-- End Blog Grid Blocks -->
<section class="g-bg-primary g-color-white g-py-80 g-mb-8" style="background-image: url(../../../assets/img/bg/pattern5.png);">
    <div class="container d-md-flex justify-content-md-center">
        <div class="col-sm-8 align-self-md-center">
            <h2 class="text-uppercase g-line-height-1_1 g-font-size-26 g-mb-10">Get started with NXdrive</h2>
            <p class="g-color-white g-font-weight-400 g-font-size-20 g-mr-20--md g-mb-15 g-mb-0--md">We offer best in security services for your business</p>
        </div>
        <div class="col-sm-4 u-bg-overlay__inner align-self-md-center flow-right">
            <a class="btn btn-lg u-btn-darkgray u-btn-inset mx-2" href="@Url.RouteUrl("ServicePlans")">
                <i class="fa fa-arrow-right g-color-primary mr-2"></i>
                See plans
            </a>
        </div>
    </div>
</section>
<!-- End Call To Action -->

