@{
    Layout = "_ColumnsOne";
}

<!-- Promo Banner -->
<div class="g-min-height-600 g-flex-centered g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-pt-80" style="background-image: url(img/pages/career.jpg);">
    <div class="container g-pos-rel g-z-index-1">
        <span class="d-block text-uppercase g-color-primary g-font-weight-500 g-font-size-13 mb-4">What you think today becomes reality of the future. </span>
        <h1 class="g-color-white g-font-size-60--lg mb-0">Come Join Our Team</h1>
    </div>
</div>
<!-- End Promo Banner -->
<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
    <div class="container">
        <ul class="d-flex justify-content-between u-list-inline">
            <li class="list-inline-item g-mr-15">
                <a class="u-link-v5 g-color-text g-pr-10" href="#">Home</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>

            <li class="list-inline-item g-color-primary">
                <span>Careers</span>
            </li>
            <li class="list-inline-item ml-auto">
                <a class="u-link-v5 g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-color-text g-color-primary--hover g-font-weight-500 rounded g-px-30 g-py-10" href="#jobs">View Job Openings</a>
            </li>
        </ul>
    </div>
</section>
<!-- End Breadcrumbs -->
<!-- Testimonials -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading g-bg-cover g-bg-black-opacity-0_4--after">
    <div class="divimage dzsparallaxer--target w-100" style="height: 140%; background: url(img/career/careerHero2.jpg);"></div>
    <div class="container g-z-index-1 g-py-100">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center g-z-index-1">
                    <blockquote class="g-color-white g-font-size-20 g-mb-20">
                        Working at NXdrive team means joining a talent group with a spectrum of sparking innovations.
                        <span class="g-color-primary g-font-weight-600">We are dedicating to </span>developing state-of-the-art security and relevant technologies to secure the data and free the life. You will witness how your innovations go beyond the research and transition to real world to help people secure. Our entrepreneurial spirit is the key to bringing the quality and security to the life, driven by spirits.
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials -->
<!-- Careers - Content -->
<div id="jobs" class="container g-py-100">
    <div class="g-mb-40">
        <span class="d-block text-uppercase g-color-gray-dark-v5 g-font-weight-500 g-font-size-13 mb-4">START YOUR CAREER PATH FROM CREATIVITY TO SUCCESS</span>
        <h2 class="mb-0">Open Positions</h2>
    </div>

    <div class="row g-mb-30">
        <div class="col-12 col-lg-4 g-mb-30">
            <!-- Careers - Article -->
            <article class="g-brd-around g-brd-gray-light-v3 g-brd-primary--hover g-pos-rel rounded g-pb-30">
                <img class="img-fluid w-100" src="~/img/career/Director.jpg" alt="Image Description">
                <div class="w-100 text-center">
                    @*g-absolute-centered--y*@
                    <h3 class="g-font-size-20">Director of Cybersecurity Marketing and Sales</h3>
                    <span class="d-block g-color-text">1 Open Positions</span>
                </div>
                <a class="u-link-v2" href="@Url.RouteUrl("DirectorMarketing")"></a>
            </article>
            <!-- End Careers - Article -->
        </div>
       
            <div class="col-12 col-lg-4 g-mb-30">
                <!-- Careers - Article -->
                <article class="g-brd-around g-brd-gray-light-v3 g-brd-primary--hover g-pos-rel rounded g-pb-30">
                    <img class="img-fluid w-100" src="~/img/career/business.jpg" alt="Image Description">
                    <div class="w-100 text-center">
                        @*g-absolute-centered--y*@
                        <h3 class="g-font-size-20">Business Development/<br />Marketing Specialist</h3>
                        <span class="d-block g-color-text">1 Open Positions</span>
                    </div>
                    <a class="u-link-v2" href="@Url.RouteUrl("MarketingSpecialist")"></a>
                </article>
                <!-- End Careers - Article -->
            </div>

            <div class="col-12 col-lg-4 g-mb-30">
                <!-- Careers - Article -->
                <article class="g-brd-around g-brd-gray-light-v3 g-brd-primary--hover g-pos-rel rounded g-pb-60">
                    <img class="img-fluid w-100" src="~/img/career/researchScientist.jpg" alt="Image Description">
                    <div class="w-100 text-center">
                        <h3 class="g-font-size-18">Research Scientist</h3>
                        <span class="d-block g-color-text">2 Open Positions</span>
                    </div>
                    <a class="u-link-v2" href="@Url.RouteUrl("ResearchScientist")"></a>
                </article>
                <!-- End Careers - Article -->
            </div>

            <div class="col-12 col-lg-4 g-mb-30">
                <!-- Careers - Article -->

                <article class="g-brd-around g-brd-gray-light-v3 g-brd-primary--hover g-pos-rel rounded g-pb-60">
                    <img class="img-fluid w-100" src="~/img/career/dataScientist.jpg" alt="Image Description">
                    <div class="w-100 text-center">
                        <h3 class="g-font-size-18">Software Research Scientist</h3>
                        <span class="d-block g-color-text">2 Open Positions</span>
                    </div>
                    <a class="u-link-v2" href="@Url.RouteUrl("SoftwareScientist")"></a>
                </article>
                <!-- End Careers - Article -->
            </div>

            <div class="col-12 col-lg-4 g-mb-30">
                <!-- Careers - Article -->
                <article class="g-brd-around g-brd-gray-light-v3 g-brd-primary--hover g-pos-rel rounded g-pb-60">
                    <img class="img-fluid w-100" src="~/img/career/scientist.jpg" alt="Image Description">
                    <div class="w-100 text-center">
                        <h3 class="g-font-size-20">Software Engineer/Intern</h3>
                        <span class="d-block g-color-text">2 Open Positions</span>
                    </div>
                    <a class="u-link-v2" href="@Url.RouteUrl("SoftwareEngineer")"></a>
                </article>
                <!-- End Careers - Article -->
            </div>
        </div>

        <div class="text-center">
            <a class="btn u-btn-black g-brd-main g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" href="#jobs">
                View Job Openings
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
            </a>
        </div>
    </div>
<!-- End Careers - Content -->

<hr class="g-brd-gray-light-v4 my-0">

<!-- More Jobs -->
<div class="g-bg-main g-pt-100 g-pb-40">
    <div class="container">
        <div class="g-max-width-645 text-center mx-auto g-mb-50">
            <h2 class="g-color-primary mb-3">Enjoy, Creativity, Lead, and Success</h2>
            <p class="g-color-white-opacity-0_8">InfoBeyond promotes your success as part of our team. We inspire you to learn, create, and contribute in a self-motivated and collaborative manner such that your returns are significant.</p>
            <p></p>
        </div>

        <div class="row">
            <!-- Icon Block -->
            <div class="col-md-6 col-lg-3 text-center g-mb-30">
                <div class="mb-3">
                    <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-2"><i class="icon-finance-211 u-line-icon-pro"></i></span>
                    <h3 class="h5 g-color-white mb-3">Basis Salary</h3>
                    <p class="g-color-white-opacity-0_8">InfoBeyond provide higher salaries in comparison with similar positions locally.  It weights your contributions and capability. </p>
                </div>
                @*<a class="g-brd-bottom g-brd-white g-brd-primary--hover g-color-white g-color-primary--hover g-font-size-11 text-uppercase g-text-underline--none--hover g-pb-3" href="#">
                    View Seller Openings
                </a>*@
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="col-md-6 col-lg-3 text-center g-mb-30">
                <div class="mb-3">
                    <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-2"><i class="icon-sport-118 u-line-icon-pro"></i></span>
                    <h3 class="h5 g-color-white mb-3">Stimulations</h3>
                    <p class="g-color-white-opacity-0_8">In any position, InfoBeyond appreciate your significant contributions with various bonus packages in accordance with efforts. </p>
                </div>
               
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="col-md-6 col-lg-3 text-center g-mb-30">
                <div class="mb-3">
                    <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-2"><i class="icon-finance-203 u-line-icon-pro"></i></span>
                    <h3 class="h5 g-color-white mb-3">Healthcare</h3>
                    <p class="g-color-white-opacity-0_8">InfoBeyond provides decent healthcare, dental, vision, and other insurance plans for you and your family. </p>
                </div>                
            </div>
            <!-- End Icon Block -->
            <!-- Icon Block -->
            <div class="col-md-6 col-lg-3 text-center g-mb-30">
                <div class="mb-3">
                    <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-2"><i class="icon-sport-178 u-line-icon-pro"></i></span>
                    <h3 class="h5 g-color-white mb-3">Vacations</h3>
                    <p class="g-color-white-opacity-0_8">InfoBeyond offers flexible vacations, sick leaves, casual leaves, and office hours. </p>
                </div>               
            </div>
            <!-- End Icon Block -->            
        </div>
        <div class="col-md-12 text-center g-mb-60">
            <a class="g-brd-bottom g-brd-primary g-brd-primary--hover g-color-primary g-color-white--hover g-font-size-11 text-uppercase g-text-underline--none--hover g-pb-3" href="#jobs">
                View job opens
            </a>
        </div>
    </div>
</div>
<!-- End More Jobs -->
<!-- Life at -->
<div class="g-min-height-600 g-flex-centered g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-black-opacity-0_3--after g-pt-80" style="background-image: url(img/pages/features/security-enterprise.jpg);">
    <div class="container g-pos-rel g-z-index-1">

        <div class="row align-items-center g-mb-50 g-bg-pos-top-center g-z-index-1">
            <div class="col-sm-6">
                <span class="d-block text-uppercase g-color-primary g-font-weight-500 g-font-size-13 mb-4">Be Closer to Us</span>
                <h2 class="g-color-white g-font-size-35--md mb-0">Life at InfoBeyond Technology</h2>
            </div>
            <div class="col-sm-6">
                <div class="text-right">
                    <a class="btn u-btn-black g-brd-main g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-15" href="#">
                        I Feel Like I Belong to this Community
                        <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Life at -->
<!-- What we are doing -->
<div class="container g-py-100">
    <div class="g-mb-40">
        <span class="d-block text-uppercase g-color-gray-dark-v5 g-font-weight-500 g-font-size-13 mb-4">InfoBeyond Technology</span>
        <h2 class="mb-0">What we are doing: </h2>
    </div>
    <div class="masonry-grid row g-mb-20">
        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Grid Overlap Blocks -->
            <article>
                <img class="img-fluid w-100" src="~/img/career/BigDATA1.jpg" alt="Image Description">
                <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Networking and Communications</a>
                    </h2>
                    <p class="g-color-gray-dark-v4 g-line-height-1_8">High reliable and low latency wireless communication has had major problems in high interference environments (e.g., frequency collision). Network abnormal detection and localization are faced with challenges in large-scale network monitoring and performance problem troubleshooting in data-intensive distributed networks. Our efforts improve the network reliability, performance diagnosis, and intrusion detection in support of ubiquitous computing.</p>
                    <a class="g-font-size-13" href="#!">Read more...</a>
                </div>
            </article>
            <!-- End Blog Grid Overlap Blocks -->
        </div>
        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Grid Overlap Blocks -->
            <article>
                <img class="img-fluid w-100" src="~/img/career/cybersecurity1.png" alt="Image Description">
                <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Cybersecurity</a>
                    </h2>
                    <p class="g-color-gray-dark-v4 g-line-height-1_8">Defending yourself or business against cyber threats has never been more important. As attackers come up with new ways to commit crimes online the need for robust, holistic protection against data breaches is heightened each day. Our efforts (e.g., NXdrive, Security Policy Tool) are deeply complex and challenging, including the investigation of data security, network security, authentication, access control, and intrusion detection.</p>
                    <a class="g-font-size-13" href="#!">Read more...</a>
                </div>
            </article>
            <!-- End Blog Grid Overlap Blocks -->
        </div>
        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Grid Overlap Blocks -->
            <article>
                <img class="img-fluid w-100" src="~/img/career/AI.jpg" alt="Image Description">
                <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">

                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Big Data and Machine Learning</a>
                    </h2>
                    <p class="g-color-gray-dark-v4 g-line-height-1_8">Emerging applications produce massive streaming data every day. It is essential that big data streaming is quick and accurate to enable thorough analysis and extraction of useful information in a timely manner. We promote real-time and collaborative learning capability for processing time-varying big data streams. Our efforts provide perishable insights in high-velocity streams in a real-time fashion.</p>
                    <a class="g-font-size-13" href="#!">Read more...</a>
                </div>
            </article>
            <!-- End Blog Grid Overlap Blocks -->
        </div>
        <div class="masonry-grid-item col-sm-6 g-mb-30">
            <!-- Blog Grid Overlap Blocks -->
            <article>
                <img class="img-fluid w-100" src="~/img/career/Blochchain.jpg" alt="Image Description">
                <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
                    <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                        <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Blochchain and Applications</a>
                    </h2>
                    <p class="g-color-gray-dark-v4 g-line-height-1_8">Blockchain presents a decentralized distributed ledger system that improves data security extensively, such as data confidentiality, integrity, privacy, and immutability. We promote various blockchain applications, such as protecting the power grid data are generated from the sensor endpoints such that they can be securely delivered and consumed over the power grid system with maintenance of data integrity and immutability. </p>
                    <a class="g-font-size-13" href="#!">Read more...</a>
                </div>
            </article>
            <!-- End Blog Grid Overlap Blocks -->
        </div>
    </div>
</div>
<!-- End Blog Grid Overlap Blocks -->
@*<div class="container g-pb-70">
        <div class="row">
            <div class="col-lg-6 g-mb-30">
                <article class="g-pos-rel">
                    <img class="img-fluid w-100" src="~/img/pages/about/aboutus.jpg" alt="Image Description">
                    <div class="g-bg-white-gradient-opacity-v1 g-pos-abs g-bottom-0 g-left-0 g-right-0 g-pa-30">
                        <h3><a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Learn how we're building a more diverse and inclusive Unify Marketing</a></h3>
                        <a class="u-link-v6 g-color-white g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="page-hire-us-1.html">
                            Read More
                            <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                        </a>
                    </div>
                </article>
            </div>

            <div class="col-lg-6 g-mb-30">
                <article class="g-pos-rel">
                    <img class="img-fluid w-100" src="~/img/pages/about/aboutus.jpg" alt="Image Description">
                    <div class="g-bg-white-gradient-opacity-v1 g-pos-abs g-bottom-0 g-left-0 g-right-0 g-pa-30">
                        <h3><a class="u-link-v5 g-color-white g-color-primary--hover" href="#">Uncover the philosophy behind our employee benefits</a></h3>
                        <a class="u-link-v6 g-color-white g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="page-hire-us-1.html">
                            Read More
                            <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>*@
<!-- End Articles -->
<!-- Clients -->
<div class="container g-pb-100">
    <!-- Heading -->
    <div class="g-overflow-hidden text-center">
        <div class="u-info-v10-1">
            <h3 class="h6 g-font-weight-600 text-center text-uppercase mb-0">Worked with</h3>
        </div>
    </div>
    <!-- End Heading -->

    <div id="carouselCus1" class="js-carousel g-max-width-645 mx-auto g-pt-50 g-pb-35"
         data-infinite="true"
         data-fade="true"
         data-items="1"
         data-autoplay="true"
         data-speed="10000"
         data-nav-for="#carouselCus2">
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Air Force Research Laboratory
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                US Army
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Commonwealth of kentucky
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Department of Air Force
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Department of Defense
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Department of Energey
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Department of Navy
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Department of Transportation
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Hewlett Packard
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                IEEE Big Data Initiative
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                IEEE Software Defined Networks
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Kentucky Science and Technology Corporation
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Larta Institute
            </blockquote>
        </div>

        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                US Marine Corps
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Missile Defense Agency
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                NIST
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                National Science Foundation
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Office of Naval Research Official
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Stevens Institute of Technology
            </blockquote>
        </div>
        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Mahindra Tech
            </blockquote>
        </div>


        <div class="js-slide">
            <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                <i class="fa fa-star g-color-primary g-font-size-26"></i>
                Univeristy of Oregon
            </blockquote>
        </div>
    </div>

    <div id="carouselCus2" class="js-carousel u-carousel-v12"
         data-infinite="true"
         data-is-thumbs="true"
         data-autoplay="true"
         data-speed="900"
         data-center-mode="true"
         data-slides-show="5"
         data-nav-for="#carouselCus1"
         data-responsive='[{
               "breakpoint": 1200,
               "settings": {
                 "slidesToShow": 5
               }
             }, {
               "breakpoint": 992,
               "settings": {
                 "slidesToShow": 4
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 576,
               "settings": {
                 "slidesToShow": 3
               }
             }, {
               "breakpoint": 446,
               "settings": {
                 "slidesToShow": 2
               }
             }]'>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Air Force research laboratory.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-60 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Army.jpg" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Commonwealth of kentucky.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Department of Air Force.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Department of defense.jpg" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-30 g-width-100 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Department of Energey.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Department of Navy.png" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Department of transportation.jpg" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-20 g-width-120 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/hp_enterprise_followup_logo_detail.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-10 g-width-100 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/IEEE Big data initiative.png" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-20 g-width-120 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/IEEE Software Defined Networks.png" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-100 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Kentucky Science and technology corporation.png" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-10 g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Larta_Main-Logo-no-tagline.jpg" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Marine Corp.png" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Missile defense agency.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-20 g-width-120 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/NIST logo.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-110 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/NSF.jpg" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-mt-20 g-width-100 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Office_of_Naval_Research_Official_Logo.png" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Stevens2.png" alt="Image description">
        </div>
        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-100 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Tech Mahindra.jpg" alt="Image description">
        </div>

        <div class="js-slide u-block-hover">
            <img class="mx-auto g-width-80 u-block-hover__main--grayscale g-opacity-0_5 g-opacity-1--hover g-opacity-1--active g-cursor-pointer" src="~/img/partnerlogo/Univeristy of Oregon.jpg" alt="Image description">
        </div>
    </div>

</div>
<!-- End Clients -->



<script>
    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // Tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');

        // initialization of horizontal progress bars
        var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
            direction: 'horizontal',
            indicatorSelector: '.js-hr-progress-bar-indicator'
        });
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
