@{
    Layout = "_ColumnsOne";
}

<!--for map style-->
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
    }
</style>
<!--/for map style-->
<!-- Promo Banner -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
    <!-- Parallax Image -->
    <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-pos-bottom-center g-bg-bluegray-opacity-0_2--after" style="height: 130%; background-image: url(../assets-v2.x/img-temp/1920x800/img7.jpg);"></div>
    <!-- End Parallax Image -->
    <!-- Promo Block Content -->
    <div class="container g-color-white text-center g-py-150">
        <h3 class="h2 g-font-weight-300 mb-0">It is good to meet you.</h3>
        <h2 class="g-font-weight-700 g-font-size-65 text-uppercase">Got a question?</h2>
    </div>
    <!-- Promo Block Content -->
</section>
<!-- End Promo Banner -->
<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
    <div class="container">
        <ul class="d-flex justify-content-between u-list-inline">
            <li class="list-inline-item g-mr-15">
                <a class="u-link-v5 g-color-text g-pr-10" href="@Url.RouteUrl("HomePage")">Home</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>
            <li class="list-inline-item g-mr-15">
                <a class="u-link-v5 g-color-text g-pr-10" href="@Url.RouteUrl("Contact")">Contact Us</a>
            </li>

            <li class="list-inline-item ml-auto">
                <a class="u-link-v5 g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-color-text g-color-primary--hover g-font-weight-500 rounded g-px-30 g-py-10" href="page-hire-us-1.html">Sign up for free</a>
            </li>
        </ul>
    </div>
</section>
<!-- End Breadcrumbs -->
<!-- Contact Form -->
<section class="container g-py-100">
    <div class="row justify-content-center g-mb-70">
        <div class="col-lg-7">
            <!-- Heading -->
            <div class="text-center">
                <h2 class="h1 g-color-black g-font-weight-700 text-uppercase mb-4">Contact Us</h2>
                <div class="d-inline-block g-width-70 g-height-2 g-bg-black mb-4"></div>

                <h4>Address:</h4>
                <address>
                    <p>
                        <i class="icon-location"></i>&nbsp;320 Whittington PKWY, STE 117
                        <br>Louisville, KY, USA 40222-4917
                        <br>
                        <i class="icon-phone"></i>&nbsp;502.371.0909
                        <br>
                        <i class="icon-mail-alt"></i>&nbsp;<a href="mailto: info@infobeyondtech.com"> info@infobeyondtech.com</a>
                    </p>
                </address>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <form>
                <div class="row">
                    <div class="col-md-6 form-group g-mb-20">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="text" placeholder="Name">
                    </div>
                    <div class="col-md-6 form-group g-mb-20">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="email" placeholder="Email">
                    </div>
                    <div class="col-md-6 form-group g-mb-20">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="text" placeholder="Subject">
                    </div>
                    <div class="col-md-6 form-group g-mb-20">
                        <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="tel" placeholder="Phone">
                    </div>
                    <div class="col-md-12 form-group g-mb-40">
                        <textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover g-resize-none rounded-3 g-py-13 g-px-15" rows="7" placeholder="Message"></textarea>
                    </div>
                </div>

                <fieldset class="clearfix securityCheck">
                    <div class="g-recaptcha" data-sitekey="6LccVD8UAAAAANFHqG-QPIpaEqaQcuRFrqOarYTF"></div>
                    <!--anti robot-->
                    <script src='https://www.google.com/recaptcha/api.js'></script>

                </fieldset>
                <div class="text-center g-mt-40">
                    <div class="result"></div>
                    <button class="btn u-btn-primary g-font-weight-600 g-font-size-16 g-rounded-5 g-py-15 g-px-30" name="submit" type="submit" value="submit" id="submit" style="width:100%">Submit</button>
                </div>

            </form>
        </div>
    </div>
</section>
<!-- End Contact Form -->

<section id="content">
    <div id="map" class="mt40"></div>
    <script>
        function initMap() {
            var InfoBeyond = { lat: 38.241817, lng: -85.578741 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: InfoBeyond
            });
            var marker = new google.maps.Marker({
                position: InfoBeyond,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9ntiNdFO_AW1NIKyNrnIkOteDeuK5VHw&callback=initMap">
    </script>

</section>
<!-- / content -->


<script>
    $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
