@{
    Layout = "_ColumnsOne";
}


 <!-- Blog Single Item Video -->
<section class="container-fluid">
    <div class="g-bg-cover g-bg-size-cover g-bg-pos-center g-bg-white-gradient-opacity-v1--after" data-bg-img-src="/img/pages/download/download-header2.jpg">
        <div class="row d-flex justify-content-center align-content-end flex-wrap g-min-height-450 g-pos-rel g-z-index-1 g-pb-50">
            <div class="col-sm-8 col-md-7 col-lg-4 px-5 px-sm-0 mt-auto">
                <div class="media">
                    <a class="js-fancybox d-flex align-self-center g-text-underline--none--hover mr-3" href="javascript:;" data-src="//vimeo.com/167434033" data-speed="350" data-caption="This Week's Featured TV Show">
                        <span class="u-icon-v3 g-width-55 g-height-55 g-color-black g-color-primary--hover g-bg-white g-font-size-16 g-cursor-pointer rounded-circle">
                            <i class="g-pos-rel g-left-2 fa fa-play"></i>
                        </span>
                    </a>
                    <div class="media-body align-self-center">
                        <div class="d-block">
                            <span class="g-color-white g-font-weight-600 text-uppercase mr-3">Download NXdrive</span>
                            <span class="g-color-white-opacity-0_5 g-font-size-12 text-uppercase">Set it up in your devices</span>
                        </div>
                        <h4 class="h3 g-color-white g-font-weight-600 mb-0">Access your data anywhere</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Single Item Video -->

<!-- About -->
<section class="g-pt-100 g-pb-100" id="windowsApp">
    <div class="container">
        <!-- Image, Text Block -->
        <div class="row d-flex align-items-lg-center flex-wrap g-mb-60 g-mb-0--lg">
            <div class="col-md-6 col-lg-8 g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-white-gradient-opacity-v3--after">
                    <img class="img-fluid rounded g-bg-white-gradient-opacity-v5--after" src="../img/pages/download/download-windows-1000x600.jpg" alt="Image Description">
                </div>
            <div class="col-md-6 col-lg-4" >
                <div class="g-mt-minus-30 g-mt-0--md g-ml-minus-100--lg">
                    <div class="g-mb-20">
                        <h2 class="g-color-black g-font-weight-600 g-font-size-25 g-font-size-35--lg g-line-height-1_2 mb-4">
                             NXdrive<br>Windows PC Application
                        </h2>
                        <p class="g-font-size-16">Install NXdrive free PC Apps on your personal computers, laptops, other windows machines to securely and easily access and manage your data assets from anywhere.</p>
                    </div>


                    <a href="#!" class="btn g-rounded-5 btn-xxl btn-primary g-font-weight-600 g-letter-spacing-0_5 text-left rounded-0 g-mr-10 g-mb-15 pull-left text-center">
                        <span class="pull-left">
                            Download                             
                        </span>
                        <i class="fa fa-windows float-right g-font-size-32 g-ml-15"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- End Image, Text Block -->
    </div>    
</section>
<!-- End About -->

 <!-- Related Posts -->
<section class="g-bg-gray-light-v5">
    <div class="container g-pt-100 g-pb-70"> 
        <div class="col-sm-8 col-md-6 col-lg-4 mx-auto g-mb-50">
            <!-- About Info -->
            <div class="d-inline-block u-shadow-v20 g-width-300 g-height-300 g-brd-around g-brd-10 g-brd-white g-bg-cover g-rounded-circle--after text-center rounded-circle g-pa-50" style="background-image: url(img/logo/app-logo2.jpg);">  
                <a class="js-fancybox d-flex g-text-underline--none--hover ml-auto g-mt-170" href="javascript:;"
                   data-src="//www.youtube.com/embed/BNpiwOkKIJ8?autoplay=1"
                   data-speed="350"
                   data-caption="Video Popup">
                    <span class="u-icon-v3 u-icon-size--xl u-icon-scale-1_2--hover g-bg-primary g-color-white rounded-circle g-pos-rel g-z-index-1 g-cursor-pointer">
                        <i class="g-font-size-17 g-pos-rel g-left-2 fa fa-play"></i>
                    </span>
                </a>
            </div>
           
            <!-- End About Info -->
        </div>
       
        <p class="h3 g-color-black g-font-weight-600 text-center g-mb-60" id="phoneApp">Access NXdrive on your phone or tablet 
        <br /><span style="font-size:18px;">Get NXdrive app to access all of your files from your Android or iOS device.</span></p>       
        <div class="row">
            <div class="col-sm-6 col-lg-6 g-mb-30" >
                <!-- Blog Classic Blocks -->
                <article class="u-shadow-v19 g-bg-white">

                    <a href="https://play.google.com/store/apps/details?id=com.infobeyond.nxdrive" class="btn btn-block btn-xxl u-btn-blue g-font-weight-700 u-btn-content g-letter-spacing-0_5 u-btn-3d g-mr-10 g-mb-15">
                        <i class="fa fa-android  pull-left g-font-size-42 g-mr-10"></i>
                        Android Market
                        <span class="d-block g-font-size-11">Try NXdrive for free</span>
                    </a>

                    <div class="g-bg-white g-pa-30">
                                               <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Access your data from Android devices</a>
                        </h2>
                        <p class="g-color-gray-dark-v4 g-line-height-1_8">Install NXdrive free Apps on your smartphone or tablet computers to securely and easily access and manage your data assets from anywhere.</p>
                    </div>
                </article>
                <!-- End Blog Classic Blocks -->
            </div>
            <div class="col-sm-6 col-lg-6 g-mb-30">
                <!-- Blog Classic Blocks -->
                <article class="u-shadow-v19 g-bg-white">

                    <a href="https://itunes.apple.com/us/app/nxdrive/id1031357188?mt=8" class="btn btn-block btn-xxl u-btn-blue g-font-weight-600 u-btn-content g-letter-spacing-0_5 u-btn-3d g-mr-10 g-mb-15">
                        <i class="fa fa-apple pull-left g-font-size-42 g-mr-10"></i>
                        App Store
                        <span class="d-block g-font-size-11">Try NXdrive for free</span>
                    </a>

                    <div class="g-bg-white g-pa-30">                       
                        <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#!">Access your data from IPhone</a>
                        </h2>
                        <p class="g-color-gray-dark-v4 g-line-height-1_8">Get the NXdrive app on your phone so you can access and edit your files from anywhere.</p>
                    </div>
                </article>
                <!-- End Blog Classic Blocks -->
            </div>            
        </div>
        <p>Downloading the app means you agree to the NXdrive <a href="@Url.RouteUrl("Term")">service agreement</a> and <a href="@Url.RouteUrl("Term")">privacy statement</a>. This software might also download and install its updates automatically.</p>
    </div>
</section>
<!-- End Related Posts -->

    <script>
        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
