@{
    Layout = "_ColumnsOne";
}


<!-- Promo Block -->
<div class="g-bg-cover g-bg-pos-top-center g-bg-green-gradient-opacity-v1 g-py-100">
    @*g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after " style="background-image: url(assets/img-temp/1920x800/img3.jpg);"*@
    <div class="container g-pos-rel g-z-index-1">
        <div class="g-mb-20">
            <h1 class="g-color-white mb-0">NXdrive Help</h1>
        </div>
        <div class="g-bg-white-opacity-0_3 g-pa-30 g-pb-0">
            <!-- Input Group -->
            <form>
                <div class="row g-mx-0--md">
                    <div class="col-md-6 col-lg-10 g-px-0--md g-mb-30">
                        <input class="form-control rounded-0 g-brd-none g-brd-right g-brd-gray-light-v3 g-px-20 g-py-16" type="text" placeholder="Ask a question or search by keyword">
                    </div>
                    <div class="col-lg-2 g-px-0--md g-mb-30">
                        <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
            <!-- End Input Group -->
        </div>
    </div>
</div>
<!-- End Promo Block -->
<!-- Breadcrumbs -->
@*<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
        <div class="container">
            <ul class="d-flex justify-content-between u-list-inline">
                <li class="list-inline-item g-mr-15">
                    <a class="u-link-v5 g-color-text g-pr-10" href="#">Home</a>
                    <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
                </li>
                <li class="list-inline-item g-mr-15">
                    <a class="u-link-v5 g-color-text g-pr-10" href="#">Help Center</a>
                    <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
                </li>
                <li class="list-inline-item ml-auto">
                    <a class="u-link-v5 g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-color-text g-color-primary--hover g-font-weight-500 rounded g-px-30 g-py-10" href="page-hire-us-1.html">Sign up for free</a>
                </li>
            </ul>
        </div>
    </section>*@
<!-- End Breadcrumbs -->
<!-- Nav tabs -->
<ul class="nav text-center nav-justified u-nav-v2-1 g-mb-20" role="tablist" data-target="nav-2-1-default-hor-left-big-icons" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray g-mb-20">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#nav-2-1-default-hor-left-big-icons--1" role="tab">
            <i class="icon-media-015 u-line-icon-pro d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Video training
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-2-1-default-hor-left-big-icons--2" role="tab">
            <i class="icon-communication-025 d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Sea et
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-2-1-default-hor-left-big-icons--4" role="tab">
            <i class="icon-communication-024 u-line-icon-pro d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Mobile devices
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-2-1-default-hor-left-big-icons--3" role="tab">
            <i class="icon-media-065 u-line-icon-pro d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Troubleshoot
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" href="@Url.RouteUrl("Contact")" role="button">
            <i class="icon-electronics-024 u-line-icon-pro d-block g-font-size-25 u-tab-line-icon-pro"></i>
            Contact us
        </a>
    </li>
</ul>
<!-- End Nav tabs -->

<!-- Hero blocks 1 keep data-->
<section class="g-py-70">
    <!-- Hero blocks #01 -->
    <section class="g-py-30">
        <div class="text-center g-mb-50">
            <h1 class="h1">
                Keep your private data supper secure
                @*<span class="g-color-primary g-ml-5">#01</span>*@
            </h1>

        </div>
        <!-- Nav tabs -->
        <ul class="nav justify-content-center u-nav-v2-1 u-nav-rounded-3 g-mb-50" role="tablist" data-target="hero-01" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#hero-01-1" role="tab">Define your NXdrive space</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-2" role="tab">Upload any file</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-3" role="tab">Security & Privacy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-4" role="tab">Access anywhere</a>
            </li>
            
        </ul>
        <!-- End Nav tabs -->
        <!-- Tab panes -->
        <div id="hero-01" class="tab-content">
            <div id="hero-01-1" class="tab-pane fade show active" role="tabpanel">
                <div id="shortcode1-1">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-gray-light-v5 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img1.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="hero-01-2" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-2">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-primary g-color-white-opacity-0_9 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2" style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img2.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


                <!-- Show Code -->
                <!-- End Show Code -->
            </div>
            <div id="hero-01-3" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-3">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-darkgray-radialgradient-circle g-color-white-opacity-0_7 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2"  style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img3.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
            <div id="hero-01-4" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-4">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-blue-radialgradient-circle g-color-white-opacity-0_7 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2"  style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img4.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
            <div id="hero-01-5" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-5">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-pink-lineargradient-v2 g-color-white-opacity-0_9 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2"  style="color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Tab panes -->
    </section>
    <!-- End Hero blocks #01 -->


    </section>

<!-- Hero blocks 2 share -->
<section>
    <!-- Hero blocks #01 -->
    <section class="g-py-30">
        <div class="text-center g-mb-50">
            <h1 class="h1">
                Share your documents freely
                @*<span class="g-color-primary g-ml-5">#02</span>*@
            </h1>

        </div>
        <!-- Nav tabs -->
        <ul class="nav justify-content-center u-nav-v2-1 u-nav-rounded-3 g-mb-50" role="tablist" data-target="hero-01" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#hero-01-1" role="tab">Share with link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-2" role="tab">Share with email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-3" role="tab">Share with group</a>
            </li>
           
        </ul>
        <!-- End Nav tabs -->
        <!-- Tab panes -->
        <div id="hero-01" class="tab-content">
            <div id="hero-01-1" class="tab-pane fade show active" role="tabpanel">
                <div id="shortcode1-1">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-gray-light-v5 g-py-30">
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img1.jpg" alt="Iamge Description">
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="hero-01-2" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-2">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-primary g-color-white-opacity-0_9 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>

                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>


                <!-- Show Code -->
                <!-- End Show Code -->
            </div>
            <div id="hero-01-3" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-3">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-darkgray-radialgradient-circle g-color-white-opacity-0_7 g-py-30">
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>

                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
            <div id="hero-01-4" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-4">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-blue-radialgradient-circle g-color-white-opacity-0_7 g-py-30">
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
            <div id="hero-01-5" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-5">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-pink-lineargradient-v2 g-color-white-opacity-0_9 g-py-30">
                            <div class="container">
                                <div class="row">
                                    
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
        </div>
        <!-- End Tab panes -->
    </section>
    <!-- End Hero blocks #01 -->


</section>


<!-- Hero blocks 3 group-->
<section class="g-py-50">
    <!-- Hero blocks #03 -->
    <section class="g-py-30">
        <div class="text-center g-mb-50">
            <h1 class="h1">
                Work together easily
                @*<span class="g-color-primary g-ml-5">#03</span>*@
            </h1>

        </div>
        <!-- Nav tabs -->
        <ul class="nav justify-content-center u-nav-v2-1 u-nav-rounded-3 g-mb-50" role="tablist" data-target="hero-01" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#hero-01-1" role="tab">Great groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-2" role="tab">Share with groups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#hero-01-3" role="tab">Communicate in groups</a>
            </li>
            
        </ul>
        <!-- End Nav tabs -->
        <!-- Tab panes -->
        <div id="hero-01" class="tab-content">
            <div id="hero-01-1" class="tab-pane fade show active" role="tabpanel">
                <div id="shortcode1-1">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-gray-light-v5 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <div id="hero-01-2" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-2">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-primary g-color-white-opacity-0_9 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


                <!-- Show Code -->
                <!-- End Show Code -->
            </div>
            <div id="hero-01-3" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-3">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-darkgray-radialgradient-circle g-color-white-opacity-0_7 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
            <div id="hero-01-4" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-4">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-blue-radialgradient-circle g-color-white-opacity-0_7 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>



            </div>
            <div id="hero-01-5" class="tab-pane fade" role="tabpanel">
                <div id="shortcode1-5">
                    <div class="shortcode-html">
                        <section class="g-flex-centered g-height-450 g-bg-pink-lineargradient-v2 g-color-white-opacity-0_9 g-py-30">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <h2 class="h4 text-uppercase g-letter-spacing-1 g-color-white g-mb-20">Content block</h2>
                                        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
                                    </div>
                                    <div class="col-md-6 align-self-center g-py-20">
                                        <img class="w-100" src="~/assets-v2.x/img-temp/400x270/img5.jpg" alt="Iamge Description">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>


            </div>
        </div>
        <!-- End Tab panes -->
    </section>
    <!-- End Hero blocks #01 -->


</section>



    <script>
        $(document).on('ready', function () {
            // initialization of tabs
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
