@{

    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/vendor/bootstrap/bootstrap.min.css");

    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/unify-core.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/unify-components.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/unify-globals.css");


    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/js/custom.js");

    <!-- JS Global Compulsory -->
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/cookiejs/jquery.cookie.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/bootstrap/bootstrap.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/popper.js/popper.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/jquery-migrate/jquery-migrate.min.js");


    //jQuery is the only js file in the head. if we decide to move it to the footer, then ensure that all inline scripts (with jQuery usage) with are also moved to the footer
    //the issue that it's not possible in some cases (e.g. "Edit address", when Ajax request is made on one-page checkout)
    Html.AppendScriptParts(ResourceLocation.Head, "~/assets-v2.x/vendor/jquery/jquery.min.js");

}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>NXdrive -- Page Not Found</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    @await Component.InvokeAsync("Favicon")

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
</head>

<body>
    <main class="g-min-height-100vh g-flex-centered g-pa-15">
        <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
            <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4">404</div>

            <div class="g-absolute-centered">
                <h1 class="g-color-black g-mt-minus-8 mb-0">404&nbsp;Not&nbsp;Found</h1>

                <hr class="g-brd-gray-light-v3 g-my-15">

                <p class="g-font-size-18 mb-0">
                    <a href="@Url.RouteUrl("HomePage")" class="g-color-black g-color-primary--hover g-text-no-underline--hover">Home Page</a>
                </p>
            </div>
        </div>
    </main>
</body>

</html>
