@{
    Layout = "_ColumnsOne";
}

 <!-- Promo Banner -->
<div class="g-min-height-450 g-flex-centered g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-pt-80" style="background-image: url(img/700x800/backgroundImage1.png);">
    <div class="container g-pos-rel g-z-index-1">
        <span class="d-block text-uppercase g-color-primary g-font-weight-500 g-font-size-13 mb-4">Let's work together!</span>
        <h1 class="g-color-white g-font-size-60--lg mb-0">Job Description</h1>
    </div>
</div>
<!-- End Promo Banner -->
<!-- Breadcrumbs -->
<section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
    <div class="container">
        <ul class="d-flex justify-content-between u-list-inline">
            <li class="list-inline-item g-mr-15">
                <a class="u-link-v5 g-color-text g-pr-10" href="@Url.RouteUrl("Home")">Home</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>
            <li class="list-inline-item g-mr-15">
                <a class="u-link-v5 g-color-text g-pr-10" href="@Url.RouteUrl("Career")">Careers</a>
                <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>
            <li class="list-inline-item g-color-primary">
                <span>Software Research Scientist</span>
            </li>
            <li class="list-inline-item ml-auto">
                <a class="u-link-v5 g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-color-text g-color-primary--hover g-font-weight-500 rounded g-px-30 g-py-10" href="@Url.RouteUrl("Career")">Careers</a>
            </li>
        </ul>
    </div>
</section>
<!-- End Breadcrumbs --> 
<!-- Jobs Description -->
<section class="g-py-100">
    <div class="container">
        <div class="row">
            <!-- Content -->
            <div class="col-lg-7 g-mb-30 g-mb-0--lg">
                <article class="u-shadow-v11 rounded g-pa-30">
                    <!-- Content Header -->
                    <div class="media">
                        <div class="media-body">
                            <span class="d-block g-font-size-36--lg g-color-gray-dark-v1 g-color-primary--hover g-mb-3">
                                Software Research Scientist
                            </span>
                        </div>
                    </div>
                    <!-- End Content Header -->
                    <hr class="g-brd-gray-light-v4">
                    <!-- Jobs Description -->
                    <h3 class="h4 g-color-gray-dark-v1 g-color-main--hover g-mb-10">Jobs Description</h3>
                    <div class="col-lg">
                        <p class="g-font-size-16--md">
                            Research and develop NXdrive software system. Design and develop software products corresponding to research results. Engage in modeling of software systems at high level and reasoning about their semantics. Design and develop robust, type-safe, thread-safe, high-performance, and fault-tolerant software products, with the use of best practice design patterns and advances in programming language and tools. Design reusable software development platforms including web, desktop, and mobile platforms. Design algorithms for cloud file system, including memory representation and management of file system, the synchronization between memory representation and database representation, and pipeline for each file operation. Design and develop an entire solution for cloud file system, including its web application, mobile application and desktop application.
                        </p>
                    </div>
                    <!-- End Jobs Description -->
                    <hr class="g-brd-gray-light-v4">
                    <!-- Your Tasks -->
                    <h4 class="g-color-gray-dark-v1 g-mb-10">Requirements</h4>
                    <div class="g-mb-20">
                        <div class="col-lg">
                            <p class="g-font-size-16--md"> Must possess a Master's degree in Computer Science plus 24 months experience as a Research Assistant or Software Engineer. Experience must include research experience in software research and development including generic programming, program analyses and optimizations, programming vulnerabilities, and tests. (Employer accepts research experience gained before/during Ph.D. studies.) Technical skill set must include Java, C#, C++ and JavaScript. Must have published research papers/scientific articles in relevant journals or conferences.</p>
                        </div>
                    </div>
                    <!-- End Your Tasks -->
                    <hr class="g-brd-gray-light-v4">
                    <!-- Responsibilities -->
                    <h3 class="h4 g-color-gray-dark-v1 g-mb-10">General Information</h3>

                    <div class="">
                        <div class="col-lg">
                            <p>
                                Job Location: Louisville, KY<br />
                                Working conditions: 40+ hours per week.
                            </p>
                            <p>
                                Submit resume with complete references to: Bin Xie, InfoBeyond Technology, LLC, 320 Whittington Parkway, Suite 117, Louisville, KY 40222. An EOE.<br />
                                Please contact Bin.Xie@InfoBeyondtech.com for any question.
                            </p>
                        </div>
                    </div>
                    <!-- End Responsibilities -->
                </article>

                <!-- Call to Action -->

                <div class="g-bg-secondary u-shadow-v31 g-pa-30 g-mt-30--lg">
                    <h3 class="h1 mb-3 d-block g-font-size-36--sm g-color-gray-dark-v1 g-mb-25">Other Open Positions</h3>
                    <div class="col-lg">
                        <ul class="list-unstyled g-mb-12 g-mb-0--md">
                            <li class="d-flex g-font-size-24--md g-color-gray-dark-v1 align-items-center g-mb-12">
                                <a class="d-block g-color-main--hover" style="text-decoration:none" href="@Url.RouteUrl("DirectorMarketing")">Director of Cybersecurity Marketing and Sales</a>
                            </li>
                            <li class="d-flex g-font-size-24--md g-color-gray-dark-v1 align-items-center g-mb-12">
                                <a class="d-block g-color-main--hover" style="text-decoration:none" href="@Url.RouteUrl("MarketingSpecialist")">Business Development/Marketing Specialist</a>
                            </li>
                            <li class="d-flex g-font-size-24--md align-items-center g-mb-12">
                                <a class="d-block g-color-main--hover" style="text-decoration:none" href="@Url.RouteUrl("ResearchScientist")">Research Scientist</a>
                            </li>
                            <li class="d-flex g-font-size-24--md align-items-center g-mb-12">
                                <a class="d-block g-color-main--hover" style="text-decoration:none" href="@Url.RouteUrl("SoftwareEngineer")">Software Engineer/Intern</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Call to Action -->
            </div>
            <!-- End Content -->
            <!-- Sidebar -->
            <div class="col-lg-5">
                <aside class="u-shadow-v11 rounded g-pa-30">
                    <!-- Hire Us -->
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="g-mb-10">
                                <h2 class="h1 mb-3 g-color-primary--hover">Apply Here!</h2>
                                <p class="g-line-height-2">Interested in applying for a position? Please fill out the form below, attach your resume, and hit submit. Thank you!</p>
                            </div>
                            <!-- Hire Us Form -->
                            <form>
                                <ul class="list-unstyled g-mb-30">
                                    <!-- Forms -->
                                    <li class="row no-gutters g-brd-bottom g-brd-gray-light-v4 g-py-30">
                                        <div class="col-sm-4 g-mb-30 g-mb-0--sm">
                                            <h3 class="h6 mb-0">Your Name</h3>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control g-brd-gray-light-v3 g-bg-secondary g-px-20 g-py-14" type="text" placeholder="Full Name">
                                        </div>
                                    </li>
                                    <!-- End Forms -->
                                    <!-- Forms -->
                                    <li class="row no-gutters g-brd-bottom g-brd-gray-light-v4 g-py-30">
                                        <div class="col-sm-4 g-mb-30 g-mb-0--sm">
                                            <h3 class="h6 mb-0">Your Email</h3>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control g-brd-gray-light-v3 g-bg-secondary g-px-20 g-py-14" type="email" placeholder="Email Address">
                                        </div>
                                    </li>
                                    <!-- End Forms -->
                                    <!-- Forms -->
                                    <li class="row no-gutters g-brd-bottom g-brd-gray-light-v4 g-py-30">
                                        <div class="col-sm-4 g-mb-30 g-mb-0--sm">
                                            <h3 class="h6 mb-0">Phone #</h3>
                                        </div>
                                        <div class="col-sm-8">
                                            <input class="form-control g-brd-gray-light-v3 g-bg-secondary g-px-20 g-py-14" type="text" placeholder="Phone Number">
                                        </div>
                                    </li>
                                    <!-- End Forms -->
                                    <!-- Forms -->
                                    <li class="no-gutters g-brd-bottom g-brd-gray-light-v4 g-py-30">
                                        <div class="col-sm-12 g-mb-30 g-mb-0--sm">
                                            <h3 class="h5 mb-0">Applying For</h3>
                                            <p class="g-font-size-13 mb-30">You can choose multiple options</p>
                                        </div>
                                        <ul class="col-sm-12 list-inline">
                                            <li class="list-inline-item mr-5">
                                                <label class="d-flex align-items-center u-check u-link-v5 g-color-main g-color-primary--hover rounded mb-0">
                                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0 rounded" name="radInline1_1" type="checkbox">
                                                    <span class="btn u-btn-outline-lightgray g-brd-gray-light-v2 g-color-white--checked g-bg-primary--checked rounded g-px-10 g-py-1 g-mr-10">
                                                        <i class="fa g-font-size-10" data-check-icon="&#xf192;" data-uncheck-icon="&#xf1db;"></i>
                                                    </span>
                                                    Marketing Specialist
                                                </label>
                                            </li>
                                            <li class="list-inline-item mr-5">
                                                <label class="d-flex align-items-center u-check u-link-v5 g-color-main g-color-primary--hover rounded mb-0">
                                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0 rounded" name="radInline1_1" type="checkbox">
                                                    <span class="btn u-btn-outline-lightgray g-brd-gray-light-v2 g-color-white--checked g-bg-primary--checked rounded g-px-10 g-py-1 g-mr-10">
                                                        <i class="fa" data-check-icon="&#xf192;" data-uncheck-icon="&#xf1db;"></i>
                                                    </span>
                                                    Research Scientist
                                                </label>
                                            </li>
                                            <li class="list-inline-item">
                                                <label class="d-flex align-items-center u-check u-link-v5 g-color-main g-color-primary--hover rounded mb-0">
                                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0 rounded" name="radInline1_1" type="checkbox">
                                                    <span class="btn u-btn-outline-lightgray g-brd-gray-light-v2 g-color-white--checked g-bg-primary--checked rounded g-px-10 g-py-1 g-mr-10">
                                                        <i class="fa" data-check-icon="&#xf192;" data-uncheck-icon="&#xf1db;"></i>
                                                    </span>
                                                    Software Research Scientist
                                                </label>
                                            </li>
                                            <li class="list-inline-item">
                                                <label class="d-flex align-items-center u-check u-link-v5 g-color-main g-color-primary--hover rounded mb-0">
                                                    <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0 rounded" name="radInline1_1" type="checkbox">
                                                    <span class="btn u-btn-outline-lightgray g-brd-gray-light-v2 g-color-white--checked g-bg-primary--checked rounded g-px-10 g-py-1 g-mr-10">
                                                        <i class="fa" data-check-icon="&#xf192;" data-uncheck-icon="&#xf1db;"></i>
                                                    </span>
                                                    Software Engineer/Intern
                                                </label>
                                            </li>
                                        </ul>
                                    </li>
                                    <!-- End Forms -->
                                    <!-- Forms -->
                                    <li class="no-gutters g-brd-bottom g-brd-gray-light-v4 g-py-30">
                                        <div class="col-sm-12 g-mb-60 g-mb-0--lg">
                                            <h3 class="h5 mb-0">Tell Us about You</h3>
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea class="form-control g-brd-gray-light-v3 g-bg-secondary g-px-20 g-py-14" rows="5" placeholder="Tell About You or Your Company"></textarea>
                                        </div>
                                    </li>
                                    <!-- End Forms -->
                                    <!-- Advanced File Input -->
                                    <li class="no-gutters g-brd-bottom g-brd-gray-light-v4 g-py-30">
                                        <div class="col-sm-12 g-mb-30 g-mb-0--sm">
                                            <h3 class="h5 mb-100">Attach Files</h3>
                                        </div>
                                        <div class="col-sm-12">
                                            <input class="js-file-attachment" type="file" name="fileAttachment2[]">
                                        </div>
                                    </li>
                                    <!-- End Advanced File Input -->
                                </ul>
                                <!-- End File Inputs -->
                                <button class="btn btn-block u-btn-primary g-brd-main--hover g-bg-main--hover g-font-weight-600 text-uppercase g-px-25 g-py-20" type="submit">
                                    Submit
                                </button>
                            </form>
                            <!-- End Hire Us Form -->
                        </div>
                    </div>
                    <!-- End Hire Us -->
                </aside>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
</section>
<!-- End Jobs Description -->
<hr class="g-brd-gray-light-v4 my-0">


<!-- JS Plugins Init. -->
<script> 
    $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');


        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of forms
        $.HSCore.components.HSFileAttachment.init('.js-file-attachment');


        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of rating
        $.HSCore.components.HSRating.init($('.js-rating'), {
            spacing: 2
        });
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of horizontal progress bars
        setTimeout(function () { // important in this case
            var horizontalProgressBars = $.HSCore.components.HSProgressBar.init('.js-hr-progress-bar', {
                direction: 'horizontal',
                indicatorSelector: '.js-hr-progress-bar-indicator'
            });
        }, 1);
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>