@model Polpware.NopExt.Presentation.SubsPlan.Models.ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings

<div class="row g-bg-gray-light-v5 mx-4 g-pa-20 g-pb-50 mb-4">

    <div class="col-md-12">
        @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData)
    </div>

    <div class="col-md-12">
        @await Component.InvokeAsync("OrderTotals", new { isEditable = false })
    </div>
</div>
