#js-header {
    border-color: #ccc;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

/* Logo in the header menu */
.navbar-brand.u-header__logo img.u-header__logo-img {
    max-width: 150px;
    max-height: 30px;
}
.navbar-brand.u-header__logo img.u-header__logo-img.u-header__logo-img--main {
    max-height: 35px;
}

/* Set logo image width for the single use */
.zenith-logo > img {
    width: 100px;
}

/* Add here all your css styles (customizations) */
/* tod: Does the following make sense?? */
.vl {
    border-right: 2px solid green;
    height: 500px;
}

.g-pa-rl-40 {
    padding-left:40px !important;
    padding-right:40px !important;
}

.g-pa-t-40 {
    padding-top: 40px !important;   
}


.g-bg-main-opacity-0_2--after::after {
    background-color: rgba(5, 44, 82, 0.2);
}


.g-bg-main-opacity-0_5--after::after {
    background-color: rgba(5, 44, 82, 0.5);
}

.tile-container {
    position: relative;  
    margin: 5px 0px;
    width: 100%; 
}

.tile {  
    width: 20%;
    min-height: 22px;  
    display: inline-block;
}

.w-20 {
    width:20% !important;
}

.imgtip {
    position: relative;
    display: inline-block;   
}

.imgtip .imgtiptext {
        visibility: hidden;
        width: 200px;
        background-color: yellow;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 5;
    }

.imgtip:hover .imgtiptext {
        visibility: visible;
    }




.speech-bubble {
    position: relative;
    background: #00aabb;
    border-radius: .4em;
}

    .speech-bubble:after {
        content: 'hello';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 0.844em solid transparent;
        border-bottom-color: #00aabb;
        border-top: 0;
        margin-left: -0.844em;
        margin-top: -0.844em;
        visibility: visible;
    }

.mhs--process-step-link {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 12.5rem;
    width: 20%;
    z-index: 2;
}

.mhs--process-step-popup {
    background-color: #d8d8d8;
    left: 20%;
    opacity: 0;
    position: absolute;
    top: 5.1875rem;
    transition-duration: .3s;
    transition-property: opacity,visibility;
    transition-timing-function: cubic-bezier(.5,0,.1,1);
    transform: translateY(-50%);
    visibility: hidden;
    min-width: 13.75rem;
    max-width: 34.375rem;
    z-index: 2;
}

.mhs--process-step-popup-content {
    flex-direction: row;
    padding: 1.5625rem .9375rem .9375rem;
}

.mhs--process-step-popup-content {
    font-size: .875rem;
    font-weight: 300;
    color: #000;
    display: flex;
    flex-direction: column;
    letter-spacing: -.09px;
    position: relative;
}

.circle-icon {
    opacity:1;
    padding: 30px;
    border-radius: 50%;
    border:4px; 
    border-color:gray;
}

.col-lg-20 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}