@{
    Layout = "_ColumnsOne";
}

<!-- Promo Banner -->
<div class="g-min-height-450 g-flex-centered g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-pt-80" style="background-image: url(img/pages/features/header-group.jpg);">
    <div class="container g-pos-rel g-z-index-1">
        <!--<span class="d-block text-uppercase g-color-primary g-font-weight-500 g-font-size-13 mb-4">Collaboration</span>-->
            <h2 class="h1 g-color-white g-font-size-60--lg mb-0 align-content-center">Group Sharing</h2>
        </div>
    </div>
    <!-- End Promo Banner -->
        <!-- Breadcrumbs -->
        <section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
            <div class="container">
                <ul class="d-flex justify-content-between u-list-inline">
                    <li class="list-inline-item g-mr-15">
                        <a class="u-link-v5 g-color-text g-pr-10" href="/">Home</a>
                        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
                    </li>
                    <li class="list-inline-item g-mr-15">
                        <a class="u-link-v5 g-color-text g-pr-10" href="/#features">Features</a>
                        <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
                    </li>
                    <li class="list-inline-item">
                        <span>Group</span>
                    </li>
                    <li class="list-inline-item ml-auto">
                        <a class="u-link-v5 g-brd-around g-brd-gray-light-v4 g-brd-primary--hover g-color-text g-color-primary--hover g-font-weight-500 rounded g-px-30 g-py-10" href="@Url.RouteUrl("Register")">Sign up for free</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- End Breadcrumbs -->
        <!-- Services -->
        <div class="container g-pt-100">
            <div class="row">
                <div class="col-lg-9 g-mb-30">
                    <!-- Video Article -->
                    <div class="col-md-12 g-mb-30">
                        <div class="h-100 g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_1--after g-pos-rel g-py-210 g-mb-30 g-mb-0--lg" data-bg-img-src="/img/pages/features/video-group.jpg">
                            <article class="text-center g-absolute-centered--y g-z-index-1 g-px-50" style="width:100%">
                                <a class="js-fancybox d-inline-block g-text-underline--none--hover mb-3" href="javascript:;"
                                   data-src="//www.youtube.com/watch?v=IJJlnqW-xqM"
                                   data-speed="350"
                                   data-caption="Video Popup">
                                    <span class="u-icon-v3 u-icon-size--xl u-icon-scale-1_2--hover g-bg-primary g-color-white rounded-circle g-cursor-pointer">
                                        <i class="g-font-size-17 g-pos-rel g-left-2 fa fa-play"></i>
                                    </span>
                                </a>
                                <h4 class="g-color-white">Work together by groups</h4>
                            </article>
                        </div>
                    </div>
                    <!-- End Video Article -->
                    <!-- Services -->
                    <div class="row g-pb-20">
                        <div class="col-md-6 col-lg-4 g-mb-50">
                            <!-- Services -->
                            <article>
                                <div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
                                    <span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
                                        <i class="icon-star"></i>
                                    </span>
                                    <h3 class="h5 d-inline-block g-font-weight-600 mb-0">Work together easily</h3>
                                </div>
                                <span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2"></span>
                                <p>Collaborate with people for work or fun. Share your files and folders easily with NXdrive.</p>
                            </article>
                            <!-- End Services -->
                        </div>
                        <div class="col-md-6 col-lg-4 g-mb-50">
                            <!-- Services -->
                            <article>
                                <div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
                                    <span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
                                        <i class="icon-star"></i>
                                    </span>
                                    <h3 class="h5 d-inline-block g-font-weight-600 mb-0">Safe, secure and reliable</h3>
                                </div>
                                <span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2"></span>
                                <p>NXDrive excels in defending against data breach which is one of the major cyber security threats of the online data storage. NXdrive is trustable by organisations for their security, compliance and privacy needs.</p>
                            </article>
                            <!-- End Services -->
                        </div>
                        <div class="col-md-6 col-lg-4 g-mb-50">
                            <!-- Services -->
                            <article>
                                <div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
                                    <span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
                                        <i class="icon-star"></i>
                                    </span>
                                    <h3 class="h5 d-inline-block g-font-weight-600 mb-0">Share instantly</h3>
                                </div>
                                <span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2"></span>
                                <p>Work seamlessly with your teammates when you store important files in the cloud.</p>
                            </article>
                            <!-- End Services -->
                        </div>
                    </div>
                    <!-- End Services -->
                </div>
                <!-- Sidebar -->
                <div class="col-lg-3 g-mb-30">
                    <!-- Links -->
                    <ul class="list-unstyled g-hidden-md-down mb-5">
                        <li class="my-1">
                            <a class="d-block u-link-v5 g-brd-left g-brd-3 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-main g-color-primary--hover g-color-primary--parent-active g-bg-secondary g-font-weight-600 g-px-20 g-pl-25--hover g-pl-25--active g-py-12" href="#">
                                Security & privacy
                                <i class="align-middle float-right icon-real-estate-061 u-line-icon-pro"></i>
                            </a>
                        </li>
                        <li class="my-1">
                            <a class="active d-block u-link-v5 g-brd-left g-brd-3 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-main g-color-primary--hover g-color-primary--parent-active g-bg-secondary g-font-weight-600 g-px-20 g-pl-25--hover g-pl-25--active g-py-12" href="@Url.RouteUrl("Group")">
                                Group collaboration
                                <i class="align-middle float-right icon-finance-160 u-line-icon-pro"></i>
                            </a>
                        </li>
                        <li class="my-1">
                            <a class="d-block u-link-v5 g-brd-left g-brd-3 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-main g-color-primary--hover g-color-primary--parent-active g-bg-secondary g-font-weight-600 g-px-20 g-pl-25--hover g-pl-25--active g-py-12" href="@Url.RouteUrl("DownloadCenter")">
                                Mobile devices
                                <i class="align-middle float-right icon-communication-024 u-line-icon-pro"></i>
                            </a>
                        </li>
                        <li class="my-1">
                            <a class="d-block u-link-v5 g-brd-left g-brd-3 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-main g-color-primary--hover g-color-primary--parent-active g-bg-secondary g-font-weight-600 g-px-20 g-pl-25--hover g-pl-25--active g-py-12" href="@Url.RouteUrl("ServicePlans")">
                                Plans
                                <i class="align-middle float-right hs-admin-cup u-line-icon-pro"></i>
                            </a>
                        </li>
                        <li class="my-1">
                            <a class="d-block u-link-v5 g-brd-left g-brd-3 g-brd-transparent g-brd-primary--hover g-brd-primary--active g-color-main g-color-primary--hover g-color-primary--parent-active g-bg-secondary g-font-weight-600 g-px-20 g-pl-25--hover g-pl-25--active g-py-12" href="@Url.RouteUrl("HelpCenter")">
                                Help center
                                <i class="align-middle float-right hs-admin-help u-line-icon-pro"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- End Links -->
                    <!-- Helpful Resources -->
                    <article class="g-bg-primary g-hidden-md-down g-px-25 g-py-30 mb-5">
                        <div class="media align-items-center mb-2">
                            <div class="d-flex g-ml-minus-4 mr-2">
                                <span class="d-inline-block text-center g-font-size-35 g-color-white"><i class="icon-finance-082 u-line-icon-pro"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="h6 g-color-white text-uppercase">Helpful<br>Resources</h4>
                            </div>
                        </div>
                        <!-- Links -->
                        <ul class="list-unstyled mb-0">
                            <li><i class="g-color-white mr-2 fa fa-angle-right"></i><a class="u-link-v5 g-color-white g-pl-7--hover" href="@Url.RouteUrl("ServicePlans")">Plans</a></li>
                            <li><i class="g-color-white mr-2 fa fa-angle-right"></i><a class="u-link-v5 g-color-white g-pl-7--hover" href="@Url.RouteUrl("ContactUs")">Contacts</a></li>
                        </ul>
                        <!-- End Links -->
                    </article>
                    <!-- End Helpful Resources -->
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
        <!-- End Services -->
        <!-- Blog Single Item Blocks -->
        <div class="g-brd-top--md g-brd-gray-light-v4 g-pos-rel">
            <div class="container">
                <div class="row justify-content-end no-gutters">
                    <div id="stickyblock-start" class="col-md-6 align-self-center h-100 g-pos-abs--md g-top-0 g-left-0">
                        <div class="js-sticky-block g-sticky-block--md g-bg-img-hero g-min-height-100vh"
                             data-bg-img-src="img/pages/features/feature-group-sizeSmall.jpg"
                             data-type="responsive"
                             data-start-point="#stickyblock-start"
                             data-end-point="#stickyblock-end"></div>
                    </div>
                    <div class="col-md-5 g-pb-50 g-pb-0--md">
                        <div class="g-max-width-400 g-py-50">
                            <div class="g-mb-50 g-mb-100--md">
                                <h3 class="h4 mb-3"><span class="g-color-primary g-font-weight-600">01.</span> Work together easily</h3>
                                <p class="g-line-height-2">NXDrive provides teamwork, sharing through groups.</p>
                                <p>Collaborate with people for work or fun. Share your files and folders easily with NXdrive.</p>
                            </div>
                            <div class="g-mb-50 g-mb-100--md">
                                <h3 class="h4 mb-3"><span class="g-color-primary g-font-weight-600">02.</span> Safe, secure and reliable</h3>
                                <p class="g-line-height-2">NXDrive excels in defending against data breach which is one of the major cyber security threats of the online data storage.</p>
                                <p>NXdrive is trustable by organisations for their security, compliance and privacy needs.</p>
                            </div>
                            <div class="g-mb-50 g-mb-100--md">
                                <h3 class="h4 mb-3"><span class="g-color-primary g-font-weight-600">03.</span> Work instantly with group members</h3>
                                <p class="g-line-height-2">Work seamlessly with your teammates when you store important files in the cloud.</p>
                                <p>
                                    NXdrive provides worry-free on data privacy which is unique to other data storage systems. In a file-based storage system, the data on the storage disclose the data ownership, time, data types, and other personal information. Currently, there are a number of tools that can scan your data to infer data privacy information for many purposes. NXdrive innovatively stops privacy scanning over your data in the storage server. It effectively decouples the data ownership and other data private information from the data content such that the user privacy is protected.
                                </p>
                            </div>
                            <div class="g-mb-50 g-mb-100--md">
                                <h3 class="h4 mb-3"><span class="g-color-primary g-font-weight-600">04.</span> Worry-free on Data Loss</h3>
                                <p class="g-line-height-2">NXDrive has robust self-generation capabilities that prevent the loss of any data pieces.</p>
                                <p>NXdrive prevents data loss that could be caused by cyber-attacks, software malfunctions, or hardware damages. At first, the loss of any data pieces discloses no information of data content. On the other hand, NXDrive has superior ability to maintain data assurance and integrity. Further, NXDrive has effective self-generation capability and it can immediately regenerate new data pieces that can replace the user data. The capability of regeneration is superior to the RAID 6 standard level that achieves higher data reliability.</p>
                            </div>
                            <div class="g-mb-50 g-mb-100--md">
                                <h3 class="h4 mb-3"><span class="g-color-primary g-font-weight-600">05.</span> Worry-free on Device Loss</h3>
                                <p class="g-line-height-2">Automated data protection prevents data disclosure or loss that could be caused by device loss or device failures.</p>
                                <p>NXdrive enforces novel technologies for data integrity and assurance in the device level to protect data loss caused by device damage or loss. In the file-based storage system, the loss of a device could result in corresponding data loss and data leakage stored in its hardware. Differently, NXDriver stores the data without relying on a specific device, having data loss protection capabilities. The loss of one or more devices renders no risk in the data loss and information leakage.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Single Item Blocks -->
        <div id="stickyblock-end"></div>
        <div class="g-brd-top--md g-brd-gray-light-v4 g-pt-100 g-pb-100">
            <div class="container g-pb-50">
                <blockquote class="g-color-dark-light-v1 g-font-weight-500 g-font-size-22 text-center">
                    <span class="g-color-primary g-font-size-26">"</span>
                    ... NXdrive would be revolutionary, not just for security and privacy, but for the efficiency and resiliency of storage as a whole.
                    <span class="g-color-primary g-font-size-26">"</span>
                </blockquote>
            </div>
            <!-- Gallery -->
            <ul class="row list-inline g-mx-minus-5">
                <li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
                    <img class="img-fluid" src="~/img/pages/features/security-business.jpg" alt="Image Description">
                </li>
                <li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
                    <img class="img-fluid" src="~/img/pages/features/security-students.jpg" alt="Image Description">
                </li>
                <li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
                    <img class="img-fluid" src="~/img/pages/features/security-family.jpg" alt="Image Description">
                </li>
                <li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
                    <img class="img-fluid" src="~/img/pages/features/security-enterprise.jpg" alt="Image Description">
                </li>
            </ul>
            <!-- End Gallery -->
        </div>
