<section>
    <div class="g-py-100">
        <div class="container">
            <!-- Pricing Table #01 -->
            <section>
                <div class="text-center g-mb-50">
                    <h2 class="h1">
                        Finding your perfect
                        <span class="g-color-primary g-ml-5">Plan</span>
                    </h2>
                </div>
                <div id="shortcode1">
                    <div class="shortcode-html">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="g-hidden-md-down g-brd-none g-py-50">&nbsp;</th>
                                        <th class="text-center g-brd-bottom-none g-bg-gray-light-v5 g-valign-middle g-font-weight-400 g-py-50">
                                            <h3 class="g-font-weight-300 mb-15">Basic Secure Mode</h3>
                                            <em class="d-block g-color-gray-dark-v5 g-font-style-normal">Try for free</em>
                                        </th>
                                        <th class="text-center g-brd-bottom-none g-bg-gray-light-v5 g-valign-middle g-font-weight-400 g-py-50">
                                            <h3 class="g-font-weight-300 mb-15">Enhansed Secure Mode</h3>
                                            <em class="d-block g-color-gray-dark-v5 g-font-style-normal">Personal Use</em>
                                        </th>
                                        <th class="text-center g-brd-bottom-none g-bg-gray-light-v5 g-valign-middle g-font-weight-400 g-py-50">
                                            <h3 class="g-font-weight-300 mb-15">Extremely Secure Mode</h3>
                                            <em class="d-block g-color-gray-dark-v5 g-font-style-normal">Enterprise/Small business</em>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="g-font-size-20">
                                        <td class="g-hidden-md-down g-py-30">Pay Monthly</td>
                                        <td class="text-center g-py-30">
                                            Free
                                            <span class="d-block g-hidden-lg-up g-font-size-16 g-color-gray-light-v1">per month</span>
                                        </td>
                                        <td class="text-center g-py-30">
                                            $4.99
                                            <span class="d-block g-hidden-lg-up g-font-size-16 g-color-gray-light-v1">per month</span>
                                        </td>
                                        <td class="text-center g-py-30">
                                            $14.99
                                            <span class="d-block g-hidden-lg-up g-font-size-16 g-color-gray-light-v1">per month</span>
                                        </td>
                                    </tr>

                                    <!--feature seperate-->
                                    <tr>
                                        <td class="text-center" style="background-color:#dee2e6;">
                                            Core features
                                        </td>
                                        <td class="g-hidden-md-down"></td>
                                        <td class="g-hidden-md-down"></td>
                                        <td class="g-hidden-md-down"></td>
                                    </tr>
                                    <!--feature seperate-->
                                    <tr>
                                        <td class="g-hidden-md-down">Storage<i class="icon-info pull-right" data-toggle="tooltip" data-placement="right" title="Space size limit"></i></td>
                                        <td class="text-center">
                                            2 GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Diskspace</span>
                                        </td>
                                        <td class="text-center">
                                            25 GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Diskspace</span>
                                        </td>
                                        <td class="text-center">
                                            50 GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Diskspace</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="g-hidden-md-down">Bandwidth<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            5GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Subdomains</span>
                                        </td>
                                        <td class="text-center">
                                            50GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Subdomains</span>
                                        </td>
                                        <td class="text-center">
                                            500GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Subdomains</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="g-hidden-md-down">Big file support<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            50MB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Subdomains</span>
                                        </td>
                                        <td class="text-center">
                                            1GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Subdomains</span>
                                        </td>
                                        <td class="text-center">
                                            2GB
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Subdomains</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">Advanced sync<i class="icon-info pull-right" data-toggle="tooltip" data-placement="right" title="File synchronization apps among PC, smartphone, laptop and other devices"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="g-hidden-md-down">Photos/images<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">Mobile app<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">Web access<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">Offline acess<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Email Addresses</span>
                                        </td>
                                    </tr>
                                    <!--feature seperate-->
                                    <tr>
                                        <td class="text-center" style="background-color:#dee2e6;">
                                            Executive security
                                        </td>
                                        <td class="g-hidden-md-down"></td>
                                        <td class="g-hidden-md-down"></td>
                                        <td class="g-hidden-md-down"></td>
                                    </tr>
                                    <!--feature seperate-->



                                    <tr>
                                        <td class="g-hidden-md-down">Backup<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="icon-close"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">SSL Certificate</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="icon-close"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">SSL Certificate</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">SSL Certificate</span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="g-hidden-md-down">File restore<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">MySQL Databases</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">MySQL Databases</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">MySQL Databases</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">Advanced segmentation-based Cyber security technology</td>
                                        <td class="text-center">
                                            $25
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Google Adwords Voucher</span>
                                        </td>
                                        <td class="text-center">
                                            $75
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Google Adwords Voucher</span>
                                        </td>
                                        <td class="text-center">
                                            $250
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Google Adwords Voucher</span>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="g-hidden-md-down">User privacy protection<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">User self control<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                    </tr>

                                    <!--feature seperate-->
                                    <tr>
                                        <td class="text-center" style="background-color:#dee2e6;">
                                            Collaboration features
                                        </td>
                                        <td class="g-hidden-md-down"></td>
                                        <td class="g-hidden-md-down"></td>
                                        <td class="g-hidden-md-down"></td>
                                    </tr>
                                    <!--feature seperate-->


                                    <tr>
                                        <td class="g-hidden-md-down">Secure sharing<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">Group sharing<i class="icon-info pull-right"></i></td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                        <td class="text-center">
                                            <i class="fa fa-check color-green"></i>
                                            <span class="d-block g-hidden-lg-up g-color-gray-light-v1">Worldwide Phone Support</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="g-hidden-md-down">&nbsp;</td>
                                        <td class="text-center">
                                            <a href="#!" class="btn rounded-0 u-btn-outline-primary g-px-20 g-py-10">Try free</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#!" class="btn rounded-0 u-btn-outline-primary g-px-20 g-py-10">Purchase</a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#!" class="btn rounded-0 u-btn-outline-primary g-px-20 g-py-10">Purchase</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Pricing Table #01 -->
        </div>
    </div>
    <!-- Promo Banner -->
    <div class="g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-white-gradient-opacity-v5--after" style="background-image: url(img/pages/pricing.jpg);">
        <div class="container g-pos-rel g-z-index-1">
            <div class="row justify-content-between">
                <div class="col-md-5 g-py-100">
                    <div class="mb-5">
                        <span class="d-block text-uppercase g-color-dark-light-v1 g-font-weight-500 g-font-size-13 mb-4">NXdrive</span>
                        <h2 class="mb-4">The most secure storage and collaboration solution </h2>
                        <p class="g-font-size-16 g-line-height-2">Keep and access everything securely and easily.</p>
                    </div>

                    <a class="btn u-btn-outline-primary g-brd-2 g-color-main g-color-primary--hover g-bg-main--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" href="#">
                        Try free
                        <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                    </a>
                    <span class="d-inline-block g-font-weight-600 text-uppercase mx-4">or</span>
                    <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13" href="page-contacts-1.html">
                        Purchase now
                        <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Promo Banner -->
</section>

