﻿@using NXdrive.Web.Models.Customer
@model IList<ServicePlanDetailModel>
@{
    Layout = "_Root";

    //title
    Html.AddTitleParts(T("PageTitle.NewProducts").Text);
    //page class
    Html.AppendPageCssClassParts("html-recently-added-products-page");

    var firstGroup = Model.Where(x => string.Equals(x.ServiceGroup, "Group1", StringComparison.CurrentCultureIgnoreCase));

    var secondGroup = Model.Where(y => string.Equals(y.ServiceGroup, "Group2", StringComparison.CurrentCultureIgnoreCase));
}

<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall "
         data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>

    <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-primary-gradient-opacity-v1--after"
         style="height: 140%;" />
    <!-- todo: Add background image this way-->
    @*background-image: url();"*@

    <div class="container g-color-white text-center g-pos-rel g-z-index-1 g-pt-150 g-pb-200">
        <h3 class="h2 g-font-weight-300 mb-0">Finding your perfect plan.</h3>
        <h2 class="g-font-weight-700 g-font-size-65 text-uppercase">Pricing plan</h2>
    </div>

</section>

<section class="g-bg-white">
    <div class="container g-pb-100">
        <div class="row g-mt-minus-200 g-mb-70">
            <div class="col-md-12">
                <ul class="nav nav-justified u-nav-v2-1 u-nav-primary u-nav-rounded-5 g-mb-20"
                    role="tablist" data-target="nav-all-plans"
                    data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary g-mb-20">
                    <li class="nav-item g-z-index-4">
                        <a class="nav-link active" data-toggle="tab" href="#nav-individual-plans" role="tab">Individual Plans</a>
                    </li>
                    <li class="nav-item g-z-index-4">
                        <a class="nav-link" data-toggle="tab" href="#nav-enterprise-plans" role="tab">Enterprise Plans</a>
                    </li>
                </ul>

                <div id="nav-all-plans" class="tab-content">
                    <div class="tab-pane fade show active" id="nav-individual-plans" role="tabpanel">
                        <div class="row">
                            @foreach (var p1 in firstGroup)
                            {
                                <div class="col-md-4">
                                    @await Html.PartialAsync("_ProductBox", p1)
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-enterprise-plans" role="tabpanel">
                        <div class="row">
                            @foreach (var p2 in secondGroup)
                            {
                                <div class="col-md-4">
                                    @await Html.PartialAsync("_ProductBox", p2)
                                </div>
                            }
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
