@{
    Layout = "_ColumnsOne";
}

<div class="g-bg-cover g-bg-pos-top-center g-bg-green-gradient-opacity-v1 g-py-100">
    @*g-bg-img-hero g-bg-cover g-bg-black-opacity-0_3--after " style="background-image: url(assets/img-temp/1920x800/img3.jpg);"*@
    <div class="container g-pos-rel g-z-index-1">
        <div class="g-mb-20">
            <h1 class="g-color-white mb-0">Terms & Policies</h1>
        </div>
        <div class="g-bg-white-opacity-0_3 g-pa-30 g-pb-0">
            <form>
                <div class="row g-mx-0--md">
                    <div class="col-md-6 col-lg-10 g-px-0--md g-mb-30">
                        <input class="form-control rounded-0 g-brd-none g-brd-right g-brd-gray-light-v3 g-px-20 g-py-16" type="text" placeholder="Ask a question or search by keyword">
                    </div>
                    <div class="col-lg-2 g-px-0--md g-mb-30">
                        <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="g-brd-y g-brd-gray-light-v4">
    <div class="container g-py-100">
        <div class="row">
            <div class="col-md-3">
                <ul class="nav flex-column u-nav-v5-1 u-nav-primary g-height-100x--md g-brd-right--md g-brd-primary" role="tablist" data-target="nav-5-1-primary-ver-border-right" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#nav-5-1-primary-ver-border-right--1" role="tab">Terms of Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-5-1-primary-ver-border-right--2" role="tab">Security Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-5-1-primary-ver-border-right--3" role="tab">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-5-1-primary-ver-border-right--4" role="tab">Service Grades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#nav-5-1-primary-ver-border-right--5" role="tab">Copyright Policy</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-9">
                <div id="nav-5-1-primary-ver-border-right" class="tab-content g-pt-20 g-pt-0--md">

                    <div class="tab-pane fade show active" id="nav-5-1-primary-ver-border-right--1" role="tabpanel">
                        <h2 id="serviceTerm">NXdrive Terms and Conditions</h2>
                        <p style="font-style:italic">Last Revised: Tuesday, Jan. 12th, 2016</p>
                        <h5>1. INTRODUCTION AND ACCEPTANCE</h5>
                        <p>
                            These Terms of Service govern your use of websites, applications, and services provided by InfoBeyond Technologies LLC ("InfoBeyond", "we", "us") including its <strong>N</strong>etwork <strong>E</strong>ncrypted <strong>D</strong>rive services (collectively, the "Services" or "NXdrive Services").
                        </p>
                        <h6>PLEASE READ THESE TERMS OF SERVICE CAREFULLY BEFORE USING OUR SERVICES. BY REGISTERING FOR OR USING OUR SERVICES YOU ARE AGREEING TO COMPLY WITH THESE TERMS OF SERVICE, WHICH MAY CHANGE FROM TIME TO TIME AS SET FORTH IN SECTION 15 BELOW. IF YOU ARE ACCEPTING THESE TERMS ON BEHALF OF ANOTHER PERSON, COMPANY, OR OTHER LEGAL ENTITY, YOU REPRESENT AND WARRANT THAT YOU HAVE FULL AUTHORITY TO BIND THAT PERSON, COMPANY, OR LEGAL ENTITY TO THESE TERMS.</h6>
                        <h5>2. PRIVACY</h5>
                        <p>
                            In addition to these Terms of Service, we have established a Privacy Policy to explain how we collect and use information about you. A copy of this Privacy Policy can be found here under the tab navigation of Privacy Policy and is incorporated by reference into these Terms of Service. By registering for or using our Services, you are also signifying your acknowledgement and consent to the data practices described in our Privacy Policy.
                        </p>

                        <h5>
                            3. COPYRIGHT POLICY
                        </h5>
                        <p>We have adopted a Copyright Policy, which is incorporated by reference into these Terms of Service. A copy of our Copyright Policy is available here under the tab navigation of Copyright Policy.</p>

                        <h5>4. YOUR RESPONSIBILITIES</h5>

                        <p>
                            (A) <spn style="text-decoration: underline;">Compliance with Laws</spn>. When using our Services, you agree to comply with all applicable international, federal, state, and local laws including, without limitation, copyright law.
                        </p>
                        <p>
                            (B) <spn style="text-decoration: underline;">Backup and Security</spn>. You are responsible for taking steps to backup, secure, and protect all of Your Data (as defined in Section 9(B) below so that you have ready access to it in the event of a loss or corruption of any such materials or an or interruption to the availability of Services.
                        </p>
                        <p>
                            (C) <spn style="text-decoration: underline;">Acceptable Use</spn>. Except as expressly permitted in these Terms of Service, you may not:
                            <ol>
                                <li>
                                    remove, alter, cover, or distort any copyright, trademark, or other proprietary rights notice on materials that we may provide or make available through our Services;
                                </li>
                                <li>circumvent, disable or otherwise interfere with security-related features of our website including, without limitation, any features that prevent or restrict use or copying of any content or enforce limitations on the use of the Services;</li>
                                <li>use an automatic device, software tool (such as a Web crawler or spider) or manual process to copy or "scrape" our website for any purpose without our express written permission. Notwithstanding the foregoing, we grant public search engine operators permission to use automatic devices (such as robots or spiders) to copy content from publicly accessible portions of our website for the sole purpose of creating (and only to the extent necessary to create) a searchable index of content that is available to the public. We reserve the right to revoke this permission (generally or specifically) at any time;</li>
                                <li>collect or harvest any personally identifiable information from our website including, without limitation, user names, passwords, email addresses, IP addresses, service and accounting information;</li>
                                <li>interfere (or attempt to interfere) with the proper working of our website or our Services;</li>
                                <li>use network-monitoring software to determine the architecture of or extract usage data from our website;</li>
                                <li>conduct activities that violates any local, state or federal law, either civil or criminal, or impersonate another user, person, or entity;</li>
                                <li>engage in any conduct that, in our sole discretion restricts or inhibits any other user from using or enjoying our website or Services; or</li>
                                <li>violate U.S. export laws, including, without limitation, violations of the Export Administration Act and the Export Administration Regulations administered by the Department of Commerce.</li>
                            </ol>
                        </p>
                        <p>(D) Cooperation. You agree to fully cooperate with us to investigate any suspected or actual activity that is in breach of these Terms of Service.</p>

                        <p>(E) User Forums. If you take advantage of any or our user forums, you agree to abide by the rules and obligations set forth in Section 10 below.</p>

                        <h5>5. REGISTRATION</h5>
                        <p>(A) To access our Services, you must become a registered user. If you are under the age of eighteen (18), then you are not permitted to register as a user or otherwise use our Services.</p>
                        <p>(B) If you become a registered user, you will provide true, accurate and complete registration information and, if such information changes, you will promptly update the relevant registration information. You are solely responsible for the activity that occurs under your account, whether or not you have authorized the activity. You agree to notify us immediately at <a href="mailto:info@nxdrive.com">Info@NXdrive.com</a> of any unauthorized use (or attempted unauthorized use) of your account.</p>

                        <h5>6. PAID SERVICES</h5>

                        <p>(A) If you would like to increase your storage space beyond the amount of storage provided with our free services, then you can upgrade your account to a paid account. Our paid accounts are subscription-based. When you sign up for our paid services, you agree to pay all applicable fees as they come due including, without limitation, any applicable taxes that we do not collect on your behalf.</p>
                        <p>(B) Your paid account will automatically be renewed and your credit card will be automatically charged on a monthly or annual basis, as applicable, until you cancel your subscription. If we are unable to charge a payment to your credit card or are otherwise unable to obtain payment for Services when due, then we reserve the right to suspend or terminate your access and paid account until we receive payment from you. The termination of a paid account may result in the clearance of all your data, applications, and services. We may or may not send you email notification for these actions.</p>
                        <p>(C) We reserve the right to modify our fees at any time for any reason upon notice to you. Any increase in our fees will take place at the time that the next payment of your subscription is due. From time to time we may add or modify certain offerings or Services and we reserve the right to charge you additional or different fees in consideration for providing such new or modified Services to you.</p>

                        <h5>7. CHANGING OR CANCELLING YOUR ACCOUNT OR SUBSCRIPTION</h5>
                        <p>You may make changes to your account by logging into your account and changing your account settings. You will remain liable for all charges through the end of the subscription period during which you modify or cancel your subscription. By way of example, if you have signed up for a monthly subscription for your paid account, then you will remain liable for all fees incurred until the end of the current month of your subscription. If you have elected to pay for your paid account by signing up for an annual subscription, then you will remain liable for the annual amount that you have prepaid through the end of the current year of your subscription. INFOBEYOND WILL NOT ISSUE REFUNDS (OR PARTIAL REFUNDS) FOR ANY SERVICES FOR WHICH YOU HAVE PREPAID.</p>

                        <h5>8. NXDRIVE SOFTWARE</h5>

                        <p>(A) <spn style="text-decoration: underline;">Permitted Use</spn>. InfoBeyond may make software available to you to be used in connection with the Services (the "NXdrive Software"). In such a case, we grant you a limited, nonexclusive, nontransferable, revocable license to use the NXdrive Software, solely in connection with the Services. You agree that the NXdrive Software and all copyright and all other intellectual property rights in or relating to the NXdrive Software are and shall remain the property of InfoBeyond and its licensors (if any). You may use the NXdrive Software only in connection with the NXdrive Services.</p>

                        <p>
                            (B) Restrictions
                            <ol>
                                <li>You may not copy sell, transfer, rent, share, reverse engineer, decompile, copy, duplicate or translate into any language the NXdrive Software, or use the NXdrive Software or the Service to operate a service bureau for other users, except that the you may make copies of the NXdrive Software as necessary for you to have access to and use of the Services in accordance with these Terms of Service. You agree not to remove any copyright or other proprietary rights notices from the NXdrive Software.</li>

                                <li>You may not modify any part of the NXdrive Software or in any way make available or provide copies of the whole or any part of the NXdrive Software to any third party.</li>
                                <li>You agree to notify InfoBeyond promptly upon any unauthorized disclosure, use or copying of the NXdrive Software of which you become aware.</li>
                            </ol>
                        </p>
                        <h5>9. PROPRIETYARY RIGHTS</h5>
                        <p>(A) The intellectual property rights in any NXdrive Software, and our Services including, without limitation, any content or materials that may be made available to you through the same are owned by us, our licensors, or both. Additionally, all trademarks, service marks, trade names and trade dress that may be used in connection with our Services are owned by us, our licensors, or both. Except for the limited use rights granted to you in these Terms of Service, you shall not acquire any right, title or interest our Services or any of our content or materials that may be made available to you through the same. Any rights not expressly granted in these Terms of Service are expressly reserved.</p>
                        <p>(B) As between InfoBeyond and you, all files, data, records, lists, and other information which you store on NXdrive or provide to InfoBeyond pursuant to these Terms of Service (collectively, "Your Data") will be and remain your sole and exclusive property including any related intellectual property rights. InfoBeyond makes no ownership claims with respect to Your Data. You consent to our use of Your Data to provide the Services to you.</p>

                        <p>(C) We don't allow any third party to access Your Data unless it is requested by applicable law, lawful order, or government authority. Unless we are prohibited to do so by law, lawful order, or government authority, as applicable, we will notify you in the event that we are required by law, lawful order of a court (including, without limitation, request for production of documents), or governmental authority to disclose Your Data. In the event that we are required to produce or disclose Your Data then, unless we are prohibited from doing so, we will provide you with advance written notice of the request so that you can act to protect Your Data by, for example, seeking a protective order.</p>

                        <p>
                            (D) You represent, warrant, and covenant that you will not submit any User Content that:

                            <ol>
                                <li>violates or infringes in any way upon the rights of others, including, but not limited to, any copyright, trademark, patent, trade secret, moral right, or other intellectual property or proprietary right of any person or entity;</li>
                                <li>impersonates another or is unlawful, threatening, abusive, libelous, defamatory, invasive of privacy or publicity rights, vulgar, obscene, harassing, profane, pornographic, or otherwise objectionable or in appropriate;</li>
                                <li>is an advertisement for goods or services or a solicitation of funds;</li>
                                <li>includes personal information such as messages which identify phone numbers, social security numbers, account numbers, addresses, or employer references; references;</li>
                                <li>contains a formula, instruction, or advice that could cause harm or injury; or</li>
                                <li>is a chain letter of any kind.</li>
                            </ol>
                        </p>
                        <p>(E) By submitting User Content to us, simultaneously with such posting you automatically grant, or warrant that the owner has expressly granted, to us a worldwide, royalty-free, perpetual, irrevocable, non-exclusive, fully sublicensable, and transferable right and license to use, reproduce, distribute, create derivative works based upon (including, without limitation, translations), publicly display, publicly perform, transmit, and publish the User Content (in whole or in part) as we, in our sole discretion, deem appropriate including, without limitation, (1) in connection with our business; and (2) in connection with the businesses of our successors, parents, subsidiaries, and their related companies. We may exercise this grant in any format, media or technology now known or later developed for the full term of any copyright that may exist in such User Content.</p>

                        <p>(F) We have the right, but not the obligation, to monitor User Content. We have the right in our sole discretion and for any reason whatsoever to edit, refuse to post, remove, or disable access to any User Content.</p>

                        <h5>11. TERM AND TERMINATION</h5>

                        <p>(A) These Terms of Service are effective until terminated by you or us. You may terminate these Terms of Service by logging in and cancelling your account. We may terminate these Terms of Service, with our without cause, by providing advance notice to you. Upon termination, you must cease your use of our Services.</p>
                        <p>(B) Subject to applicable law, we reserve the right in our sole discretion and at any time suspend your account or block your access to the Services for any reason including if we reasonably believe that you have violated the letter or spirit of these Terms of Service. You agree that we shall not be liable to you or any third party for any suspension of your account or for blocking your access to the Services.</p>
                        <p>(C) If we suspend your use of the Services or terminate these Terms of Service without cause (i.e. you are not in material breach of these Terms of Service), then, unless we are prohibited by applicable law or court order, we will make a good faith attempt to provide you with sufficient prior notice so that you have time to retrieve Your Data. If, however, we terminate these Terms of Service because of your material breach of the same (including your failure to pay for subscribed Services), then, provided that you have paid all amounts due for Services hereunder and for any applicable charges for post-termination assistance, we may assist you in retrieving Your Data from NXdrive, provided we are not prohibited by applicable law or court order.</p>
                        <p>(D) The provisions of these Terms of Service which by their nature should survive the suspension or termination of your account or these Terms of Service shall survive including, but not limited to the rights and licenses that you have granted hereunder, indemnities, disclaimers, limitations on liability, provisions related to intellectual property ownership, and all of the miscellaneous provisions in Section 18. We reserve the right to delete Your Data upon cancellation or termination of your account or termination of these Terms of Service.</p>

                        <h5>12. DISCLAIMERS</h5>

                        <p>(A) OUR WEBSITE, ANY NXDRIVE SOFTWARE, APPLICATIONS, AND THE SERVICES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. INFOBEYOND MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, CONCERNING THE OPERATION OR USE OF OUR WEBSITE, THE CONTENT, PRODUCTS AND SERVICES AVAILABLE ON OR THROUGH THE WEBSITE, ANY NXDRIVE SOFTWARE, APPLICATIONS, OR THE SERVICES. WE DO NOT WARRANT THAT OUR WEBSITE, ANY NXDRIVE SOFTWARE, OR OUR SERVICES, WILL BE AVAILABLE AT ALL TIMES, SAFE, SECURE, OR ERROR FREE.</p>
                        <p>(B) TO THE MAXIMUM EXTENT PERMISSIBLE BY LAW, INFOBEYOND AND ITS OFFICERS, DIRECTORS, EMPLOYEES, ANY PARENT COMPANY, PARTNERS, SUCCESSORS, AGENTS, AFFILIATES, SUBSIDIARIES, CONTENT PROVIDERS, SERVICE PROVIDERS, LICENSORS, AND SUPPLIERS (COLLECTIVELY, THE "INFOBEYOND ENTITIES") HEREBY DISCLAIM ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, CONCERNING THE OPERATION OR USE OF THE WEBSITE INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, INFORMATIONAL CONTENT, AND NON-INFRINGEMENT. NOTWITHSTANDING THE FORGOEING, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE NOT AN INFOBEYOND ENTITY.</p>
                        <p>(C) INFOBEYOND IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE THE INFOBEYOND ENTITIES FROM ANY CLAIMS AND DAMAGES, KNOWN OR UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES.</p>
                        <p>(D) YOU AGREE TO VISIT AND USE THE WEBSITE, ANY NXDRIVE SOFTWARE, APPLICATIONS, AND THE SERVICES SOLELY AT YOUR OWN RISK.</p>

                        <h5>13. LIMITATION OF LIABILITY</h5>

                        <p>(A) TO THE MAXIMUM EXTENT PERMITTED BY LAW, NONE OF THE INFOBEYOND ENTITIES WILL BE LIABLE FOR INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL (INCLUDING LOST PROFITS) OR EXEMPLARY DAMAGES, ARISING OUT OF, RELATING TO, OR IN ANY WAY CONNECTED WITH INFOBEYOND, THE WEBSITE, THE NXDRIVE SOFTWARE, THE SERVICES, OR THESE TERMS OF SERVICE, WHETHER DIRECTLY OR THE FOREGOING LIMITATION ON LIABILITY APPLIES EVEN IF INFOBEYOND HAS BEEN MADE AWARE OF THE POSSIBLITY OF SUCH DAMAGES.YOUR SOLE AND EXCLUSIVE RIGHT AND REMEDY IN CASE OF DISSATISFACTION WITH THE WEBSITE SHALL BE TO TERMINATE AND DISCONTINUE YOUR USE OF OR ACCESS AND USE OF THE WEBSITE, ANY NXDRIVE SOFTWARE, AND OUR SERVICES.</p>
                        <p>(B) NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, IN NO EVENT SHALL THE CUMULATIVE LIABILITY OF THE INFOBEYOND ENTITIES EXCEED THE GREATER OF (1) THE AMOUNT THAT YOU HAVE PAID TO INFOBEYOND FOR SERVICES THAT GAVE RISE TO YOUR CLAIM DURING THE TWELVE MONTH PERIOD IMMEDIATELY PRECEDING YOUR CLAIM; OR (2) $500.00. FURTHERMORE, YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF, RELATING TO, OR IN ANY WAY CONNECTED WITH ANY ACCESS OR USE OF THE WEBSITE, THE NXDRIVE SOFTWARE, OUR SERVICES, OR THESE TERMS OF SERVICE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES; OTHERWISE, SUCH CAUSE OF ACTION SHALL BE PERMANENTLY BARRED.</p>
                        <p>(C) In some jurisdictions limitations of liability are not permitted. In such jurisdictions, some of the foregoing limitations may not apply to you. These limitations shall apply to the fullest extent permitted by law.</p>

                        <h5>14. INDEMNIFICATION</h5>

                        <p>You agree to indemnify and hold harmless the InfoBeyond Entities from and against any and all claims, liabilities, losses, damages, obligations, costs and expenses (including reasonable attorneys' fees and costs) brought by third-parties arising out of, related to, or that may arise in connection with: (i) your access to or use of the Services; (ii) User Content or Your Data provided by you or through use of your account; (iii) a violation or breach by you of these Terms of Service; or (iv) your acts or omissions. You agree to cooperate fully with us in the defense of any claim that is the subject of your obligations hereunder.</p>

                        <h5>15. MODIFICATION; ADDITIONAL TERMS</h5>

                        <p>(A) We reserve the right at any time and for any reason, to modify or discontinue any aspect or feature of the Services or to modify these Terms of Services. Subject to the next paragraph, we may modify these Terms of Service at any time by posting a revised version on the site or by otherwise notifying you as set forth in Section 19 below. The modified terms will become effective three (3) days after posting or, if we notify you by email, as stated in the email message. Your access and use of the site after the effective date of any modification of these Terms of Service will signify your assent to and acceptance of the same. If you object to any subsequent revision to these Terms of Service, immediately discontinue use of the site. All counteroffers to these Terms of Service (or amendments to the same) are categorically rejected.</p>
                        <p>(B) If a dispute arises out of or relates to the site or these Terms of Service including, without limitation, any Additional Terms (as defined below) or their breach (the "Dispute"), the parties agree that the Terms of Service in effect at the time the dispute arose shall apply to the Dispute, including any amendments to the Terms of Service posted prior to the dispute arising. No amendments to the Terms of Service shall apply to any Dispute as to which we had notice prior to posting the amendment.</p>
                        <p>(C) In addition, we reserve the right to provide you with operating rules or additional terms that may govern your use of the site generally, unique parts of the site, or both ("Additional Terms"). Any Additional Terms that we may provide to you will be effective upon notice and incorporated by reference into these Terms of Service. To the extent any Additional Terms directly conflict with these Terms of Service, the Additional Terms will control.</p>

                        <h5>16. IDEA SUBMISSION POLICY</h5>
                        <p>Other than those we have specifically requested (and to which specific Additional Terms apply), our policy is not to accept or consider ideas or suggestions submitted by our users. We have adopted this policy in order to avoid confusion and misunderstandings in case that your ideas, suggestions, or other materials are similar to ones that have developed (or may develop) independently. Therefore, we are not responsible for any ideas, suggestions, or materials submitted to us. If you still choose to send us ideas, suggestions, or other materials, you agree that we are free to use these ideas, suggestions, or other materials in any way that it may deem fit without any liability or payment of any kind to you.</p>
                        <h5>17. THIRD PARTY CONTENT AND LINKS</h5>

                        <p>(A) We may provide third-party content through our Services. In some cases, this content may be posted by users of our Services. Such third-party content represents the opinions and judgments of the third-party. We do not endorse, warrant and are not responsible for the accuracy, timeliness, completeness, or reliability of any opinion, advice, or statement that may be made in such third-party content and expressly disclaim any warranties with respect to the same.</p>
                        <p>(B) We may provide links to other websites maintained by third parties. We do not operate or control, in any respect, or necessarily endorse the content found on these third-party websites. You assume sole responsibility for your use of third-party links. We are not responsible for any content posted on third-party websites or liable to you for any loss or damage of any sort incurred as a result of your dealings with any third-party or their website.</p>

                        <h5>18. MISCELLANEOUS</h5>
                        <p>(A) <spn style="text-decoration: underline;">No Waiver</spn>. No waiver by either party of any breach or default hereunder shall be deemed to be a waiver of any preceding or subsequent breach or default. The section headings used herein are for convenience only and shall not be given any legal import. If any provision of these Terms of Service is held to be invalid or unenforceable, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms of Service, which shall remain in full force and effect.</p>
                        <p>(B) <spn style="text-decoration: underline;">Entire Agreement</spn>. These Terms of Service (including the Privacy Policy, Copyright Policy, and any other Additional Terms or policies that are incorporated by reference) constitute the entire agreement of the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements between us with respect to such subject matter.</p>
                        <p>(C) <spn style="text-decoration: underline;">Force Majeure</spn>. We will not be liable for any delay or failure to perform under these Terms of Service if such delay or failure is due to any contingency beyond our reasonable control, including without limitation, war, sabotage, insurrection, riot or other act of civil disobedience, act of public enemy, act of any government affecting the terms hereof, fire, explosion, flood, or other act of God.</p>
                        <p>(D) <spn style="text-decoration: underline;">Assignment</spn>. You may not assign these Terms of Service or assign any rights or delegate any obligations hereunder, in whole or in part, without our prior written consent. Any such purported assignment or delegation by you without the appropriate prior written consent will be null and void and of no force and effect. We may assign these Terms of Service or any rights hereunder without your consent and without notice.</p>
                        <p>(E) <spn style="text-decoration: underline;">Communications</spn>. You consent to receive communications from us electronically. You agree that we have the right to communicate with you by email or by posting notices on this website. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing. You are responsible to provide the deliverable email associated to your account.</p>
                        <p>(F) <spn style="text-decoration: underline;">Notice</spn>. We may provide notice to you on our website, by email, or conventional mail using the contact information that you have provided to us. You may provide notice to us or contact us by email at: <a href="mailto:info@nxdrive.com">Info@NXdrive.com</a> . You may also contact us at the following address: Service Agent, InfoBeyond Technology LLC, 320 Whittington PWKY, Ste 117, Louisville, KY, 40222, USA.</p>
                        <p>(G) <spn style="text-decoration: underline;">No Third-Party Beneficiaries</spn>. Neither your use of the Services nor these Terms of Service will create any right or cause of action for any third party, nor will InfoBeyond be responsible for any third party claims against you.</p>
                        <p>(H) <spn style="text-decoration: underline;">Choice of Law</spn>. These Terms of Service shall be construed in accordance with the laws of the Commonwealth of Kentucky without regard to its conflict of laws rules. Any legal proceedings against us that may arise out of, relate to, or be in any way connected with our website, the Services, or these Terms of Service shall be brought exclusively in the state and federal courts located in Louisville, Kentucky and you waive any jurisdictional, venue, or inconvenient forum objections to such courts.</p>

                    </div>

                    <div class="tab-pane fade" id="nav-5-1-primary-ver-border-right--2" role="tabpanel">
                        <h2>NXdrive Security Overview</h2>

                        <p style="font-style:italic">Last Revised: Tuesday, Jan. 12th, 2016</p>
                        <p>
                            NXdrive provides multiple security features, including those described below, though some features may be available only to users who have subscribed to certain levels of service.
                        </p>

                        <h5>1. Redundancy and Separation</h5>

                        <p>NXdrive is a DDS (Distributed Data Storage) system with innovative features for storing and protecting your data and information. It excludes the storage of an entire file into one single data server. Files you store using NXdrive are split into multiple chunks, each of which is stored on a separate data server. Information coding technology is employed for generating these chunks and thus each chunk contains certain data redundancy. NXdrive's separation and encoding also provides for a high degree of redundancy among servers, allowing your data to be maintained and regenerated even if one or more of the servers used for storing that data is compromised.</p>

                        <h5>2. Multiple Options for Key Management</h5>
                        <p>All NXdrive users are allowed to upload their data in the form of complete files, in which case we will divide that data into chunks and encrypt the chunks using our remote systems. For users who choose this approach, NXdrive will manage the keys used to encrypt the chunks which are stored on our servers. NXdrive TOP security users have the additional option of separating their data into chunks and encrypting those chunks using NXdrive client software which the user would install on his or her local device. For users who choose this option, we would still store the chunks on separate servers for high redundancy and security as described above. However, the keys used to encrypt the chunks would be managed by the user.</p>

                        <h5>3. Two Layers of Encryption</h5>

                        <p>Before splitting your data file, NXdrive adds a layer of encryption on the entire data file. Each data chunk is again encrypted individually. Instead of single key applying to all chunks, the encryption keys vary from chunk to chunk. As a result, even a hacker who was able to compromise multiple servers would be unable to access your information without separately decrypting each of the chunks necessary to reconstruct your file.</p>

                        <h5>4. Data Recovery</h5>

                        <p>Your original data file can be recovered although your data information is sliced into multiple encrypted pieces.</p>

                        <h5>
                            5. Cyber Security Attacks
                        </h5>
                        <p>Your data is sliced, encoded, and encrypted into multiple chunks. If any chunk is accessed without authorization, the hacker does not obtain any useful information about your data file. Even if a hacker were to obtain access to an entire data storage server, because of the way data is encoded and encrypted by NXdrive the hacker will not obtain any useful information. At the same, you don't need to worry loss of data when the hacker modifies and destroys the data chunks. NXdrive is able to regenerate new chunks to replace the damaged ones. NXdrive encryption follows the AES-256 standard, which is the considered by many experts to be one of the most secure encryption standards.</p>

                        <h5>6. Secure Data Transfers and Third Party Software</h5>
                        <p>
                            NXDrive's client software implements a secure channel using 256-bit SSL (Secure Sockets Layer) encryption which is a standard for secure Internet network connections. If your device supports it, your data files are encrypted during transmission to the NXdrive. Otherwise, such a service will not provide to you.
                        </p>

                        <h4 style="text-decoration:underline">DISCLAIMER</h4>

                        <p>
                            This document is an overview of InfoBeyond Technology LLC's (InfoBeyond) security practices that is current as of the date of this document, and it is intended to be used for informational purposes only. This document, and NXdrive's underlying security policies, can be changed without notice. This document does not create any covenants, warranties, representations, or assurances from InfoBeyond or any of its affiliates, suppliers or licensors. It does not create a contract between you and InfoBeyond or any obligations on InfoBeyond. The responsibilities and liabilities of InfoBeyond are controlled by the agreements entered into between you and InfoBeyond. This document is not part of and does not modify any agreement between you and InfoBeyond.
                        </p>
                        <p>While, as described above, NXdrive uses a multi-dimensional approach to protect your data, no system can provide 100% protection. Therefore, we cannot guarantee absolute security of your data. NXdrive's products AND services are provided "AS IS" without warranty of any kind, whether express or implied. To the fullest extent allowed by law, InfoBeyond disclaims all warranties for NXdrive, including warranties of merchantability, FITNESS for a particular purpose, and non-infringement.</p>
                    </div>


                    <div class="tab-pane fade" id="nav-5-1-primary-ver-border-right--3" role="tabpanel">
                        <h2 id="privacyPolicy">NXdrive Privacy Policy</h2>
                        <p>
                            <em>Last Revised: Tuesday, Jan. 12th, 2016</em>
                        </p>
                        <p>
                            Customers access NXdrive for data storage or any other services provided by InfoBeyond Technologies LLC through the website <a href="http://www.nxdrive.com/">www.nxdrive.com</a> and as more fully described on the website (collectively, the &quot;<strong>Services</strong>&quot;). Our customers will generally use a Device to access the Services. A &quot;<strong>Device</strong>&quot; means any hardware used to access the Services and could be, but is not limited to, a desktop, laptop, tablet, smartphone, or any other electronic device.  In addition to Devices, the Services could use an Internet browser, NXdrive client software tools or apps installed on your Device, APIs, operating systems, or applications of third parties. This Privacy Policy explains our data practices with respect to information we collect in connection the Services.

                        </p>
                        <p>
                            In particular, this Privacy Policy explains:
                        </p>
                        <ul>
                            <li>
                                What information we may collect;
                            </li>
                            <li>
                                How we use your information;
                            </li>
                            <li>
                                How we protect your information;
                            </li>
                            <li>
                                Under what circumstances we can share your information with third parties;
                            </li>
                            <li>
                                How you can update your information and our information retention policies; and
                            </li>
                            <li>
                                How to contact us and change your privacy preferences.
                            </li>
                        </ul>
                        <p>
                            PLEASE READ THIS PRIVACY POLICY CAREFULLY BEFORE USING THE WEBSITE OR ANY OF OUR SERVICES. BY ACCESSING AND/OR USING THE WEBSITE (OTHER THAN TO READ THIS PRIVACY POLICY FOR THE FIRST TIME), YOU ARE AGREEING TO THE PRIVACY PRACTICES DESCRIBED IN THIS PRIVACY POLICY, WHICH MAY CHANGE FROM TIME TO TIME.
                        </p>
                        <p>
                            IF YOU ARE LOCATED OUTSIDE OF THE UNITED STATES, YOU CONSENT TO TRANSFER YOUR INFORMATION TO THE UNITED STATES WHERE OUR SERVERS ARE BASED.
                        </p>
                        <h5>
                            1. Information We Collect
                        </h5>
                        <p>
                            We collect two types of information about you: personally identifiable information (&quot;PII&quot;) and non-personally identifiable information.  We define PII to include any information that may be used to specifically to identify or contact you, such as your name, email address, telephone number, credit card or other billing information, and home and business mailing addresses.  Certain information may not be personally identifiable when standing alone (e.g. your date of birth), but may be personally identifiable when combined with other information (e.g. your date of birth and your mailing address).
                        </p>
                        <p>
                            In some instances you may provide certain information to us if, for example, you choose to sign up for our Services. User name, email, and billing information are necessary to receive our Services. Some information may be not necessary for our Services, such as non-billing address and phone number, and you are not encouraged to provide them to us. Our Privacy Policy is to minimize the collection and saving of your personal and data information to protect your privacy. However, in order to provide Services, we may automatically collect information when you visit our website or use our Services.
                        </p>
                        <p>
                            The following information may be collected, reviewed, analyzed, and stored while providing NXdrive Service to you:
                        </p>
                        <ul>
                            <li>
                                <em>Information you give us</em>
                                : We collect your PII when you register an NXdrive account and subscribe to our Services. This PII includes your name, email address, credit card or other billing information. We may also collect your social networking information with your permission.  For example, you may allow us to import your contacts by giving us access to your third party accounts (for example, your Facebook account), allowing us to use your social networking information, or both. When you invite others to join NXdrive, we will send them an invitation email with your referral. If you choose to share any data files, folders, or other functions with others, you may provide us with your contacts' email addresses or other information.
                            </li>
                            <li>
                                <em>Information from the use of NXdrive Services</em>
                                : We may collect information in connection with your use of the Services. This information includes both PII and non-personally identifiable information, and may include:
                            </li>
                            <li>
                                <em>Device Information</em>
                                : We may collect your device information (such as your hardware model, operating system version, unique device identifiers, and IP address) for the purpose of effectively providing data operations (e.g., transmissions), security operations, storage management, and other Services that you request. We will not collect your location and phone number during the Service unless you agree to do so.
                            </li>
                            <li>
                                <em>Data Files</em>
                                : We receive, collect, and store the data files that you upload, download, or access with the NXdrive Services. Your data files will be processed, such as by use of fragmentation and encryption, to maintain the data reliability, data redundancy, data confidentiality, and data recoverability, according to your subscribed Services. NXdrive provides the function for you to permanently delete your data files.
                            </li>
                            <li>
                                <em>Log-in Information</em>
                                : When you use the Services, we may automatically collect and store certain information from your interactions between Devices and NXdrive. The information could be the type of Device and software used for Services. It also includes your interactions during the Services, such as Internet Protocol (&quot;IP&quot;) address, browsers, date and time stamps associated with transactions, and other interactions with the Services.
                            </li>
                            <li>
                                <em>Cookies</em>
                                : For the purpose of improving our Services, we may collect and store cookie information when you visit NXdrive and conduct Services. For example, cookies could be used to save your account user name and the password for your future logins to the Services.
                            </li>
                        </ul>
                        <h5>
                            2. How We Use the Information We Collect
                        </h5>
                        <p>
                            In general, we will use the information that you provide for the purpose for which you provided it including providing Services to you. In addition, we may use the collected information to provide, maintain, protect and improve all our NXdrive Services as follows:
                        </p>
                        <ul>
                            <li>
                                <em>Billing and Accounting</em>: The bank information provided by you will be used for regular billing and accounting purposes. The billing process may go through authorized third parties and thus your information will be transferred to them for authentication, charging, authorization, and accounting. We may notify you by email when we process your payment.
                            <li>
                                <em>Services Improvement</em>: The collected information may be used by us to improve our Services. In addition to data storage, we may use the collected data for NXdrive system maintenance, database management, web analytics, payment processing, and improvement of the Service&rsquo;s features.
                            </li>
                            <li>
                                <em>Administration and Analysis</em>: Information will be used for administration of your registration account, your subscribed Services, and your stored data. We may contact you by using your phone or email for customer service or other reasons in connection with your request, or if we think it is necessary. The collected data may be used for analyzing the customers and their uses of our Services. We may publicly share aggregated information and analytic results that are statistical results of our Services, which do not contain PII.
                            </li>
                            <li>
                                <em>Preference and Personalized Services</em>: Your PII may be used by us to better understand your needs and interests. Based on your preferences and our understanding of your needs and interests, we use your information to personalize your Services to improve your experience.
                            </li>
                            <li>
                                <em>Announcements and Communications</em>: We may provide or offer software updates and product announcements that we believe will be helpful to you based upon your use of the Services. If you are no longer interesting in receiving email or other communications from us, you should update your account by the &quot;unsubscribe&quot; instructions provided in any of those communications or update your account settings.
                            </li>
                            <li>
                                <em>Preferences Setting</em>: The web page will automatically display your personal information, such as user name, once you login your NXdrive account. The information disclosure on the web page can be customized by you in accordance with the preferences you set for your account. You are able to review and revise your profile and preferences at any time. Any information you choose to provide should reflect how much you want others to know about you. We do not sell your PII to third parties. However, we may share or disclose your PII upon your express or implied consent, for example, if you use a third party application to access your account. Through certain features of the Services, you may also have the ability to make some of your information public. For example, you may post notes on Facebook or by use of any other social media. We will not publicize this information without your involvement and consent.
                            </li>
                        </ul>
                        <h5>
                            3. Other Uses and Information
                        </h5>
                        <p>
                            (A) <u>Other Uses</u>. Except as described in this policy, we don&rsquo;t allow your information to be disclosed to any individuals, business partners, or other third parties unless it is permitted by you. However, and notwithstanding the foregoing, we reserve the right to disclose your data files or personal information that we collect when we believe the disclosure is permitted or required by law. Some reasons could be (i) Compliance with laws and regulations, (ii) Compulsory legal request, (iii) in an emergency to protect or defend the health or safety of our Website&rsquo;s users or the general public;, (iv) Prevention of fraud and security attacks of NXdrive and the customers, (iv) Protection of NXdrive&rsquo;s our legal rights or property, or our Website. If we provide your NXdrive files to a law enforcement agency as set forth above, we may remove NXdrive&rsquo;s encryption from the fragments and recover the original files before providing them to law enforcement. On the other hand, we are unable to recover your files that you encrypted prior to storing them on NXdrive, or certain security credentials or fragments are maintained at your sides and they are necessary for reconstructing the data file.
                        </p>
                        <p>
                            (B) <u>Transfer of Assets</u>. As we continue to develop our business, we may sell or purchase assets. If another entity acquires us or all (or substantially all) the information that we have about you will be transferred to and used by this acquiring entity, though we will take reasonable steps to ensure that your preferences are followed. Also, if any bankruptcy or reorganization proceeding is brought by or against us, all such information may be considered an asset of ours and as such may be sold or transferred to third parties.
                        </p>
                        <p>
                            (C) <u>Your California Privacy Rights</u>. Residents of the State of California, under certain provisions of the California Civil Code, have the right to request from companies conducting business in California a list of all third parties to which the company has disclosed certain personally-identifiable information as defined under California law during the preceding year for third party direct marketing purposes. You are limited to one request per calendar year. In your request, please attest to the fact that you are a California resident and provide a current California address for our response. You may request the information in writing as set forth in Section 10 below.
                        </p>
                        <h5>
                            4. User Forums
                        </h5>
                        <p>
                            Our Services may offer publicly accessible user forums such as blogs, forums, and wikis. The protections described in this Privacy Policy do not apply when you provide information (including personal information) in connection with your use of these user forums. We may use PII and non-PII about you to identify you with a posting in a public forum maintained by us.  You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. Your posts may remain even after you cancel your account.  We are not responsible for events arising from the distribution of any information you choose to publicly post or share in a user forum through our website.
                        </p>
                        <h5>5. How We Protect Your Information</h5>
                        <p>
                            We have implemented security measures we consider reasonable and appropriate to protect against the loss, misuse and alteration of the information under our control.  Please be advised, however, that while we strive to protect your PII and privacy, we cannot guarantee or warrant the security of any information you disclose or transmit to us online and are not responsible for the theft, destruction, or inadvertent disclosure of your PII. In the unfortunate event that your "PII (as the term or similar terms are defined by any applicable law requiring notice upon a security breach) is compromised, we may notify you by e-mail (at our sole and absolute discretion) to the last e-mail address you have provided us in the most expedient time reasonable under the circumstances; provided, however, delays in notification may occur while we take necessary measures to determine the scope of the breach and restore reasonable integrity to the system, as well as for the legitimate needs of law enforcement if notification would impede a criminal investigation. From time to time we evaluate new technology for protecting information, and when appropriate, we upgrade our information security systems.
                        </p>
                        <h5>6. Links to Other Websites</h5>

                        <p>
                            Our website may link to or contain links to other third party websites that we do not control or maintain. We are not responsible for the privacy practices employed by any third party website. We encourage you to note when you leave our website and to read the privacy statements of all third party websites before submitting any personally identifiable information.
                        </p>

                        <h5>7. Information Update and Retention</h5>
                        <p>
                            If you are a registered customer, you can review, update, change, correct, or delete your information in your account. According to your change on the account, we may update our collected information. We will retain your information for as long as your account is active or as it is needed to provide you the Services. If you no longer desire our Services, you may update or delete your information on your account settings or even completely delete your account from the NXdrive.
                        </p>
                        <p>
                            We may retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements. Consistent with these requirements, we will try to delete your information quickly upon request. Please note, however, that there might be latency in deleting information from our servers and backed-up versions might exist after deletion. In addition, we do not delete from our Servers for the files that you have in common with other users.
                        </p>
                        <h5>8. Child Access Prohibited</h5>

                        <p>
                            NXdrive Services are prohibited to any child under 18 and they are not allowed to register for our Services. If you are the parent or guardian of any child under 18 and believe that he or she has registered for our Services or otherwise disclosed PII for us to use, please contact us at <a href="mailto:info@nxdrive.com">info@NXdrive.com</a>. If we become aware of any account registered by a child under 18, we will delete the account and the registration information from our files.
                        </p>
                        <h5>9. Enforcement</h5>
                        <p>
                            When we receive formal written complaints, we will contact the person who made the complaint to follow up. We work with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that we cannot resolve with our users directly.
                        </p>
                        <h5>10. Contacting us</h5>
                        <p>
                            For questions about the Privacy Policy or your personal information on our Service, please contact us at:
                        </p>
                        <p>
                            Privacy Agent
                            <br />
                            InfoBeyond Technology<br />
                            320 Whittington PKWY, STE 117<br />
                            Louisville, KY 40222<br />
                        </p>
                        <p>
                            We will respond to your inquiry within 30 days.
                        </p>
                        <h5>11.Changes to our Privacy Policy</h5>
                        <p>
                            Our Privacy Policy may change from time to time. If we believe we have made a significant change to this Privacy Policy, we will provide a more prominent notice (including, for certain Services, email notification of privacy policy changes). By continuing to use the Service after those changes become effective, you agree to be bound by the revised Privacy Policy.
                        </p>
                    </div>



                    <div class="tab-pane fade" id="nav-5-1-primary-ver-border-right--4" role="tabpanel">
                        <p>
                            Coming soon
                        </p>
                    </div>



                    <div class="tab-pane fade" id="nav-5-1-primary-ver-border-right--5" role="tabpanel">
                        <h2>NXdrive Copyright Policy</h2>
                        <p>
                            <em>Last Revised: Tuesday, Jan. 12th, 2016</em>
                        </p>
                        <p>
                            InfoBeyond Technologies LLC respects the intellectual property rights of others and expects its users to do the same. In appropriate circumstances and at our sole discretion, we may terminate and/or disable the Account of persons who we suspect are committing copyright infringement.  Additionally, we may remove or disable access to material on any of our websites or hosted on our systems that we believe, in our sole discretion, may be infringing or the subject of infringing activity.
                        </p>
                        <p>
                            In accordance with the Digital Millennium Copyright Act of 1998, Title 17 of the United States Code, Section 512 ("DMCA"), we will respond promptly to claims of copyright infringement that are reported to our designated agent:
                        </p>
                        <div style="width: 100%; height: 20px"></div>
                        <div style="margin-left: 2em">
                            Name: ATTN: Designated Agent for Copyright Infringement
                            <br />
                            InfoBeyond Technologies LLC
                            <br />
                            Address: 320 Whittington PWKY, STE 117, Louisville, KY, 40222, USA
                            <br />
                            Telephone Number: (502)-371-0907
                            <br />
                            Fax: (502)-415-7146
                            <br />
                            Email: <a href="mailto:info@NXdrive.com">info@NXdrive.com</a>
                        </div>
                        <div style="width: 100%; height: 20px"></div>
                        <p>
                            If you are a copyright owner (or authorized to act on behalf of the copyright owner) and believe that your work&rsquo;s copyright has been infringed, please report your notice of infringement to us by providing our designated agent with a written notice that includes substantially the following:
                        </p>
                        <ol class="margin">
                            <li>
                                A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                            </li>
                            <li>
                                Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site.
                            </li>
                            <li>
                                Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material.
                            </li>
                            <li>
                                Information reasonably sufficient to permit us to contact you, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted.
                            </li>
                            <li>
                                A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
                            </li>
                            <li>
                                A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                            </li>
                        </ol>
                        <p>
                            We will investigate notices of copyright infringement and take appropriate actions under the DMCA. Inquiries that do not follow this procedure may not receive a response.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');
    });

    $(window).on('resize', function () {
        setTimeout(function () {
            $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
    });
</script>