@model ConfirmAcceptInvitationModel
@using NXdrive.Web.Models.UserGroup

@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts("Confirm to accept invitation");
    //page class
    Html.AppendPageCssClassParts("confirm-accept-invitation-page");
}
<section class="container g-py-100--md">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
                <header class="text-center mb-4">
                    <vc:zenith-logo version="default"></vc:zenith-logo>
                    <h3 class="h3 g-color-black g-font-weight-600 mt-4">Confirm to Accept Invitation</h3>
                </header>
                <form class="g-py-15" asp-route="UserGroupAcceptInvitationPost" method="post">

                    <input type="hidden" name="id" value="@Model.Id" />

                    <div class="mb-4">
                        @Model.CreatorName invited you to the group --- <em>@Model.Group.Name</em>.
                        Do you want to accept this invitation?
                    </div>

                    <div class="g-mb-35">
                        <p>By clicking the confirm button, you will accept the invitation</p>
                    </div>

                    <div class="mb-4">
                        <button class="btn btn-md btn-block u-btn-primary rounded g-py-13" type="submit">Accept</button>
                    </div>
                </form>
            </div>

            @await Html.PartialAsync("_FooterLinks4LightPage")
        </div>

    </div>
</section>



