﻿@model HeaderLinksModel
@using System.Text.Encodings.Web
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance u-shadow-v19">
    <div class="u-header__section g-bg-white g-transition-0_3">
        <nav class="js-mega-menu navbar navbar-expand-lg g-pa-0">
            <div class="container">
                <a class="navbar-brand g-pl-15" href="@Url.RouteUrl("HomePage")">
                    <img class="g-width-95" src="~/img/logo/logo.png" alt="Logo">
                </a>

                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pos-abs g-top-10 g-right-0 g-pa-0 g-mt-2" type="button"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span class="hamburger hamburger--slider g-px-15">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
                
                <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row">
                    <ul class="navbar-nav ml-auto g-pb-30 g-pb-0--lg">
                        <li class="nav-item hs-has-sub-menu g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a id="nav-link--page-home" class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("HomePage")"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-controls="nav-submenu--page">
                                Home
                            </a>
                            <ul id="nav-submenu--page-home" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-18"
                                aria-labelledby="nav-link--page-home">
                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("AboutUs")">About Us</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("Career")">Careers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("Features")">
                                Features
                            </a>
                        </li>
                        @*<li class="nav-item hs-has-sub-menu g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                    <a id="nav-link--page" class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="#"
                       aria-haspopup="true"
                       aria-expanded="false"
                       aria-controls="nav-submenu--page">
                        Features
                    </a>

                    <ul id="nav-submenu--page" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-18"
                        aria-labelledby="nav-link--page">
                        <li class="dropdown-item">
                            <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("Security")">Security & Privacy </a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("Group")">Group Sharing</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link g-color-text g-font-weight-600" href="page-works-1.html">Works</a>
                        </li>

                    </ul>

                </li>*@
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("Business")">
                                Business
                            </a>
                        </li>

                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("ServicePlans")">
                                Plans
                            </a>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("DownloadCenter")">
                                Download
                            </a>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("HelpCenter")">
                                Help
                            </a>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link d-inline-block rounded g-brd-around g-brd-2 g-brd-primary g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-20 g-py-8" href="@Url.RouteUrl("Login")">Sign in</a>
                        </li>
                    </ul>
                </div>
                
                <ul class="col-auto list-inline g-pos-rel g-top-minus-3 g-py-20 g-py-6--lg g-pr-5 g-mr-60 g-mr-0--lg ml-auto ml-lg-0 mb-0">
                    <li class="list-inline-item g-mx-0">
                        <a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://www.facebook.com/InfoBeyondTechnology/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item g-mx-0">
                        <a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://www.twitter.com/search?q=InfoBeyond" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item g-mx-0">
                        <a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://www.linkedin.com/company/infobeyond-technology-llc/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
                <div class="col-auto g-hidden-md-down g-pr-0">
                    <div class="g-bg-main g-cursor-pointer g-px-25 g-py-20">
                        <span class="d-block g-color-primary g-font-size-16 mb-1">Go to NXdrive</span>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
