﻿@model HeaderLinksModel
@using System.Text.Encodings.Web
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
    <!-- Top Bar -->
    <div class="u-header__section u-header__section--hidden u-header__section--dark g-bg-primary g-py-7">
        <div class="container">
            <div class="row flex-column flex-md-row align-items-center justify-content-md-end text-uppercase g-font-weight-600 g-font-size-13">

                <div class="col-auto g-px-15 g-color-white">
                    Welcome! @DateTime.Today.ToShortDateString()
                </div>

                <div class="col-auto mr-md-auto g-px-15">
                </div>

                @if (Model.IsAuthenticated)
                {
                    <div class="col-auto g-px-15">
                        <a href="#!" class="g-color-white">
                            <i class="fa fa-cloud" aria-hidden="true"></i>
                            My Files
                        </a>
                    </div>

                    <div class="col-auto g-px-15">
                        <a href="@Url.RouteUrl("UserGroupIndexDefault")" class="g-color-white">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            My Groups
                        </a>
                    </div>

                    <div class="col-auto g-px-15">
                        <a href="@Url.RouteUrl("CustomerDashboard")" class="g-color-white">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            My Profile
                        </a>
                    </div>
                    <div class="col-auto g-px-15">
                        <a href="@Url.RouteUrl("Logout")" class="g-color-white">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            Sign out
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-auto g-px-15">
                        <a href="@Url.RouteUrl("Register")" class="g-color-white">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Sign Up
                        </a>
                    </div>

                    <div class="col-auto g-px-15">
                        <a href="@Url.RouteUrl("Login")" class="g-color-white">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Sign In
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
    <!-- End Top Bar -->

    <div class="u-header__section u-header__section--light g-bg-white-opacity-0_8 g-py-10" data-header-fix-moment-exclude="g-bg-white-opacity-0_8 g-py-10" data-header-fix-moment-classes="g-bg-white u-shadow-v18 g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">

                        <span class="hamburger-box">

                            <span class="hamburger-inner"></span>

                        </span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->
                <!-- Logo -->
                @await Component.InvokeAsync("ZenithLogo", new { version = "Responsive" })
                <!-- End Logo -->
                <!-- Navigation -->
                <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                        <li class="nav-item g-mx-20--lg">
                            <a href="@Url.RouteUrl("HomePage")" class="nav-link px-0">
                                Home
                            </a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a href="/#features" class="nav-link px-0">
                                Features
                            </a>

                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a href="@Url.RouteUrl("ProductPlans")" class="nav-link px-0">
                                Plans
                            </a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a href="@Url.RouteUrl("ContactUs")" class="nav-link px-0">
                                Contact
                            </a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a href="@Url.RouteUrl("HelpCenter")" class="nav-link px-0">
                                Help
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->
