﻿@model HeaderLinksModel

@{
    // todo: Define a default url
    object avatarUrlValue = null;
    Model.CustomProperties.TryGetValue("AvatarUrl", out avatarUrlValue);
    string avatarUrl = string.Empty;
    avatarUrl = avatarUrlValue?.ToString();
}

<header id="header" class="u-header">
    <div id="searchPushTop" class="u-search-push-top">
        <div class="container position-relative">
            <div class="u-search-push-top__content">
                <button type="button" class="close u-search-push-top__close-btn"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="searchPushTop"
                        data-unfold-type="jquery-slide"
                        data-unfold-target="#searchPushTop">
                    <i class="fas fa-chevron-up"></i>
                </button>
               
                <form class="js-focus-state input-group input-group-lg">
                    <input type="search" class="form-control" placeholder="Search NXdrive Website" aria-label="Search NXdrive Website">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                </form>

                <div class="row d-none d-md-flex mt-7">
                    <div class="col-sm-6">
                        <strong class="d-block mb-2">Quick Links</strong>

                        <div class="row">
                            <div class="col-6">
                                <div class="list-group list-group-transparent list-group-flush list-group-borderless">
                                    <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("ContactUs")">
                                        <span class="fas fa-angle-right list-group-icon"></span>
                                        Contact us
                                    </a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="list-group list-group-transparent list-group-flush list-group-borderless">
                                    <a class="list-group-item list-group-item-action" href="@Url.RouteUrl("ProductPlans")">
                                        <span class="fas fa-angle-right list-group-icon"></span>
                                        Plans
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <div class="u-header__section">
        <div class="container u-header__hide-content pt-2">
            <div class="d-flex align-items-center">
                
                <div class="ml-auto">
                    <div class="d-none d-sm-inline-block ml-sm-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-0">
                                <a class="u-header__navbar-link" href="@Url.RouteUrl("HelpCenter")">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="list-inline ml-2 mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-text-secondary" href="javascript:;" role="button"
                           aria-haspopup="true"
                           aria-expanded="false"
                           aria-controls="searchPushTop"
                           data-unfold-type="jquery-slide"
                           data-unfold-target="#searchPushTop">
                            <span class="fas fa-search btn-icon__inner"></span>
                        </a>
                    </li>

                    <li class="list-inline-item">
                        <a id="sidebarNavToggler" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1" href="javascript:;" role="button"
                           aria-controls="sidebarContent"
                           aria-haspopup="true"
                           aria-expanded="false"
                           data-unfold-event="click"
                           data-unfold-hide-on-scroll="false"
                           data-unfold-target="#sidebarContent"
                           data-unfold-type="css-animation"
                           data-unfold-animation-in="fadeInRight"
                           data-unfold-animation-out="fadeOutRight"
                           data-unfold-duration="500">
                            <span class="position-relative">
                                <span class="u-sidebar--account__toggle-text">@Model.CustomerName</span>
                                <img class="u-sidebar--account__toggle-img" src="@avatarUrl" alt="Image Description">
                                @if (!string.IsNullOrEmpty(Model.UnreadPrivateMessages))
                                {
                                    <span class="badge badge-sm badge-success badge-pos rounded-circle">@Model.UnreadPrivateMessages</span>
                                }
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="logoAndNav" class="container">
            <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar" style="padding-top: 0.4rem;">

                <vc:zenith-logo version="FrontTheme"></vc:zenith-logo>

                <button type="button" class="navbar-toggler btn u-hamburger"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span id="hamburgerTrigger" class="u-hamburger__box">
                        <span class="u-hamburger__inner"></span>
                    </span>
                </button>
               
                <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                    <ul class="navbar-nav u-header__navbar-nav">
                        <li class="nav-item u-header__nav-item">
                            <a href="@Url.RouteUrl("HomePage")" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item u-header__nav-last-item">
                            <a class="btn btn-sm transition-3d-hover" href="@Url.RouteUrl("DownloadCenter")">
                                Download Center
                            </a>
                        </li>
                        <li class="nav-item u-header__nav-last-item">
                            <a class="btn btn-sm btn-primary transition-3d-hover" href="@Url.RouteUrl("FileSystemExplorer")" target="_blank">
                                Go to My Files
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

