﻿@model HeaderLinksModel
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--change-logo u-header--change-appearance" data-header-fix-moment="100">
    <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
        <nav class="navbar navbar-expand-lg">
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                    <span class="hamburger hamburger--slider">

                        <span class="hamburger-box">

                            <span class="hamburger-inner"></span>

                        </span>
                    </span>
                </button>

                <vc:zenith-logo version="Responsive"></vc:zenith-logo>

                <div class="js-mega-menu collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                        <li class="nav-item g-mx-20--lg">
                            <a href="@Url.RouteUrl("HomePage")" class="nav-link px-0">
                                Home
                            </a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a href="#!" class="nav-link px-0">
                                My Files
                            </a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <a href="@Url.RouteUrl("UserGroupIndexDefault")" class="nav-link px-0">
                                My Groups
                            </a>
                        </li>
                        <li class="nav-item g-mx-20--lg">
                            <!-- todo: Private message route url-->
                            <a href="#" class="nav-link px-0">
                                <span class="inbox-label">@T("PrivateMessages.Inbox")</span>
                                <span class="inbox-unread">@Model.UnreadPrivateMessages</span>
                            </a>
                        </li>
                        <li class="nav-item hs-has-sub-menu g-mx-20--lg">
                            <a href="#!" class="nav-link g-px-0" id="nav-link-1"
                               aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu-1">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                            </a>
                            <ul class="hs-sub-menu list-unstyled g-text-transform-none g-bg-white g-brd-top g-brd-primary g-brd-top-2 g-min-width-200 g-mt-20 g-mt-10--lg--scrolling" id="nav-submenu-1" aria-labelledby="nav-link-1">
                                <li class="dropdown-item">
                                    <span class="g-px-0">
                                        @Model.CustomerName
                                    </span>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link g-px-0" href="@Url.RouteUrl("CustomerDashboard")">My Profile</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link g-px-0" href="@Url.RouteUrl("CustomerPlanUsage")">My Plan</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link g-px-0" href="@Url.RouteUrl("Logout")">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
