﻿@model LogoModel
<a href="@Url.RouteUrl("HomePage")" class="navbar-brand u-header__navbar-brand u-header__navbar-brand-center">
    <img class="u-header__logo-img u-header__logo-img--main" alt="@Model.StoreName" src="@Model.LogoPath">
</a>