﻿@model LogoModel
<a href="@Url.RouteUrl("HomePage")" class="navbar-brand u-header__logo">
    <img class="u-header__logo-img u-header__logo-img--main" alt="@Model.StoreName" src="@Model.LogoPath">
    <img class="u-header__logo-img" alt="@Model.StoreName" src="@Model.LogoPath">
</a>