﻿@model HeaderLinksModel

<!-- Footer -->
<footer>
    <div class="g-bg-dark">
        <div class="container g-pt-70 g-pb-5">
            <div class="row">
                <div class="col-6 col-md-3 g-mb-30">
                    <h3 class="h6 g-color-text text-uppercase">About NXdrive</h3>
                    <!-- Links -->
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="@Url.RouteUrl("Security")">
                                Executive Security
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="@Url.RouteUrl("Group")">
                                Group Sharing
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="@Url.RouteUrl("Login")">
                                Get started with NXdrive
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Links -->
                </div>
                <div class="col-6 col-md-3 g-mb-30">
                    <h3 class="h6 text-uppercase">Plans & Pricing</h3>
                    <!-- Links -->
                    <ul class="list-unstyled mb-2">
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="@Url.RouteUrl("ServicePlans")">
                                <span>Plans</span>
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>
                    </ul>

                    <h3 class="h6 text-uppercase">Download</h3>
                    <ul class="list-inline">
                        <li class="list-inline-item mb-1">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded" href="@Url.RouteUrl("DownloadCenter")">
                                <i class="fa fa-android"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mb-1">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded" href="@Url.RouteUrl("DownloadCenter")">
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mb-1">
                            <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded" href="@Url.RouteUrl("DownloadCenter")">
                                <i class="fa fa-windows"></i>
                            </a>
                        </li>
                    </ul>


                    <!-- End Links -->
                </div>
                <div class="col-6 col-md-3 g-mb-30">
                    <h3 class="h6 text-uppercase">Support</h3>
                    <!-- Links -->
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="@Url.RouteUrl("HelpCenter")">
                                <span>Help Center</span>
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>
                        <!--
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="#">
                                <span>Troubleshoot</span>
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>-->
                        <li>
                            <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="@Url.RouteUrl("Term")">
                                <span>Terms & Policies</span>
                                <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                            </a>
                        </li>

                    </ul>
                    <!-- End Links -->
                </div>
                <div class="col-6 col-md-3 g-mb-30">
                    <!-- Links -->
                    @*<ul class="list-inline">
                            <li class="list-inline-item mb-1">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded" href="#">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mb-1">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded" href="#">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mb-1">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary--hover g-color-gray-light-v1 g-color-primary--hover rounded" href="#">
                                    <i class="fa fa-windows"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="list-unstyled mb-4">
                            <li>
                                <a class="u-link-v6 g-color-text g-color-primary--hover g-font-weight-500 g-text-underline--none--hover g-py-3" href="#">
                                    <span>How to Install Apps</span>
                                    <span class="u-link-v6-arrow g-font-size-18">&rightarrow;</span>
                                </a>
                            </li>
                        </ul>*@
                    <!-- End Links -->
                    <h3 class="h6 text-uppercase">Contact us</h3>
                    <address class="g-font-size-13 g-color-gray-dark-v3 g-font-weight-600 g-line-height-2 mb-0">
                        320 Whittington Pkwy, STE 117
                        <br>Louisville, Kentucky, USA<br>40222-4917
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="g-bg-dark-light-v1">
        <div class="container g-pt-30">
            <div class="row align-items-center">
                <div class="col-md-4 text-center text-md-left g-mb-30">
                    <!-- Logo -->
                    <a class="g-text-underline--none--hover mr-4" href="/">
                        <img class="g-width-40" src="~/img/logo/logo_NXdrive.gif" alt="Logo">
                    </a>
                    <!-- End Logo -->
                    <p class="d-inline-block align-middle g-font-size-13 mb-0">&copy; 2019 Infobeyond Technology LLC.<br>All Rights Reserved.</p>
                </div>
                <div class="col-md-4 g-mb-30">
                    <!-- Social Icons -->
                    <ul class="list-inline text-center mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.facebook.com/InfoBeyondTechnology/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.twitter.com/search?q=InfoBeyond" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.linkedin.com/company/infobeyond-technology-llc/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://plus.google.com/+InfoBeyondTechnology" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.youtube.com/channel/UCfOGxiWo_OkCr4hd5qx2JVw/videos" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                    <!-- End Social Icons -->
                </div>
                <div class="col-md-4 g-mb-30 text-right">
                    <div class="d-inline-block g-mx-15">
                        <h4 class="g-color-text g-font-size-11 text-left text-uppercase">Email</h4>
                        <a href="mailto:info@NXdrive.com">info@nxdrive.com</a>
                    </div>
                    <div class="d-inline-block g-mx-15">
                        <h4 class="g-color-text g-font-size-11 text-left text-uppercase">Phone</h4>
                        <a href="tel:+15023710909">(502)371 0909</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>

<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').click(function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>


