﻿@model HeaderLinksModel

<aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">
            <div class="u-sidebar--account__footer-offset">
                <div class="d-flex justify-content-between align-items-center pt-4 px-7">
                    <h3 class="h6 mb-0">My Account</h3>

                    <button type="button" class="close ml-auto"
                            aria-controls="sidebarContent"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="js-scrollbar u-sidebar__body">

                    <header class="d-flex align-items-center u-sidebar--account__holder mt-3">
                        <vc:zenith-customer-avatar version="FrontThemeV2"></vc:zenith-customer-avatar>

                        <div class="btn-group position-relative ml-auto mb-auto">
                            <a id="sidebar-account-settings-invoker" class="btn btn-xs btn-icon btn-text-secondary rounded" href="javascript:;" role="button"
                               aria-controls="sidebar-account-settings"
                               aria-haspopup="true"
                               aria-expanded="false"
                               data-toggle="dropdown"
                               data-unfold-event="click"
                               data-unfold-target="#sidebar-account-settings"
                               data-unfold-type="css-animation"
                               data-unfold-duration="300"
                               data-unfold-delay="300"
                               data-unfold-animation-in="slideInUp"
                               data-unfold-animation-out="fadeOut">
                            </a>

                            <div id="sidebar-account-settings" class="dropdown-menu dropdown-unfold dropdown-menu-right" aria-labelledby="sidebar-account-settings-invoker">
                                <a class="dropdown-item" href="@Url.RouteUrl("CustomerInfo")">Account</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                    </header>

                    <div class="u-sidebar__content--account">

                        <ul class="list-unstyled u-sidebar--account__list">
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.RouteUrl("Logout")">
                                    <span class="fas fa-sign-out-alt u-sidebar--account__list-icon mr-2"></span>
                                    Sign Out
                                </a>
                            </li>
                        </ul>

                        <div class="u-sidebar--account__list-divider"></div>

                        <ul class="list-unstyled u-sidebar--account__list customer-menu-list">
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.RouteUrl("CustomerDashboard")">
                                    <span class="fas fa-home u-sidebar--account__list-icon mr-2"></span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.RouteUrl("CustomerInfo")">
                                    <span class="fas fa-user-circle u-sidebar--account__list-icon mr-2"></span>
                                    Profile
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.RouteUrl("PrivateMessages")">
                                    <span class="fas fa-envelope u-sidebar--account__list-icon mr-2"></span>
                                    Private Messages
                                    @if (!string.IsNullOrEmpty(Model.UnreadPrivateMessages))
                                    {
                                        <span class="badge badge-success float-right mt-1">@Model.UnreadPrivateMessages</span>
                                    }
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.RouteUrl("CustomerPlanUsage")">
                                    <span class="fas fa-cubes u-sidebar--account__list-icon mr-2"></span>
                                    Plan and Usage
                                </a>
                            </li>

                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.RouteUrl("CustomerContacts")">
                                    <span class="fas fa-user-plus u-sidebar--account__list-icon mr-2"></span>
                                    Contacts
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>

            <footer id="SVGwaveWithDots" class="svg-preloader u-sidebar__footer u-sidebar__footer--account">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-3">
                        <a class="u-sidebar__footer--account__text" href="@Url.RouteUrl("Privacy")">Privacy</a>
                    </li>
                    <li class="list-inline-item pr-3">
                        <a class="u-sidebar__footer--account__text" href="@Url.RouteUrl("HelpCenter")">Help</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar__footer--account__text" href="@Url.RouteUrl("ContactUs")">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </li>
                </ul>

                <div class="position-absolute right-0 bottom-0 left-0">
                    <img class="js-svg-injector" src="~/assets-front-v2.x/svg/components/wave-bottom-with-dots.svg" alt="Image Description"
                         data-parent="#SVGwaveWithDots">
                </div>

            </footer>

        </div>
    </div>
</aside>
<!-- End Account Sidebar Navigation -->
<!-- ========== END SECONDARY CONTENTS ========== -->
<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
   data-position='{"bottom": 15, "right": 15 }'
   data-type="fixed"
   data-offset-top="400"
   data-compensation="#header"
   data-show-effect="slideInUp"
   data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->

<script asp-location="Footer">
    $(document).ready(function () {
        var url = window.location.pathname.toLowerCase();

        var items = $('#sidebarContent').find('ul.customer-menu-list li a');
        items = items.filter(function (index, l) {
            var $l = $(l);
            var path = $l.attr('href');
            path = path.toLowerCase();
            return url.indexOf(path) !== -1;
        });

        items.addClass('active');
    });
</script>