﻿@model HeaderLinksModel

<!-- Footer -->
<footer>
    <div class="g-bg-dark-light-v1">
        <div class="container g-pt-30">
            <div class="row align-items-center">
                <div class="col-md-4 text-center text-md-left g-mb-30">
                    <!-- Logo -->
                    <a class="g-text-underline--none--hover mr-4" href="@Url.RouteUrl("HomePage")">
                        <img class="g-width-40" src="~/img/logo/logo_NXdrive.gif" alt="Logo">
                    </a>
                    <!-- End Logo -->
                    <p class="d-inline-block align-middle g-font-size-13 mb-0">&copy; 2019 Infobeyond Technology LLC.<br>All Rights Reserved.</p>
                </div>
                <div class="col-md-4 g-mb-30">
                    <!-- todo: Fix Social Icons -->
                    <ul class="list-inline text-center mb-0">
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.facebook.com/InfoBeyondTechnology/"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://twitter.com/InfoBeyond"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.linkedin.com/company/infobeyond-technology-llc/"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://plus.google.com/+InfoBeyondTechnology"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="u-icon-v3 u-icon-size--sm g-color-gray-light-v1 g-color-primary--hover g-bg-transparent g-bg-main--hover rounded" href="https://www.youtube.com/channel/UCfOGxiWo_OkCr4hd5qx2JVw/videos"><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 g-mb-30 text-right">
                    <div class="d-inline-block g-mx-15">
                        <h4 class="g-color-text g-font-size-11 text-left text-uppercase">Email</h4>
                        <a href="#">info@NXdrive.com</a>
                    </div>
                    <div class="d-inline-block g-mx-15">
                        <h4 class="g-color-text g-font-size-11 text-left text-uppercase">Phone</h4>
                        <a href="#">502.371.0909 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


