﻿@using NXdrive.Web.Models.Customer
@model Tuple<IEnumerable<CustomerContactModel>, IEnumerable<string>>
@{
    Layout = "_Root4FrontTheme";

    Html.AddTitleParts("My Contacts");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/features/contacts-main.js");

    var ctrlClass = Model.Item1.Count() > 0 ? "has-one" : "";
}
<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Contacts</li>
                    </ol>
                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
            <div class="ml-lg-auto">
                <a class="btn btn-sm btn-soft-white text-nowrap transition-3d-hover"
                   id="send-invitation-trigger"
                   href="">
                    <span class="fas fa-user-friends mr-1"></span>
                    Add Friends
                </a>
            </div>
        </div>
    </div>
</div>
<style>

    .contact-list-wrapper.has-one .empty-list {
        display: none;
    }
</style>
<div class="bg-light">
    <div class="container space-2 contact-list-wrapper @ctrlClass">
        <h2 class="h5 mb-0 text-capitalize">My Contacts</h2>
        <hr class="mt-2 mb-4">
        <!-- Our message-->
        <div aria-live="polite" aria-atomic="true" style="position: relative;">
            <div class="toast toast-for-contact" style="position: absolute; top: 0; right: 0; z-index: 50;">
                <div class="toast-header">
                    <strong class="mr-auto">Deleting Contact</strong>
                    <small>Just now</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    You just successfully deleted a contact.
                </div>
            </div>
        </div>

        <div class="row pending-contact-list" style="display: @(Model.Item2.Count() > 0 ? "block" : "none");">
            <div class="col-md-12">
                <div class="alert alert-success fade show">
                    <h6 class="alert-heading">Pending Contacts</h6>
                    <ul class="list-inline text-primary">
                        @foreach (var pending in Model.Item2)
                        {
                            <li class="list-inline-item">
                                @pending
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="row contact-list">
            @foreach (var contact in Model.Item1)
            {
                <div class="card text-center mb-5 ml-3 contact-box">
                    <div class="card-body p-6">
                        <div class="mb-4">
                            <span class="btn btn-lg btn-icon btn-soft-danger rounded-circle mb-3">
                                @if (!contact.IsNXdriveUser)
                                {
                                    <span class="btn-icon__inner text-uppercase">@contact.Abbr</span>
                                }
                                else
                                {
                                    <img class="img-fluid rounded-circle" src="@contact.AvatarURL">
                                }
                            </span>
                            <button class="btn btn-sm btn-icon btn-soft-warning btn-bg-transparent position-absolute top-0 right-0 rounded-circle m-3 delete-contact ladda-button standalone-btn"
                                    type="button"
                                    data-connection-id="@contact.ConnectionId"
                                    data-ladda-wrapper-id="rm-@contact.ConnectionId"
                                    data-color="purple"
                                    data-style="expand-right"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    title="Delete">
                                <span class="ladda-label">
                                    <i class="fas fa-times btn-icon__inner"></i>
                                </span>
                            </button>
                            @if (contact.IsNXdriveUser)
                            {
                                <h2 class="h6 mb-0">
                                    @contact.FullName
                                </h2>
                            }
                            else
                            {
                                <h2 class="h6 mb-0">
                                    <br />
                                </h2>
                            }
                            <a class="small" href="mailto:@contact.Email">@contact.Email</a>
                        </div>
                        <ul class="list-inline mb-0">
                            @contact.Comment
                        </ul>
                    </div>
                    <div class="card-footer py-4 px-6">
                        @if (contact.IsNXdriveUser)
                        {
                            <!-- todo: Fix customer id -->
                            <button class="btn btn-sm btn-soft-primary transition-3d-hover send-private-message"
                                    type="button"
                                    data-customer-name="@contact.FullName"
                                    data-customer-id="@contact.CustomerId">
                                <span class="far fa-envelope mr-1"></span>
                                Send Message
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-sm btn-soft-primary transition-3d-hover refer-nxdrive" type="button" data-email="@contact.Email">
                                <span class="fas fa-hand-holding-heart mr-1"></span>
                                Refer
                            </button>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row empty-list">
            <div class="col-md-12 mb-7">

                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <h6 class="alert-heading">Growing your contacts!</h6>

                    Just use the
                    <a class="alert-link" style="cursor: pointer;" onclick="$('#send-invitation-trigger').click(); return false;">Add Friends</a> above 
                    button to send emails to your friends to get them in your contact list;
                    Having them in your contacts simplifies such operations as sharing files with them, inviting them into groups, and so on.

                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="text-center px-lg-3 py-7">
                    <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
                        <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
                    </span>
                    <p class="mb-md-0">You don't have any contacts at this moment.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_SendEmailModal")
@await Html.PartialAsync("_ReferProductModal")
@await Html.PartialAsync("_SendPrivateMessageModal")
@await Html.PartialAsync("_ReplyPrivateMessageModal")

<script asp-location="Head">
    const environments = {
        sendFriendInvitationUrl: '@Url.RouteUrl("CustomerContactInviteFriends")',
        sendFriendInvitationFormId: '#send-email-form',
        referProductUrl: '@Url.RouteUrl("CustomerReferFriend")',
        referProductFormId: '#refer-product-form',
        sendPrivateMessageUrl: '@Url.RouteUrl("PrivateMessageSendPM")',
        sendPrivateMessageFormId: '#reply-private-message-form'
    };
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('#send-invitation-trigger').click(function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var modal = $('#sendEmailModal');
            modal.find('.card-header .header-title').html('Send Friend Requests');
            modal.find('input.multiple-emails').tagsinput('removeAll');

            // Clean text area
            modal.find('textarea').val('');

            showCustomBoxModal('#sendEmailModal');
        });

        $(document).on('click', '.contact-list .contact-box button.delete-contact', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();

            var $target = $(evt.target);
            $target = $target.closest('button');

            bootbox.confirm({
                centerVertical: true,
                title: 'Confirmation',
                message: 'Are you sure to delete this friend?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn btn-primary btn-sm'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn btn-secondary btn-sm'
                    }
                },
                callback: function (result) {
                    if (!result) {
                        return;
                    }

                    var laddaId = $target.data('laddaWrapperId');
                    var ladda = GlobalLaddaButtons[laddaId];
                    ladda && ladda.start();

                    var connectionId = $target.data('connectionId');
                    var postData = {
                        connectionId: connectionId
                    };
                    addAntiForgeryToken(postData);

                    $.ajax({
                        cache: false,
                        type: 'POST',
                        url: '@Url.RouteUrl("CustomerContactDelete")',
                        data: postData,
                        dataType: 'json',
                        success: function (data) {

                            if (!data || !data.Error) {
                                $target.closest('.contact-box').remove();
                                GlobalLaddaButtons[laddaId] = null;

                                // If we have no more contact, show empty list
                                const $contactList = $('.contact-list');
                                if ($contactList.find('.contact-box').length == 0) {
                                    $contactList.closest('.contact-list-wrapper').removeClass('has-one');
                                }

                                showToast('.toast.toast-for-contact', 'Delete Friend', 'A friend was just deleted.');
                            }

                            ladda && ladda.stop();
                            // Remove the button for memory leaking
                            ladda && ladda.remove();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                             ladda.stop();
                             ladda.remove();

                            bootbox.alert({
                                title: 'Alert',
                                centerVertical: true,
                                message: 'Sorry, we cannot delete the friend now.'
                            });
                        }
                    });
                }
            });
        });
    });
</script>
<script asp-location="Footer">
    $(document).on('click', '.contact-list .contact-box .btn.refer-nxdrive', function (evt) {
        evt.preventDefault();
        evt.stopPropagation();

        // Refer a friend
        var $target = $(evt.target);
        $target = $target.closest('button');
        var email = $target.data('email');
        var modal = $('#referProductModal');
        modal.find('.card-header .header-title').html('Refer a Friend');
        var tags = modal.find('input.multiple-emails');

        tags.tagsinput('removeAll');
        tags.tagsinput('add', email);
        // Clean text area 
        modal.find('textarea').val('');

        showCustomBoxModal('#referProductModal');
    });

    $(document).on('click', '.contact-list .contact-box button.send-private-message', function (evt) {
        evt.preventDefault();
        evt.stopPropagation();

        var $target = $(evt.target);
        $target = $target.closest('button');

        var customerId = $target.data('customerId');
        var customerName = $target.data('customerName');

        var modal = $('#replyPrivateMessageModal');
        modal.find('.card-header .header-title').html('Send Messages to ' + (customerName || 'a Friend'));

        var $form = $('#reply-private-message-form');
        $form.find('input[name="ToCustomerId"]').val(customerId);

        // Clean message title
        $form.find('input[name="Subject"]').val();
        $form.find('input[name="Message"]').val();

        // Clean text area 
        modal.find('textarea').val('');

        // Show
        showCustomBoxModal('#replyPrivateMessageModal');
    });

</script>

<!-- Once Events -->
@if (string.Equals(this.Context.Request.Query["onpageready"], "open-invitation-modal", StringComparison.CurrentCultureIgnoreCase))
{
    <script asp-location="Footer">
        $(document).ready(function () {
            $('#send-invitation-trigger').click();
        });
    </script>
}