@model GroupModel
@using NXdrive.Web.Models.UserGroup

@{
    Layout = "_DashboardRoot";
}

<div class="g-pa-20">
    <!--Member List-->
    <div class="row">
        <div class="col-md-12">
            <!-- Panel 1 -->           
            <div class="card g-brd-gray-light-v7 g-rounded-3 g-mb-30">
                <form class="js-validate">
                    <header class="card-header g-bg-green g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-20--sm g-pb-10 g-pb-15--sm">
                        <div class="media">
                            <h2 class="d-flex align-self-center g-font-size-12 g-font-size-default--md g-color-white g-mr-10 mb-0">Create a new group</h2>
                            @*<div class="media-body d-flex justify-content-end">
                                <a class="hs-admin-panel u-link-v5 g-font-size-20 g-color-white-opacity-0_7 g-color-white--hover" href="#!"></a>
                                <a class="hs-admin-reload u-link-v5 g-font-size-20 g-color-white-opacity-0_7 g-color-white--hover g-ml-20" href="#!"></a>
                            </div>*@
                        </div>
                    </header>
                    <!-- line 1 -->       
                    <div class="card-block g-pa-15 g-pa-30--sm">
                        <div class="row g-mb-10">
                            <!-- Name -->       
                            <div class="col-md-2 align-self-center g-mb-5 g-mb-0--md">
                                <label class="mb-0" for="#newPassword">Group name</label>
                            </div>
                            <!-- Name form -->       
                            <div class="col-md-8 align-self-center">
                                <div class="form-group g-pos-rel mb-0">
                                    <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                                        <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-lightblue-v3"></i>
                                    </span>
                                    <input id="newPassword" name="newPassword" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-lightred-v2--error g-rounded-4 g-px-20 g-py-12" type="password" required="required" data-msg="This field is mandatory" data-error-class="u-has-error-v3"
                                           data-success-class="has-success" aria-required="true">
                                </div>
                            </div>
                            <!-- toggle -->       
                            <div class="col-md-2 align-self-center mb-0">                               
                                    <div class="g-mb-0--md d-flex justify-content-between g-ml-10">
                                        <span>Private</span>
                                        <label class="u-check g-mr-20 g-ml-20 mx-0 mb-0">
                                            <input class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup1_1" checked="" type="checkbox">
                                            <div class="u-check-icon-radio-v7">
                                                <i class="d-inline-block"></i>
                                            </div>
                                        </label>
                                        <span>Public</span>
                                    </div>                               
                            </div>
                            <!-- End toggle -->       
                        </div>
                       
                        <!-- Line 2 -->       

                        <div class="g-mb-30">
                            <label class="g-mb-10" for="#expirience">Group Info</label>
                            <div class="form-group mb-0">
                                <textarea id="expirience" class="form-control form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-rounded-4 g-px-20 g-py-12" rows="4"></textarea>
                            </div>
                        </div>
                        @*<div class="d-flex g-mb-30">
                            <a class="u-link-v5 d-flex align-items-center g-color-lightblue-v3" href="#!">
                                <i class="hs-admin-check g-font-size-16"></i>
                                <span class="g-ml-8">Save</span>
                            </a>
                            <a class="u-link-v5 d-flex align-items-center g-color-lightblue-v3 g-ml-30" href="#!">
                                <span class="u-badge-v2--xl g-pos-rel g-transform-origin--top-left g-bg-lightblue-v3 g-font-size-10 g-color-white">
                                    <i class="hs-admin-plus g-absolute-centered"></i>
                                </span>
                                <span class="g-ml-15">Edit</span>
                            </a>
                        </div>*@
                        <hr>
                        <div>
                            <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10" type="submit">Save Changes</button>
                            <button class="btn btn-md btn-xl--md u-btn-outline-gray-dark-v6 g-font-size-12 g-font-size-default--md g-mr-10 g-mb-10" type="reset">Cancel</button>
                        </div>
                    </div>
                </form>
                <!-- Panel 2 invite friends -->

                <header class="card-header g-bg-green g-brd-bottom-none g-px-15 g-px-30--sm g-pt-15 g-pt-20--sm g-pb-10 g-pb-15--sm">
                    <div class="media">
                        <h3 class="d-flex align-self-center g-font-size-12 g-font-size-default--md g-color-white g-mr-10 mb-0">Invite Friends</h3>                       
                    </div>
                </header>
                
                <div class="card-block g-pa-15 g-pa-30--sm">
                    <div class="row col-12 g-mb-10">
                        <div class="col-6 g-pa-30" style="border-right: 1px solid green;">
                            <!-- item 1 -->
                            <div class="media-md align-items-center g-mb-30">
                                <div class="d-flex">
                                    <div class="media">
                                        <a class="d-flex align-self-center g-mr-10 g-mr-15--md" href="#!">
                                            <div class="g-pos-rel g-width-40 g-width-50--md g-height-40 g-height-50--md rounded-circle g-bg-gray-light-v8">
                                                <span class="text-uppercase g-absolute-centered g-font-size-16 g-color-gray-light-v11">MB</span>
                                            </div>
                                        </a>
                                        <div class="media-body align-self-center g-width-100 g-width-auto--md">
                                            <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">M<span class="g-hidden-md-up">.</span><span class="g-hidden-md-down">ittie&nbsp;</span>Burton</h3>
                                            <em class="d-inline-block d-md-block w-100 g-width-auto--md g-text-overflow-ellipsis g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">burton.mittie@gmail.com</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <span class="u-tags-v1 text-center g-width-145--md g-brd-around g-brd-teal-v2 g-bg-teal-v2 g-color-white g-rounded-50 g-py-4 g-px-15"><span class="g-hidden-md-down">Invite&nbsp;</span>Accepted</span>
                                </div>
                            </div>
                            <!-- item 2 -->
                            <div class="media-md align-items-center g-mb-30">
                                <div class="d-flex">
                                    <div class="media">
                                        <a class="d-flex align-self-center g-mr-10 g-mr-15--md" href="#!">
                                            <div class="g-pos-rel g-width-40 g-width-50--md g-height-40 g-height-50--md rounded-circle g-bg-gray-light-v8">
                                                <span class="text-uppercase g-absolute-centered g-font-size-16 g-color-gray-light-v11">MB</span>
                                            </div>
                                        </a>
                                        <div class="media-body align-self-center g-width-100 g-width-auto--md">
                                            <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">M<span class="g-hidden-md-up">.</span><span class="g-hidden-md-down">ittie&nbsp;</span>Burton</h3>
                                            <em class="d-inline-block d-md-block w-100 g-width-auto--md g-text-overflow-ellipsis g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">burton.mittie@gmail.com</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <span class="u-tags-v1 text-center g-width-145--md g-brd-around g-brd-teal-v2 g-bg-teal-v2 g-color-white g-rounded-50 g-py-4 g-px-15"><span class="g-hidden-md-down">Invite&nbsp;</span>Accepted</span>
                                </div>
                            </div>
                            <!-- item 3 -->
                            <div class="media-md align-items-center g-mb-30">
                                <div class="d-flex g-mb-10 g-mb-0--md">
                                    <div class="media">
                                        <a class="d-flex align-self-center g-mr-10 g-mr-15--md" href="#!">
                                            <div class="g-pos-rel g-width-40 g-width-50--md g-height-40 g-height-50--md rounded-circle g-bg-gray-light-v8">
                                                <span class="text-uppercase g-absolute-centered g-font-size-16 g-color-gray-light-v11">MM</span>
                                            </div>
                                        </a>
                                        <div class="media-body align-self-center g-width-100 g-width-auto--md">
                                            <em class="d-inline-block d-md-block w-100 g-width-auto--md g-text-overflow-ellipsis g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">margarette.miller@htmlstream.com</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <span class="u-tags-v1 text-center g-width-145--md g-brd-around g-brd-gray-light-v8 g-bg-gray-light-v8 g-color-gray-dark-v11 g-rounded-50 g-py-4 g-px-15"><span class="g-hidden-md-down">Invite&nbsp;</span>Sent</span>
                                </div>
                            </div>                           
                        </div>

                        
                        <div class="col-6 g-pa-30">
                            <!-- item 1 -->
                            <div class="media-md align-items-center g-mb-30">
                                <div class="d-flex">
                                    <div class="media">
                                        <a class="d-flex align-self-center g-mr-10 g-mr-15--md" href="#!">
                                            <div class="g-pos-rel g-width-40 g-width-50--md g-height-40 g-height-50--md rounded-circle g-bg-gray-light-v8">
                                                <span class="text-uppercase g-absolute-centered g-font-size-16 g-color-gray-light-v11">MB</span>
                                            </div>
                                        </a>
                                        <div class="media-body align-self-center g-width-100 g-width-auto--md">
                                            <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">M<span class="g-hidden-md-up">.</span><span class="g-hidden-md-down">ittie&nbsp;</span>Burton</h3>
                                            <em class="d-inline-block d-md-block w-100 g-width-auto--md g-text-overflow-ellipsis g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">burton.mittie@gmail.com</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <span class="u-tags-v1 text-center g-width-145--md g-brd-around g-brd-teal-v2 g-bg-teal-v2 g-color-white g-rounded-50 g-py-4 g-px-15"><span class="g-hidden-md-down">Invite&nbsp;</span>Accepted</span>
                                </div>
                            </div>
                            <!-- item 2 -->
                            <div class="media-md align-items-center g-mb-30">
                                <div class="d-flex">
                                    <div class="media">
                                        <a class="d-flex align-self-center g-mr-10 g-mr-15--md" href="#!">
                                            <div class="g-pos-rel g-width-40 g-width-50--md g-height-40 g-height-50--md rounded-circle g-bg-gray-light-v8">
                                                <span class="text-uppercase g-absolute-centered g-font-size-16 g-color-gray-light-v11">MB</span>
                                            </div>
                                        </a>
                                        <div class="media-body align-self-center g-width-100 g-width-auto--md">
                                            <h3 class="g-font-weight-300 g-font-size-16 g-color-black g-mb-5">M<span class="g-hidden-md-up">.</span><span class="g-hidden-md-down">ittie&nbsp;</span>Burton</h3>
                                            <em class="d-inline-block d-md-block w-100 g-width-auto--md g-text-overflow-ellipsis g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">burton.mittie@gmail.com</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <span class="u-tags-v1 text-center g-width-145--md g-brd-around g-brd-teal-v2 g-bg-teal-v2 g-color-white g-rounded-50 g-py-4 g-px-15"><span class="g-hidden-md-down">Invite&nbsp;</span>Accepted</span>
                                </div>
                            </div>
                            <!-- item 3 -->
                            <div class="media-md align-items-center g-mb-30">
                                <div class="d-flex g-mb-10 g-mb-0--md">
                                    <div class="media">
                                        <a class="d-flex align-self-center g-mr-10 g-mr-15--md" href="#!">
                                            <div class="g-pos-rel g-width-40 g-width-50--md g-height-40 g-height-50--md rounded-circle g-bg-gray-light-v8">
                                                <span class="text-uppercase g-absolute-centered g-font-size-16 g-color-gray-light-v11">MM</span>
                                            </div>
                                        </a>
                                        <div class="media-body align-self-center g-width-100 g-width-auto--md">
                                            <em class="d-inline-block d-md-block w-100 g-width-auto--md g-text-overflow-ellipsis g-font-style-normal g-font-weight-300 g-color-gray-dark-v6">margarette.miller@htmlstream.com</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ml-auto">
                                    <span class="u-tags-v1 text-center g-width-145--md g-brd-around g-brd-gray-light-v8 g-bg-gray-light-v8 g-color-gray-dark-v11 g-rounded-50 g-py-4 g-px-15"><span class="g-hidden-md-down">Invite&nbsp;</span>Sent</span>
                                </div>
                            </div>
                        </div>
                       
                        <!-- Invite email and button -->
                        </div>
                    <hr />
                        <div>
                            <label class="g-font-weight-300 g-mb-10">Send Invite by Email</label>
                            <div class="u-tagsinput--v2--gray g-brd-around g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-rounded-4 g-px-6 g-py-5 g-mb-30">
                                <input type="text" value="john.doe@gmail.com, micaela.torp@gmail.com" data-role="tagsinput">
                            </div>
                            <button class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-145 g-font-size-default--md g-py-12" type="submit">Send Invites</button>
                        </div>                   
                    <hr />                     
                        <h4 class="g-font-weight-300 g-font-size-default g-color-black g-mb-10">Share link &amp; invite friends</h4>
                        <div class="media-md align-items-center g-bg-gray-light-v8 g-rounded-4 g-px-20 g-py-10">
                            <span id="copyLink" class="d-inline-block d-md-flex w-100 g-width-auto--md g-text-overflow-ellipsis g-color-gray-dark-v6 g-mb-5 g-mb-0--md">http://htmlstrem.com/645johndoe</span>
                            <a class="js-copy d-flex align-items-center u-link-v5 g-color-lightblue-v3 g-color-lightred-v2--hover ml-auto" href="#!" data-content-target="#copyLink" data-success-text="Copied">
                                <i class="hs-admin-link g-mr-8"></i>
                                Copy Link
                            </a>
                        </div>                 
                </div>
                <!-- Panel 3-->              
            </div>
        </div>
    </div>
</div>