﻿@using NXdrive.Web.Models.Customer
@model Tuple<IEnumerable<ServicePlanDetailModel>, bool>

@foreach (var product in Model.Item1)
{
    <article class="text-center g-brd-around g-color-gray g-brd-gray-light-v5 g-pa-10">
        <div class="g-bg-gray-light-v5 g-pa-30">
            <!-- Article Title -->
            <h4 class="text-uppercase g-color-gray-dark-v3 g-font-weight-500 g-mb-10">@product.Name</h4>

            <!-- End Article Title -->
            <em class="g-font-style-normal">@product.ShortDescription</em>

            <hr class="g-brd-gray-light-v4 g-my-10">

            <div class="g-color-primary g-my-20">
                @if (!Model.Item2)
                {
                    <strong class="d-block g-font-size-30 g-line-height-1_2">Free</strong>
                }
                else
                {
                    <strong class="d-block g-font-size-30 g-line-height-1_2">@product.ProductPrice.Price</strong>
                    <span>per month</span>
                }
            </div>

            <hr class="g-brd-gray-light-v4 g-mt-10 mb-0">

            <ul class="list-unstyled g-mb-25">
                <li class="g-brd-bottom g-brd-gray-light-v4 g-py-12">
                    <b>@product.Capacity</b> Storage Space
                </li>
            </ul>
        </div>
    </article>
}
