﻿@model AddressModel

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}
<input asp-for="Id" type="hidden" />
<div class="form-group row mb-4">
    <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
</div>
<div class="form-group row mb-4">
    <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>
<div class="form-group row mb-4">
    <label asp-for="Email" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>

@if (Model.CompanyEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="Company" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Company" class="form-control" />
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.CountryEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="CountryId" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <select asp-for="CountryId" asp-items="Model.AvailableCountries" class="form-control"></select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
    </div>
}

@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="StateProvinceId" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <select asp-for="StateProvinceId" asp-items="Model.AvailableStates" class="form-control"></select>
            <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
            <span asp-validation-for="StateProvinceId" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.CountyEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="County" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="County" class="form-control" />
            <span asp-validation-for="County" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.CityEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="City" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.StreetAddressEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="Address1" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Address1" class="form-control" />
            <span asp-validation-for="Address1" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.StreetAddress2Enabled)
{
    <div class="form-group row mb-4">
        <label asp-for="Address2" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Address2" class="form-control" />
            <span asp-validation-for="Address2" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.ZipPostalCodeEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="ZipPostalCode" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="ZipPostalCode" class="form-control" />
            <span asp-validation-for="ZipPostalCode" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.PhoneEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="PhoneNumber" class="form-control u-form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
}
@if (Model.FaxEnabled)
{
    <div class="form-group row mb-4">
        <label asp-for="FaxNumber" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="FaxNumber" class="form-control" />
            <span asp-validation-for="FaxNumber" class="text-danger"></span>
        </div>
    </div>
}

@if (Model.CustomAddressAttributes.Count > 0)
{
    @await Html.PartialAsync("_AddressAttributes", Model.CustomAddressAttributes)
}
