﻿<ul class="nav justify-content-center">
    <li class="nav-item">
        <a href="@Url.RouteUrl("HomePage")" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
        <a href="@Url.RouteUrl("ServicePlans")" target="_blank" class="nav-link">Plans</a>
    </li>
    <li class="nav-item">
        <a href="@Url.RouteUrl("HelpCenter")" target="_blank" class="nav-link">Help</a>
    </li>
    <li class="nav-item">
        <a href="@Url.RouteUrl("Term")" target="_blank" class="nav-link">Term</a>
    </li>
</ul>
