﻿@using System.Text.Encodings.Web
@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[$"nop.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(TempData[$"nop.notifications.{NotifyType.Success}"] as IList<string>);
    }
    if (ViewData[$"nop.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(ViewData[$"nop.notifications.{NotifyType.Success}"] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[$"nop.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(TempData[$"nop.notifications.{NotifyType.Error}"] as IList<string>);
    }
    if (ViewData[$"nop.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(ViewData[$"nop.notifications.{NotifyType.Error}"] as IList<string>);
    }


    //warning messages
    var warningMessages = new List<string>();
    if (TempData[$"nop.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(TempData[$"nop.notifications.{NotifyType.Warning}"] as IList<string>);
    }
    if (ViewData[$"nop.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(ViewData[$"nop.notifications.{NotifyType.Warning}"] as IList<string>);
    }
}
@if (successMessages.Count > 0)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            var msg = [ @Html.Raw("'" + string.Join("', '", successMessages.Select(x => JavaScriptEncoder.Default.Encode(x)).ToList()) + "'")];
            displayPopupNotification(msg, 'success', false);
        });
    </script>
}
@if (errorMessages.Count > 0)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            var msg = [ @Html.Raw("'" + string.Join("', '", errorMessages.Select(x => JavaScriptEncoder.Default.Encode(x)).ToList()) + "'")];
            displayPopupNotification(msg, 'error', false);
        });
    </script>
}
@if (warningMessages.Count > 0)
{
    <script asp-location="Footer">
        $(document).ready(function () {
            var msg = [ @Html.Raw("'" + string.Join("', '", warningMessages.Select(x => JavaScriptEncoder.Default.Encode(x)).ToList()) + "'")];
            displayPopupNotification(msg, 'warning', false);
        });
    </script>
}

<div class="ajax-loading-block-window" style="display: none">
</div>
<div id="dialog-notifications-success" class="alert alert-success" role="alert" title="@T("Common.Notification")" style="display:none;">
</div>
<div id="dialog-notifications-error" class="alert alert-danger" role="alert" title="@T("Common.Error")" style="display:none;">
</div>
<div id="dialog-notifications-warning" class="alert alert-warning" role="alert" title="@T("Common.Warning")" style="display:none;">
</div>
<div id="bar-notification" class="bar-notification alert alert-info">
    <span class="close" title="@T("Common.Close")">&nbsp;</span>
</div>
