﻿@model ShoppingCartModel.OrderReviewDataModel
@if (Model.Display)
{
    <div class="order-review-data">
        <div class="billing-info-wrap">
            <div class="billing-info g-mb-50">
                <h5 class="h5 mb-3">
                    @T("Order.BillingAddress")
                </h5>
                <span class="d-block g-color-gray-dark-v3 g-font-weight-600 mb-2">
                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                </span>
                <address class="media">

                    <div class="d-flex mr-3">
                        <span class="u-icon-v1 g-color-gray-dark-v4"><i class="icon-real-estate-027 u-line-icon-pro"></i></span>
                    </div>

                    <div class="media-body g-color-text">

                        <a href="mailto: @Model.BillingAddress.Email">
                            @Model.BillingAddress.Email
                        </a>
                        <br />

                        @if (Model.BillingAddress.CompanyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.Company))
                        {
                            <em>
                                @Model.BillingAddress.Company
                            </em>
                            <br />
                        }
                        @if (Model.BillingAddress.StreetAddressEnabled)
                        {
                            @Model.BillingAddress.Address1
                            <br />
                        }
                        @if (Model.BillingAddress.StreetAddress2Enabled && !string.IsNullOrEmpty(Model.BillingAddress.Address2))
                        {
                            @Model.BillingAddress.Address2
                            <br />
                        }
                        @if (Model.BillingAddress.CityEnabled && !string.IsNullOrEmpty(Model.BillingAddress.City) ||
                 Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County) ||
                 Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) ||
                 Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                        {
                            @if (Model.BillingAddress.CityEnabled && !string.IsNullOrEmpty(Model.BillingAddress.City))
                            {
                                @Model.BillingAddress.City
                                @if (Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County) ||
                         Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) ||
                         Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                {
                                    <text>,</text>
                                }
                            }
                            @if (Model.BillingAddress.CountyEnabled && !string.IsNullOrEmpty(Model.BillingAddress.County))
                            {
                                @Model.BillingAddress.County
                                @if (Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName) ||
                         Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                {
                                    <text>,</text>
                                }
                            }
                            @if (Model.BillingAddress.StateProvinceEnabled && !string.IsNullOrEmpty(Model.BillingAddress.StateProvinceName))
                            {
                                @Model.BillingAddress.StateProvinceName
                                @if (Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                                {
                                    <text>,</text>
                                }
                            }
                            @if (Model.BillingAddress.ZipPostalCodeEnabled && !string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
                            {
                                @Model.BillingAddress.ZipPostalCode
                            }
                            <br />
                        }
                        @if (Model.BillingAddress.CountryEnabled && !string.IsNullOrEmpty(Model.BillingAddress.CountryName))
                        {
                            @Model.BillingAddress.CountryName
                            <br />
                        }
                        @if (!string.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                        {
                            @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                            <br />
                        }
                        @if (Model.CustomValues != null)
                        {
                            foreach (var item in Model.CustomValues)
                            {
                                <span class="label">
                                    @item.Key:
                                </span>
                                <span class="value">
                                    @(item.Value != null ? item.Value.ToString() : "")
                                </span>
                                <br />
                            }
                        }
                    </div>

                    @if (Model.BillingAddress.PhoneEnabled)
                    {
                        <div class="media">
                            <div class="d-flex mr-3">
                                <span class="u-icon-v1 g-color-gray-dark-v4"><i class="icon-electronics-005 u-line-icon-pro"></i></span>
                            </div>
                            <div class="media-body g-color-text">
                                @Model.BillingAddress.PhoneNumber
                            </div>
                        </div>
                    }

                    @if (Model.BillingAddress.FaxEnabled)
                    {
                        <div class="media">
                            <div class="d-flex mr-3">
                                <span class="u-icon-v1 g-color-gray-dark-v4"><i class="icon-electronics-005 u-line-icon-pro"></i></span>
                            </div>
                            <div class="media-body g-color-text">
                                @Model.BillingAddress.FaxNumber
                            </div>
                        </div>
                    }
                </address>
            </div>

            @if (!string.IsNullOrEmpty(Model.PaymentMethod))
            {
                <div class="payment-method-info">
                    <h5 class="h5 mb-3">@T("Order.Payment")
                    </h5>

                    <div class="d-flex justify-content-between mb-2">
                        <span class="g-color-black">@T("Order.Payment.Method")</span>
                        <span class="g-color-black g-font-weight-300">@Model.PaymentMethod</span>
                    </div>
                </div>
            }
        </div>

    </div>
}