﻿@using Nop.Core
@using NXdrive.Web.Models.Customer
@using Nop.Core.Domain.Catalog
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject CatalogSettings catalogSettings
@inject IWorkContext workContext
@model ServicePlanDetailModel
@{
    //prepare "Add to cart" AJAX link
    var addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
}

<article class="h-100 g-pos-rel g-bg-gray-light-v5 g-transform-scale-1_05--hover g-transition-0_3 g-pt-30 g-px-30 g-pb-100">
    <div class="g-bg-gray-light-v5 g-px-30 g-py-60">

        <h4 class="g-color-black g-font-size-16 g-font-weight-700">@Model.Name</h4>

        <hr class="g-brd-2 g-mt-15 g-mb-7">

        @if (Model.ProductPrice.PriceValue == Decimal.Zero)
        {
            <strong class="d-block g-color-black g-font-size-32 g-font-weight-700 g-mb-35">
                Free
            </strong>
        }
        else
        {
            <strong class="d-block g-color-black g-font-size-32 g-font-weight-700 g-mb-35">
                @Model.ProductPrice.Price
            </strong>
        }

        <p class="g-mb-15">@Html.Raw(Model.ShortDescription)</p>
        <hr class="g-brd-2 g-mt-7 g-mb-30">

        <ul class="list-unstyled g-mb-20">
            <li class="g-mb-10">
                <i class="fa fa-check-circle g-color-primary g-mr-5"></i>
                <span>@Model.Capacity</span>GB of storage space
            </li>
            @if (Model.IsTwoLayerEncryption)
            {
                <li class="g-mb-10">
                    <i class="fa fa-check-circle g-color-primary g-mr-5"></i>
                    Two layer encryption
                </li>
            }
            @if (Model.IsFileShareAllowed)
            {
                <li class="g-mb-10">
                    <i class="fa fa-check-circle g-color-primary g-mr-5"></i>
                    File share allowed
                </li>
            }
            @if (Model.IsFileSynchroizationEnabled)
            {
                <li class="g-mb-10">
                    <i class="fa fa-check-circle g-color-primary g-mr-5"></i>
                    File synchroization enabled
                </li>
            }

        </ul>

        <footer class="g-pos-abs g-bottom-0 g-left-0 g-right-0 g-pa-30">
            @if (Model.IsEnrolled)
            {
                <span class="btn w-100 u-btn-outline-primary g-brd-2 g-rounded-50 g-font-weight-700 g-pa-15-30">Enrolled</span>
            }
            else
            {
                var addToCartText = "Checkout";
                if (Model.IsUpgradeOption)
                {
                    addToCartText = "Upgrade";
                }
                <input type="button" value="@(addToCartText)" 
                       class="btn w-100 u-btn-outline-primary g-brd-2 g-rounded-50 g-font-weight-700 g-pa-15-30"
                       onclick="AjaxCart.addproducttocart_catalog('@addtocartlink');return false;" />
            }
        </footer>
    </div>
</article>
