﻿<div id="replyPrivateMessageModal" class="js-modal-window u-modal-window" style="width: 680px;">
    <form class="card mb-9" id="reply-private-message-form">
        <header class="card-header bg-light py-3 px-5">
            <div class="row justify-content-between align-items-center no-gutters">
                <div class="col-9">
                    <h5 class="text-secondary">
                        <i class="fas fa-envelope text-primary mr-1"></i>
                        <span class="header-title">Reply Private Message</span>
                    </h5>
                </div>
                <div class="col-3 text-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" onclick="Custombox.modal.close();">
                                <span class="fas fa-times btn-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="card-body pt-3 pb-5 px-5">
            <div class="alert alert-danger" style="display:none;" role="alert">
            </div>

            <nop-antiforgery-token />

            <input type="hidden" name="ReplyToMessageId" value="0" />
            <input type="hidden" name="ToCustomerId" value="0" />
            <input class="form-control mb-4" name="Subject" placeholder="Message title">
            <textarea class="form-control" name="Message" rows="3" placeholder="Message body" aria-label="Message body"></textarea>
            <hr class="my-4">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">
                    <i class="far fa-paper-plane mr-2"></i>
                    Send
                </button>
                <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover" onclick="Custombox.modal.close();">
                    <i class="fas fa-times-circle mr-2"></i>
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>