@{
    Layout = "_Root4SignedInUser.Head";
}
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<main>
    <!-- Header -->
    <vc:zenith-header version="SignedInUser"></vc:zenith-header>

    @RenderBody()

    <!--<vc:zenith-footer version="default"></vc:zenith-footer>-->

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{

     "bottom": 15,

     "right": 15

   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
    @await Component.InvokeAsync("EuCookieLaw")
</main>

<div class="u-outer-spaces-helper"></div>

@await Component.InvokeAsync("EuCookieLaw")