﻿@{
    Layout = "_Root.Head";
}
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<main class="master-wrapper-page">

    <vc:zenith-header version="DefaultV1"></vc:zenith-header>

    @RenderBody()

    <!-- Default footer -->
    <vc:zenith-footer version="DefaultV1"></vc:zenith-footer>

    <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{

     "bottom": 15,

     "right": 15

   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
        <i class="hs-icon hs-icon-arrow-top"></i>
    </a>

</main>

<div class="u-outer-spaces-helper"></div>

@await Component.InvokeAsync("EuCookieLaw")

