@{
    Layout = "_Root4FrontTheme.Head";
}
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<main id="content" role="main">
    <!-- Header -->
    <vc:zenith-header version="FrontTheme"></vc:zenith-header>

    @RenderBody()

    <vc:zenith-footer version="FrontTheme"></vc:zenith-footer>

    @await Component.InvokeAsync("EuCookieLaw")
</main>

<div class="u-outer-spaces-helper"></div>

@await Component.InvokeAsync("EuCookieLaw")