﻿@using Nop.Core
@using Nop.Core.Domain
@using StackExchange.Profiling
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@using Nop.Services.Events
@using Nop.Services.Localization
@using Nop.Services.Security
@using Nop.Web.Framework.Events

@inject CommonSettings commonSettings
@inject IEventPublisher eventPublisher
@inject IPermissionService permissionService
@inject IWorkContext workContext
@inject SeoSettings seoSettings
@inject StoreInformationSettings storeInformationSettings
@{
    <!-- Css parts -->

    <!-- CSS Global Compulsory -->
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/vendor/bootstrap/bootstrap.min.css");

    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/vendor/icon-awesome/css/font-awesome.min.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/vendor/icon-hs/style.css");

    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/vendor/animate.css");

    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/unify-core.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/unify-components.css");
    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/unify-globals.css");

    Html.AddCssFileParts(ResourceLocation.Head, "~/assets-v2.x/css/custom.css");

    //************************************************************************
    //* Third parties
    //************************************************************************

    // page loading
    Html.AddCssFileParts(ResourceLocation.Head, "~/node_modules/pace-progress/themes/pink/pace-theme-minimal.css");

    // NXdrive-specific css
    Html.AddCssFileParts(ResourceLocation.Head, "~/css/site.css");

    // Scripts


    // Nop-specific scripts for shopping cart and other notification UIs
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.ajaxcart.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.js");

    // Third party features
    Html.AppendScriptParts(ResourceLocation.Footer, "~/node_modules/pace-progress/pace.js");

    // Unify customization
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/js/custom.js");

    Html.AppendScriptParts(ResourceLocation.Footer, "~/node_modules/rxjs/bundles/rxjs.umd.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/node_modules/systemjs/dist/system.js");

    // Unify core
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/js/components/hs.go-to.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/js/helpers/hs.hamburgers.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/js/components/hs.header.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/js/hs.core.js");

    // Vendor 
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/hs-megamenu/src/hs.megamenu.js");

    // todo: The following three, particularly the unobtrusive validation packages, may be needed anyway.
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jquery.validate.min.js");

    // JS Global Compulsory
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/bootstrap/bootstrap.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/popper.js/popper.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/assets-v2.x/vendor/jquery-migrate/jquery-migrate.min.js");

    //jQuery is the only js file in the head. if we decide to move it to the footer, then ensure that all inline scripts (with jQuery usage) with are also moved to the footer
    //the issue that it's not possible in some cases (e.g. "Edit address", when Ajax request is made on one-page checkout)
    Html.AppendScriptParts(ResourceLocation.Head, "~/assets-v2.x/vendor/jquery/jquery.min.js");
    //X-UA-Compatible tag
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts($"<meta http-equiv=\"X-UA-Compatible\" content=\"{commonSettings.XuaCompatibleValue}\"/>");
    }
    //custom tag(s);
    if (!string.IsNullOrEmpty(seoSettings.CustomHeadTags))
    {
        Html.AppendHeadCustomParts(seoSettings.CustomHeadTags);
    }
    var displayMiniProfiler = storeInformationSettings.DisplayMiniProfilerInPublicStore
        && (!storeInformationSettings.DisplayMiniProfilerForAdminOnly || permissionService.Authorize(StandardPermissionProvider.AccessAdminPanel));
    //event
    eventPublisher.Publish(new PageRenderingEvent(this.Html));
}
<!DOCTYPE html>
<html lang="@workContext.WorkingLanguage.GetTwoLetterIsoLanguageName()" @(this.ShouldUseRtlTheme() ? Html.Raw(" dir=\"rtl\"") : null) @Html.NopPageCssClasses()>
<head>
    <title>@Html.NopTitle()</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="NXDrive" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @await Html.PartialAsync("Head")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeadHtmlTag })
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ek+Mukta%3A400%2C600%2C700%7CNiconne%7COpen+Sans%3A300%2C400%2C600%2C700%2C800%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    @await Component.InvokeAsync("Favicon")
    @if (displayMiniProfiler)
    {
        <mini-profiler />
    }
    @Html.NopInlineScripts(this.Url, ResourceLocation.Head)
</head>
<body style="overflow-y:auto;">

    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Footer)
    @Html.NopScripts(this.Url, ResourceLocation.Footer)
    @Html.NopInlineScripts(this.Url, ResourceLocation.Footer)

</body>
</html>