﻿<div id="sendPrivateMessageModal" class="js-modal-window u-modal-window" style="width: 680px;">
    <form class="card mb-9 send-new-message" id="send-private-message-form">
        <header class="card-header bg-light py-3 px-5">
            <div class="row justify-content-between align-items-center no-gutters">
                <div class="col-9">
                    <h5 class="text-secondary">
                        <i class="fas fa-envelope text-primary mr-1"></i>
                        <span class="header-title">Send Private Message</span>
                    </h5>
                </div>

                <div class="col-3 text-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" onclick="Custombox.modal.close();">
                                <span class="fas fa-times btn-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="card-body pt-3 pb-5 px-5">

            <div class="alert alert-danger" style="display:none;" role="alert">
            </div>

            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <h6 class="alert-heading">Growing your contacts!</h6>
                To include an email in your contact list, you may
                <a href="@Url.RouteUrl("CustomerContacts", new { onpageready = "open-invitation-modal" })" class="alert-link">
                    send a friend request
                </a>
                to this email.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <nop-antiforgery-token />

            <select id="receipentPicker" name="ToCustomerId" class="selectpicker with-ajax form-control mb-4" title="Select a contact" data-live-search="true">
                <option value="0"></option>
            </select>

            <input class="form-control mb-4" name="Subject" placeholder="Message title">
            <textarea class="form-control" name="Message" rows="3" placeholder="Message body" aria-label="Message body"></textarea>

            <hr class="my-4">

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-sm btn-primary transition-3d-hover mr-1">
                    <i class="far fa-paper-plane mr-1"></i>
                    Send
                </button>
                <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover" onclick="Custombox.modal.close();">
                    <i class="fas fa-times-circle mr-1"></i>
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>

<script asp-location="Footer">

    $(document).ready(function () {

        var payload = {
            name: '{{{q}}}',
            onlyUser: true
        };

        addAntiForgeryToken(payload);

        var options = {
            ajax: {
                url: '@Url.RouteUrl("CustomerContactLiveSearch")',
                type: 'POST',
                dataType: 'json',
                // Use "{{{q}}}" as a placeholder and Ajax Bootstrap Select will
                // automatically replace it with the value of the search query.
                data: payload
            },
            locale: {
                emptyTitle: 'Select a contact'
            },
            log: 3,
            preprocessData: function (data) {
                var i, l = data.length, array = [];
                if (l) {
                    for (i = 0; i < l; i++) {
                        array.push($.extend(true, data[i], {
                            text: data[i].userName ? (data[i].text + '(' + data[i].userName + ')') : data[i].text,
                            value: data[i].customerId,
                            data: {
                            }
                        }));
                    }
                }
                // You must always return a valid array when processing data. The
                // data argument passed is a clone and cannot be modified directly.
                return array;
            }
        };
        $('#receipentPicker').selectpicker().filter('.with-ajax').ajaxSelectPicker(options);
        $('select').trigger('change');
    });

</script>