﻿@model PrivateMessageModel

<div class="message-box" data-message-id="@Model.Id">
    <div class="media mb-3">
        <div class="u-avatar mr-3">
            <img class="img-fluid rounded-circle" src="@Model.CustomProperties["AvatarUrl"]" alt="@Model.CustomerToName">
        </div>
        <div class="media-body">
            <h4 class="d-inline-block mb-1">
                <a class="d-block h6 mb-0" href="#">@Model.CustomerToName</a>
            </h4>
            <small class="d-block text-muted">@Model.CreatedOn</small>
        </div>
    </div>

    <h4 class="h6">
        @Model.Subject
        @if (!Model.IsRead)
        {
            <span class="badge badge-info badge-pill">Not read yet</span>
        }
    </h4>

    <p>@Html.Raw(Model.Message)</p>

    <ul class="list-inline d-flex justify-content-end">
        <li class="list-inline-item">
            <button type="button"
                    class="btn-link btn btn-sm text-secondary ladda-button standalone-btn delete-sent-message"
                    data-ladda-wrapper-id="delete-@Model.Id"
                    data-message-id="@Model.Id"
                    data-color="purple"
                    data-style="expand-right">
                <span class="ladda-label">
                    <i class="far fa-trash-alt mr-1"></i>
                    Delete
                </span>
            </button>
        </li>
    </ul>

    <hr class="my-6">

</div>
