﻿<style>
    .bootstrap-tagsinput {
        width: 100%;
        padding: 0.25rem 1rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2.5;
        color: #1e2022;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d5dae2;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .bootstrap-tagsinput .tag {
        color: black;
        border: 1px solid #efb225;
        border-radius: 5px;
        padding: 5px 10px;
    }
</style>

<div id="sendEmailModal" class="js-modal-window u-modal-window" style="width: 680px;">
    <form class="card mb-9" id="send-email-form">

        <header class="card-header bg-light py-3 px-5">
            <div class="row justify-content-between align-items-center no-gutters">
                <div class="col-9">
                    <h5 class="text-secondary">
                        <i class="fas fa-user-friends text-primary mr-1"></i>
                        <span class="header-title">Send Emails</span>
                    </h5>
                </div>

                <div class="col-3 text-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-0">
                            <a class="btn btn-sm btn-icon btn-soft-secondary btn-bg-transparent" href="javascript:;" onclick="Custombox.modal.close();">
                                <span class="fas fa-times btn-icon__inner"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="card-body pt-3 pb-5 px-5">
            <div class="alert alert-danger" style="display:none;" role="alert">
            </div>
            
            <nop-antiforgery-token />
            <input class="multiple-emails" name="Emails" placeholder="Emails">
            <textarea class="form-control" name="PersonalMessage" rows="3" placeholder="Personalize your message here" aria-label="Message body"></textarea>
            <hr class="my-4">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-primary transition-3d-hover mr-1 submit-btn">
                    <i class="far fa-paper-plane mr-2"></i>
                    Send
                </button>
                <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover" onclick="Custombox.modal.close();">
                    <i class="fas fa-times-circle mr-2"></i>
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>