﻿@model AlertBoxModel
@using NXdrive.Web.Models.Shared
@{
    Layout = "_Root4LightPage";

    //title
    Html.AddTitleParts("Message");
    //page class
    Html.AppendPageCssClassParts("message-page");

}
<section class="container g-py-100--md">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-9 col-lg-6">
            <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30">
                <header class="text-center mb-4">
                    <vc:zenith-logo version="Default"></vc:zenith-logo>
                    <h3 class="h3 g-color-black g-font-weight-600 mt-4">@Model.Title</h3>
                </header>

                @{
                    // Compute alert class and icon class
                    var alertTypeClass = string.Empty;
                    var alertIconClass = string.Empty;

                    switch (Model.AlertType)
                    {
                        case AlertBoxModel.AlertTypeEnum.Success:
                            alertTypeClass = "alert-success";
                            alertIconClass = "fa-check-circle-o";
                            break;

                        case AlertBoxModel.AlertTypeEnum.Info:
                            alertTypeClass = "alert-info";
                            alertIconClass = "fa-info-circle";
                            break;

                        case AlertBoxModel.AlertTypeEnum.Warning:
                            alertTypeClass = "alert-warning";
                            alertIconClass = "fa-exclamation-triangle";
                            break;

                        case AlertBoxModel.AlertTypeEnum.Error:
                            alertTypeClass = "alert-danger";
                            alertIconClass = "fa-minus-circle";
                            break;
                    }
                }

                <div class="alert @alertTypeClass fade show g-my-50" role="alert">
                    <h4 class="h5">
                        <i class="fa @alertIconClass"></i>
                        @Model.Opening
                    </h4>
                    <p class="g-mb-10">
                        @Model.Message
                    </p>

                    @foreach (var action in Model.ActionList)
                    {
                        <a href="@action.Item2" class="btn u-btn-darkgray btn-xs rounded-0">
                            <i class="fa fa-cog g-mr-2"></i>
                            @action.Item1
                        </a>
                    }
                </div>
            </div>
            @await Html.PartialAsync("_FooterLinks4LightPage")
        </div>
    </div>
</section>
