﻿@model List<Polpware.NopExt.Presentation.SubsPlan.Models.OrderDetailsModel>
@{
    Layout = "_Root4FrontTheme";
}
<div class="bg-primary">
    <div class="container space-top-1 pb-3">
        <div class="row">
            <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
                <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
                    <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                        <li class="breadcrumb-item"><a class="breadcrumb-link" href="@Url.RouteUrl("CustomerDashboard")">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Billing</li>
                    </ol>

                    <div class="d-lg-none">
                        <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="breadcrumbNavBar"
                                data-toggle="collapse"
                                data-target="#breadcrumbNavBar">
                            <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                                <span class="u-hamburger__inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-lg-1">
                <vc:zenith-customer-avatar version="FrontThemeV1"></vc:zenith-customer-avatar>
            </div>
        </div>
    </div>
    <div class="container space-bottom-1 space-bottom-lg-0">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
            <vc:zenith-customer-navigation skip-model="true" selected="0" version="FrontTheme"></vc:zenith-customer-navigation>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="container space-2">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h4 mb-0 mb-4">My Transactions</h2>

                <div class="row">
                    <div class="col col-lg-12 g-ml-45 g-ml-0--lg g-pb-65--md">

                        <div class="card p-4">
                            <div class="py-4 px-0 mx-4">
                                <!-- Activity Menu -->
                                <div class="row justify-content-sm-between align-items-sm-center">
                                    <div class="col-md-5 col-lg-4 mb-2 mb-md-0">
                                        <!-- Datepicker -->
                                        <div id="datepickerWrapper" class="js-focus-state u-datepicker w-auto input-group input-group-sm">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <span class="fas fa-calendar"></span>
                                                </span>
                                            </div>
                                            <input type="text" class="js-range-datepicker form-control bg-white rounded-right"
                                                   data-rp-wrapper="#datepickerWrapper"
                                                   data-rp-type="range"
                                                   data-rp-date-format="d M Y"
                                                   data-rp-default-date='["05 Jul 2018", "19 Jul 2018"]'
                                                   data-rp-is-disable-future-dates="true">
                                        </div>
                                        <!-- End Datepicker -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex">
                                            <div class="mr-2">
                                                <!-- Select -->
                                                <select id="datatableEntries" class="js-select selectpicker dropdown-select" data-width="fit" data-style="btn-soft-primary btn-sm">
                                                    <option value="6">6 entries</option>
                                                    <option value="12" selected>12 entries</option>
                                                    <option value="18">18 entries</option>
                                                    <option value="24">24 entries</option>
                                                </select>
                                                <!-- End Select -->
                                            </div>
                                            <!-- Search -->
                                            <div class="js-focus-state input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="searchActivities">
                                                        <span class="fas fa-search"></span>
                                                    </span>
                                                </div>
                                                <input id="datatableSearch" type="email" class="form-control" placeholder="Search activities" aria-label="Search activities" aria-describedby="searchActivities">
                                            </div>
                                            <!-- End Search -->
                                        </div>
                                    </div>
                                </div>
                                <!-- End Activity Menu -->
                            </div>
                        </div>





                        <!-- Card -->
                        @if (Model.Count > 0)
                        {
                            <div id="paymentDetails" class="accordion">
                                @foreach (var transaction in Model)
                                {
                                    <div class="card">
                                        <div class="card-header card-collapse" id="cardHeading@(transaction.Id)">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link btn-block card-btn collapsed p-3" role="button"
                                                        data-toggle="collapse"
                                                        data-target="#card@(transaction.Id)"
                                                        aria-expanded="false"
                                                        aria-controls="card@(transaction.Id)">
                                                    <span class="row align-items-center">
                                                        <span class="col-md-6 mb-2 mb-md-0">
                                                            <span class="media align-items-center">
                                                                <img class="max-width-9 mr-3" src="~/assets-front-v2.x/svg/icons/icon-white-60.svg" alt="Bills">
                                                                <span class="media-body">
                                                                    <span class="font-size-1">@transaction.MaskedCreditCardNumber</span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                        <span class="col-6 col-md-3">
                                                            <span class="d-block font-size-1">@transaction.CreatedOn</span>
                                                        </span>
                                                        <span class="col-2 col-md-1 text-right">
                                                            <span class="card-btn-arrow">
                                                                <span class="fas fa-arrow-down small"></span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="card@(transaction.Id)" class="collapse in" aria-labelledby="cardHeadingOne" data-parent="#paymentDetails">
                                            <div class="card-body px-4">
                                                <!-- Card Details -->
                                                <div class="row">
                                                    <div class="col-sm-7 mb-2 mb-sm-0">
                                                        <h4 class="h6 mb-1"><strong>Plan:</strong> @transaction.Items.FirstOrDefault().ProductName</h4>
                                                        <span class="d-block font-size-1 mb-1">@transaction.Items.FirstOrDefault().UnitPrice</span>
                                                        <p class="small">
                                                            <a class="fas fa-info-circle mr-1" href="@Url.RouteUrl("ProductPlans")" target="_blank">
                                                                plan benefits
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="col-sm-5 mb-2 mb-sm-0">
                                                        <h5 class="h6 mb-0"><strong>Billing address:</strong></h5>
                                                        <h5 class="h6">@transaction.CustomerData.FirstName @transaction.CustomerData.LastName</h5>
                                                        <address class="font-size-1">
                                                            @transaction.BillingAddress.Address1,
                                                            @transaction.BillingAddress.Address2<br>
                                                            @transaction.BillingAddress.City,@transaction.BillingAddress.StateProvinceName,     @transaction.BillingAddress.ZipPostalCode<br>
                                                            @transaction.BillingAddress.CountryName
                                                        </address>
                                                        <a class="btn btn-xs btn-primary" href="@Url.RouteUrl("Invoice")" target="_blank">Print</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12 mb-7">
                                    <div class="text-center px-lg-3">
                                        <span class="btn btn-icon btn-lg btn-soft-primary rounded-circle mb-5">
                                            <span class="fas fa-fire btn-icon__inner fa-2x btn-icon__inner-bottom-minus"></span>
                                        </span>
                                        <p class="mb-md-0">You don't have any transactions at this moment.</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <div class="accordion">
                <div class="card"></div>
            </div>
        </div>

        <!--Add activity table-->
        <!--End activity table-->
        <!-- Content Section -->
        @*<div class="bg-light">
            <div class="container space-2">
                <div class="card">
                    <div class="card-header py-4 px-0 mx-4">
                        <!-- Activity Menu -->
                        <div class="row justify-content-sm-between align-items-sm-center">
                            <div class="col-md-5 col-lg-4 mb-2 mb-md-0">
                                <!-- Datepicker -->
                                <div id="datepickerWrapper" class="js-focus-state u-datepicker w-auto input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-calendar"></span>
                                        </span>
                                    </div>
                                    <input type="text" class="js-range-datepicker form-control bg-white rounded-right"
                                           data-rp-wrapper="#datepickerWrapper"
                                           data-rp-type="range"
                                           data-rp-date-format="d M Y"
                                           data-rp-default-date='["05 Jul 2018", "19 Jul 2018"]'
                                           data-rp-is-disable-future-dates="true">
                                </div>
                                <!-- End Datepicker -->
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex">
                                    <div class="mr-2">
                                        <!-- Select -->
                                        <select id="datatableEntries" class="js-select selectpicker dropdown-select" data-width="fit" data-style="btn-soft-primary btn-sm">
                                            <option value="6">6 entries</option>
                                            <option value="12" selected>12 entries</option>
                                            <option value="18">18 entries</option>
                                            <option value="24">24 entries</option>
                                        </select>
                                        <!-- End Select -->
                                    </div>
                                    <!-- Search -->
                                    <div class="js-focus-state input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="searchActivities">
                                                <span class="fas fa-search"></span>
                                            </span>
                                        </div>
                                        <input id="datatableSearch" type="email" class="form-control" placeholder="Search activities" aria-label="Search activities" aria-describedby="searchActivities">
                                    </div>
                                    <!-- End Search -->
                                </div>
                            </div>
                        </div>
                        <!-- End Activity Menu -->
                    </div>
                    <div class="card-body p-4">
                        <!-- Activity Table -->
                        <div class="table-responsive-md u-datatable">
                            <table class="js-datatable table table-borderless u-datatable__striped u-datatable__content u-datatable__trigger mb-5"
                                   data-dt-info="#datatableInfo"
                                   data-dt-search="#datatableSearch"
                                   data-dt-entries="#datatableEntries"
                                   data-dt-page-length="12"
                                   data-dt-is-responsive="false"
                                   data-dt-is-show-paging="true"
                                   data-dt-details-invoker=".js-datatabale-details"
                                   data-dt-select-all-control="#invoiceToggleAllCheckbox"
                                   data-dt-pagination="datatablePagination"
                                   data-dt-pagination-classes="pagination mb-0"
                                   data-dt-pagination-items-classes="page-item"
                                   data-dt-pagination-links-classes="page-link"
                                   data-dt-pagination-next-classes="page-item"
                                   data-dt-pagination-next-link-classes="page-link"
                                   data-dt-pagination-next-link-markup='<span aria-hidden="true">&raquo;</span>'
                                   data-dt-pagination-prev-classes="page-item"
                                   data-dt-pagination-prev-link-classes="page-link"
                                   data-dt-pagination-prev-link-markup='<span aria-hidden="true">&laquo;</span>'>
                                <thead>
                                    <tr class="text-uppercase font-size-1">
                                        <th scope="col">
                                            <div class="custom-control custom-checkbox d-flex align-items-center">
                                                <input type="checkbox" class="custom-control-input" id="invoiceToggleAllCheckbox">
                                                <label class="custom-control-label" for="invoiceToggleAllCheckbox">
                                                    <span class="text-hide">Checkbox</span>
                                                </label>
                                            </div>
                                        </th>
                                        <th scope="col" class="font-weight-medium">
                                            <div class="d-flex justify-content-between align-items-center">
                                                Order
                                                <div class="ml-2">
                                                    <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                                    <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="font-weight-medium">
                                            <div class="d-flex justify-content-between align-items-center">
                                                Plan
                                                <div class="ml-2">
                                                    <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                                    <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="font-weight-medium">
                                            <div class="d-flex justify-content-between align-items-center">
                                                Price
                                                <div class="ml-2">
                                                    <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                                    <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="font-weight-medium">
                                            <div class="d-flex justify-content-between align-items-center">
                                                Date
                                                <div class="ml-2">
                                                    <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                                    <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                                                </div>
                                            </div>
                                        </th>
                                        <th scope="col" class="font-weight-medium">
                                            <div class="d-flex justify-content-between align-items-center">
                                                Status
                                                <div class="ml-2">
                                                    <span class="fas fa-angle-up u-datatable__thead-icon"></span>
                                                    <span class="fas fa-angle-down u-datatable__thead-icon"></span>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="font-size-1">
                                    <tr class="js-datatabale-details" data-details='
                    <div class="border rounded p-5">
                      <h4 class="h3">Invoice</h4>

                      <div class="row mb-6">
                        <div class="col-3">
                          <span class="text-secondary">Date:</span>
                          <span class="font-weight-medium">05 May, 2018</span>
                        </div>
                        <div class="col-3">
                          <span class="text-secondary">Plan:</span>
                          <span class="font-weight-medium">Business</span>
                        </div>
                        <div class="col-6">
                          <span class="text-secondary">Authorization code:</span>
                          <span class="font-weight-medium">128746739419</span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <h5 class="text-dark font-size-1 text-uppercase">Billing address:</h5>
                          <address class="text-secondary">
                            <h6 class="h5 text-dark">Tom Harderson</h6>
                            Flat 60, Ross Green, South Lilyberg, Q7M 8ZV
                          </address>
                        </div>

                        <div class="col-sm-6">
                          <h5 class="text-dark font-size-1 text-uppercase">Customer Info</h5>++`
                          <ul class="list-unstyled mb-0">
                            <li class="mb-2">
                              <span class="text-secondary">First name:</span>
                              <span class="font-weight-medium">Natalie</span>
                            </li>
                            <li class="mb-2">
                              <span class="text-secondary">Last name:</span>
                              <span class="font-weight-medium">Curtis</span>
                            </li>
                            <li class="mb-2">
                              <span class="text-secondary">Country:</span>
                              <span class="font-weight-medium">England</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="row justify-content-end mb-4">
                        <div class="col-sm-6">
                          <hr class="my-4">

                          <h5 class="text-dark font-size-1 text-uppercase">Transaction details:</h5>
                          <ul class="list-unstyled mb-0">
                            <li class="d-flex justify-content-between align-items-center mb-2">
                              <span class="text-secondary">Transaction amount</span>
                              <span class="font-weight-medium">$9.00</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center mb-2">
                              <span class="text-secondary">Tax</span>
                              <span class="font-weight-medium">$0.50</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center mb-2">
                              <span class="text-secondary">Total amount</span>
                              <span class="text-primary font-weight-medium">$9.37</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <ul class="list-inline mb-0">
                        <li class="list-inline-item u-ver-divider pr-3 mr-3">
                          <a href="#">
                            <span class="fas fa-file-word text-secondary mr-1"></span>
                            Download invoice
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <span class="fas fa-print text-secondary mr-1"></span>
                            Print details
                          </a>
                        </li>
                      </ul>
                    </div>'>
                    <td class="align-middle">
                      <div class="custom-control custom-checkbox d-flex align-items-center">
                        <input type="checkbox" class="custom-control-input" id="invoiceCheckbox01">
                        <label class="custom-control-label" for="invoiceCheckbox01">
                          <span class="text-hide">Checkbox</span>
                        </label>
                      </div>
                    </td>
                    <td class="align-middle text-secondary font-weight-normal u-datatable__trigger-icon">FR001</td>
                    <td class="align-middle">
                      <div class="media align-items-center">
                        <span class="btn btn-sm btn-icon btn-soft-success rounded-circle mr-2">
                          <span class="btn-icon__inner font-weight-medium">S</span>
                        </span>
                        <span>Business Plan</span>
                      </div>
                    </td>
                    <td class="align-middle text-primary">$9.00</td>
                    <td class="align-middle text-secondary">05 May</td>
                    <td class="align-middle text-danger">Rejected</td>
                  </tr>
                                    <tr class="js-datatabale-details" data-details='
                    <div class="border rounded p-5">
                      <h4 class="h3">Invoice</h4>

                      <div class="row mb-6">
                        <div class="col-3">
                          <span class="text-secondary">Date:</span>
                          <span class="font-weight-medium">12 May, 2018</span>
                        </div>
                        <div class="col-3">
                          <span class="text-secondary">Merchant:</span>
                          <span class="font-weight-medium">Dropbox</span>
                        </div>
                        <div class="col-6">
                          <span class="text-secondary">Authorization code:</span>
                          <span class="font-weight-medium">901274182319</span>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                          <h5 class="text-dark font-size-1 text-uppercase">Billing address:</h5>
                          <address class="text-secondary">
                            <h6 class="h5 text-dark">Dropbox</h6>
                            Flat 60, Ross Green, South Lilyberg, Q7M 8ZV
                          </address>
                        </div>

                        <div class="col-sm-6">
                          <h5 class="text-dark font-size-1 text-uppercase">Client info:</h5>
                          <ul class="list-unstyled mb-0">
                            <li class="mb-2">
                              <span class="text-secondary">First name:</span>
                              <span class="font-weight-medium">Natalie</span>
                            </li>
                            <li class="mb-2">
                              <span class="text-secondary">Last name:</span>
                              <span class="font-weight-medium">Curtis</span>
                            </li>
                            <li class="mb-2">
                              <span class="text-secondary">Country:</span>
                              <span class="font-weight-medium">England</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <div class="row justify-content-end mb-4">
                        <div class="col-sm-6">
                          <hr class="my-4">

                          <h5 class="text-dark font-size-1 text-uppercase">Transaction details:</h5>
                          <ul class="list-unstyled mb-0">
                            <li class="d-flex justify-content-between align-items-center mb-2">
                              <span class="text-secondary">Transaction amount</span>
                              <span class="font-weight-medium">$257.93</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center mb-2">
                              <span class="text-secondary">Fee</span>
                              <span class="font-weight-medium">$0.50</span>
                            </li>
                            <li class="d-flex justify-content-between align-items-center mb-2">
                              <span class="text-secondary">Total amount</span>
                              <span class="text-primary font-weight-medium">$257.43</span>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <ul class="list-inline mb-0">
                        <li class="list-inline-item u-ver-divider pr-3 mr-3">
                          <a href="#">
                            <span class="fas fa-file-word text-secondary mr-1"></span>
                            Download invoice
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a href="#">
                            <span class="fas fa-print text-secondary mr-1"></span>
                            Print details
                          </a>
                        </li>
                      </ul>
                    </div>'>
                    <td class="align-middle">
                      <div class="custom-control custom-checkbox d-flex align-items-center">
                        <input type="checkbox" class="custom-control-input" id="invoiceCheckbox02">
                        <label class="custom-control-label" for="invoiceCheckbox02">
                          <span class="text-hide">Checkbox</span>
                        </label>
                      </div>
                    </td>
                    <td class="align-middle text-secondary font-weight-normal u-datatable__trigger-icon">FR002</td>
                    <td class="align-middle">
                      <div class="media align-items-center">
                        <span class="btn btn-sm btn-icon btn-soft-primary rounded-circle mr-2">
                          <span class="btn-icon__inner font-weight-medium">D</span>
                        </span>
                        <span>Dropbox</span>
                      </div>
                    </td>
                    <td class="align-middle text-primary">$257.93</td>
                    <td class="align-middle text-secondary">12 May</td>
                    <td class="align-middle text-success">Completed</td>
                  </tr>
                                    
                                    
                                    
                                    
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- End Activity Table -->
                        <!-- Pagination -->
                        <div class="d-flex align-items-center">
                            <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                            <small id="datatableInfo" class="text-secondary ml-auto"></small>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>*@
        <!-- End Content Section -->

    </div>
</div>