﻿@model List<Polpware.NopExt.Presentation.SubsPlan.Models.OrderDetailsModel>
@{
    Layout = "_Root4FrontTheme";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

<body>
    <!-- ========== MAIN ========== -->
    <main id="dom-to-print" role="main">
        <!-- Invoice Section -->
        <div class="container space-2 px-md-7 px-lg-11">
            <div class="card bg-img-hero" style="background-image: url(/assets-front-v2.x/svg/components/bg-elements-6.svg);">
                <div class="card-body p-5 p-md-7 p-lg-11">
                    <div class="row justify-content-lg-between align-items-sm-center mb-11">
                        <div class="col-sm-6 col-lg-6 order-sm-2 text-sm-right mb-5 mb-sm-0">
                            <h1 class="h2 font-weight-medium mb-0">
                                Invoice
                                <small class="d-block h5"><span class="text-muted">Order No.</span> 0043128641</small>
                            </h1>
                        </div>
                        <div class="col-sm-6 col-lg-6 order-sm-1">
                            <!-- Logo -->
                            <img class="mb-2" src="~/img/logo/InfoBeyondLogo_100.png" alt="Logo">
                            <h2 class="h1 text-primary font-weight-semi-bold">InfoBeyond Technology LLC.</h2>
                            <!-- End Logo -->
                            <!-- Address -->
                            <address>
                                320 Whittington PKWY, STE 117,
                                Louisville, KY, USA 40222-4917
                            </address>
                            <small class="d-block text-muted">Telephone: 502.371.0909</small>
                            <!-- End Address -->
                        </div>
                    </div>
                    <!-- Bill To -->
                    <div class="row justify-content-md-between mb-7">
                        <div class="col-md-5 col-lg-4">
                            <h3 class="h5">Bill to:</h3>
                            <span class="d-block">Sara Williams</span>gi
                            <address class="text-secondary mb-0">
                                280 Suzanne Throughway, Breannabury, OR 45801, United States
                            </address>
                        </div>
                        <div class="col-md-5 col-lg-4 mt-6">
                            <dl class="row mb-0">
                                <dt class="col-5 col-md-6 font-weight-normal text-secondary">Invoice date:</dt>
                                <dd class="col-7 col-md-6 font-weight-medium">05 May, 2018</dd>
                            </dl>
                            <dl class="row mb-0">
                                <dt class="col-5 col-md-6 font-weight-normal text-secondary">Expire date:</dt>
                                <dd class="col-7 col-md-6 font-weight-medium">05 May, 2019</dd>
                            </dl>
                        </div>
                    </div>
                    <!-- End Bill To -->
                    <!-- Table -->
                    <table class="table table-heighlighted font-size-1 mb-9">
                        <thead>
                            <tr class="text-uppercase text-secondary">
                                <th scope="col" class="font-weight-medium">NXdrive Plan</th>
                                <th scope="col" class="font-weight-medium">Term</th>
                                <th scope="col" class="font-weight-medium">Quantity</th>
                                <th scope="col" class="font-weight-medium text-right">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="font-weight-normal">Business</th>
                                <td>Yearly</td>
                                <td>1</td>
                                <td class="text-right">$500</td>
                            </tr>
                            @*<tr>
                                    <th scope="row" class="font-weight-normal">Web project</th>
                                    <td>24</td>
                                    <td>1</td>
                                    <td class="text-right">$1250</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-weight-normal">SEO</th>
                                    <td>6</td>
                                    <td>1</td>
                                    <td class="text-right">$2000</td>
                                </tr>*@
                        </tbody>
                        <tfoot>
                            <tr class="h6">
                                <td scope="row">Total</td>
                                <td colspan="3" class="text-right">$500</td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- End Table -->
                    <!-- Contacts -->
                    <div class="row justify-content-lg-between">
                        <div class="col-md-8 col-lg-7 order-md-2 mb-5 mb-md-0">
                            <h4 class="h6">Thank you!</h4>
                            <p class="font-size-1">If you have any questions concerning this invoice, use the following contact information:</p>
                            <span class="d-block">
                                <small class="font-weight-medium">email:</small>
                                <small class="text-muted">info@nxdrive.com</small>
                            </span>
                            <small class="font-weight-medium">telephone:</small>
                            <small class="text-muted">502.371.0909</small>
                        </div>
                        <div class="col-md-4 col-lg-3 order-md-1 align-self-end">
                            <p class="small text-muted mb-0">&copy; 2019 Infobeyond Tech.</p>
                        </div>
                    </div>
                    <!-- End Contacts -->
                </div>
            </div>
            <div class="text-right mt-5">

                <a href="#" style="text-decoration: underline;" id="print-btn">
                    <span class="fas fa-file-pdf text-secondary mr-1"></span>
                    Download invoice
                </a>
                <button type="button" class="btn btn-primary btn-sm-wide transition-3d-hover ml-5" onclick="window.print();return false;">
                    <span class="fas fa-print mr-2"></span>
                    Print
                </button>
            </div>
        </div>
        <!-- End Invoice Section -->
    </main>

</body>




<script>
    function startPrintProcess(canvasObj, fileName, callback) {
        var pdf = new jsPDF('l', 'pt', 'a4'),
            pdfConf = {
                pagesplit: false,
                background: "#fff",                
            };
        document.body.appendChild(canvasObj); //appendChild is required for html to add page in pdf
        pdf.addHTML(canvasObj, 0, 0, pdfConf, function () {
            document.body.removeChild(canvasObj);
            pdf.addPage();
            pdf.save(fileName + '.pdf');
            callback();
        });
    }

    $('#print-btn').click(() => {

        html2canvas(document.getElementById('dom-to-print'), {
            onrendered: function (canvasObj) {
                startPrintProcess(canvasObj, 'Invoice', function () {
                    alert('PDF invoice saved!');
                });
                //save this object to the pdf
            }
        });
    })
</script>

