﻿.user-group-list {
    .user-group-title {
        white-space: initial;
        word-break: break-all;
    }
    .user-group-desc {
        white-space: initial;
        word-break: break-all;
    }
}
