﻿@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}
<!-- Section Header Video -->
<section id="home">
    <div class="container-fluid">
        <div class="row">
            <div class="one-page video-container-outermost">
                <div class="one-page-inner one-default">
                    <div class="row">
                        <div class="col-md-12">
                            <video id="header-video" autoplay loop muted class="video-container">
                                <source src="~/video/NXdrive-hearder.mp4" frameborder="0">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section Header Video -->
<!-- Section Group -->
<div class="container g-pt-100 g-pb-70">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-8 g-mb-50">
            <!-- About Info -->
            <div class="mb-5">
                <span class="d-block text-uppercase g-color-dark-light-v1 g-font-weight-500 g-font-size-13 mb-4">SECURE DATA STORAGE WITH PRIVACY</span>
                <h2 class="g-font-size-46--md mb-4">Backup your files safely</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active">
                                <p class="g-font-size-40--md g-line-height-1">Do you want better confidentiality of your data when you backup your data into a cloud? </p>
                            </div>
                            <div class="tab-pane fade show active">
                                <p class="g-font-size-24--md">NXdrive (NeXt Drive) renovates your online data backup to the highest level of security and privacy protection. It backups a file as multiple encrypted fragments over different places as secrets, instead of storing it as a traditional file on a server.</p>
                            </div>
                        </div>
                        <!-- End Tab panes -->
                    </div>
                </div>
                <!-- End Tab -->
            </div>
            <a class="btn u-btn-black g-brd-primary g-brd-main--hover g-bg-primary g-bg-main--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13 mr-3" href="@Url.RouteUrl("Register")">
                Get 15G Free
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
            </a>
            <a class="g-brd-bottom g-brd-main g-brd-primary--hover g-color-main g-color-primary--hover g-font-size-12 text-uppercase g-text-underline--none--hover g-pb-3" href="@Url.RouteUrl("ServicePlans")">
                More Plans
            </a>
            <!-- End About Info -->
        </div>
        <div class="col-sm-8 col-md-6 col-lg-4 g-mb-50 d-inline-block" style="text-align:center;">
            <!-- About Info -->
            <div class="d-inline-block u-shadow-v20 g-width-300 g-height-300 g-brd-around g-brd-10 g-brd-white g-bg-cover g-bg-main-opacity-0_9--after g-rounded-circle--after text-center rounded-circle g-pa-50" style="display:inline-block">
                <div class="g-pos-rel g-z-index-1">
                    <span class="d-block g-color-white-opacity-0_6 g-font-size-13 text-uppercase g-mb-20">Fragment Security Complexity</span>
                    <span class="d-block g-color-white g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-2 display-4 js-counter" data-comma-separated="true">
                        99990000
                    </span>
                    <span class="d-block g-color-white g-font-weight-300 g-font-size-14 g-mt-20">It is estimated as the increase in security compared to the encryption-only storage.</span>
                </div>
            </div>
            <!-- End About Info -->
        </div>
    </div>
</div>
<!-- End Section Group -->
<!-- Hero Info #02 -->
<section class="u-bg-overlay g-bg-main-opacity-0_9--after g-bg-img-hero g-py-120--md g-py-80">
    <div class="container u-bg-overlay__inner text-center g-color-white justify-content-md-center">
        <div class="u-heading-v2-4--top g-brd-primary g-mb-20">
            <h2 class="g-font-size-46--md mb-0 g-color-primary">NXdrive: Securely Backup Your Data Online</h2> @*g-font-weight-600*@
        </div>
        <p class="g-color-white g-font-size-40--md g-font-size-38-sm g-line-height-1_1 g-mb-10">Higher the Confidentiality, Higher the Privacy, Higher the Availability</p>
        <a class="btn btn-lg u-btn-darkgray u-btn-inset mx-2 g-mt-40--lg" href="@Url.RouteUrl("Register")" style="max-width:500px; margin:0 auto; white-space:normal !important;">
            <i class="fa fa-arrow-right g-color-primary mr-2"></i>
            Sign up for free (up to 15 G free secure space)
        </a>
    </div>
</section>
<!-- End Hero Info #02 -->
<!-- Call To Action -->
<section class="g-bg-primary g-color-white g-py-80 g-my-8" style="background-image: url(#);">
    <div class="container d-md-flex justify-content-md-center">
        <div class="col-sm-8 align-self-md-center">
            <h2 class="text-uppercase g-line-height-1_1 g-font-size-26 g-mb-10">Get started with NXdrive</h2> @*g-font-weight-700*@
            <p class="g-color-white g-font-weight-400 g-font-size-20 g-mr-20--md g-mb-15 g-mb-0--md">Protect your personal or business secrets with confidentiality and privacy!</p>
        </div>
        <div class="col-sm-4 u-bg-overlay__inner align-self-md-center flow-right">
            <a class="btn btn-lg u-btn-darkgray u-btn-inset mx-2" style="max-width:500px; margin:0 auto; white-space:normal !important;" href="@Url.RouteUrl("Register")">
                <i class="fa fa-arrow-right g-color-primary mr-2"></i>
                Start from here to sign up
            </a>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<!-- Video Cube Section -->
<section>
    <div class="g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-white-gradient-opacity-v5--after">
        <div class="g-pos-rel g-z-index-1">
            <div class="row justify-content-between">
                <!-- Video Article -->
                <div class="col-md-12 g-mb-30">
                    <div class="h-100 g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_4--after g-pos-rel g-py-150 g-mr-10 g-mb-30 g-mb-0--lg g-min-height-100vh--md" data-bg-img-src="/video/Video-CUBE.png" style="width: 100%; margin: 0 auto;">
                        <div class="container g-z-index-1 g-absolute-centered">
                            <article class="text-center g-absolute-centered--y g-z-index-1 g-px-50">
                                <a class="js-fancybox d-inline-block g-text-underline--none--hover mb-3" href="javascript:;"
                                   data-src="//www.youtube.com/watch?v=HMCk5_7TiiM"
                                   data-speed="350"
                                   data-caption="Video Popup">
                                    <span class="u-icon-v3 u-icon-size--xl u-icon-scale-1_2--hover g-bg-primary g-color-white rounded-circle g-cursor-pointer">
                                        <i class="g-font-size-17 g-pos-rel g-left-2 fa fa-play"></i>
                                    </span>
                                </a>
                                <p class="g-font-size-46--md g-color-primary g-font-size-20--sm">@*<span class="g-font-weight-600">NXDRIVE</span><span class="g-font-size-26--md g-color-white g-font-size-20--sm"> INNOVATIONS TO BOOST YOUR DATA BACKUP SECURITY </span></p>*@
                                <p class="g-font-size-36--md g-color-white g-font-size-20--sm">Your documents are <span class="g-font-weight-600 g-color-primary">fragmented</span>, <span class="g-font-weight-600 g-color-primary">encrypted</span>, and <span class="g-font-weight-600 g-color-primary">mutated</span> to boost your data protection into a higher level.</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Promo Banner -->
        </div>
    </div>
</section>
<!-- End Section -->
<!--Chart-->
<!-- Team Blocks v5 -->
<section class="g-py-150--md">
    <div class="text-center">
        <div class="container text-center u-heading-v2-4--bottom g-brd-primary g-mb-100">
            <h4 class="g-font-weight-700 g-font-size-24--md g-color-main g-mb-15 text-uppercase">NXdrive</h4>
            <h2 class="u-heading-v2__title g-line-height-1_1 g-font-size-46--md g-color-primary g-mb-minus-10">
                Fortifies the Data Asset with
                <span class="g-font-weight-700--md g-color-aqua">F</span><span class="g-font-weight-700--md g-color-pink">E</span><span class="g-font-weight-700--md g-color-blue">S</span><span class="g-font-weight-700--md g-color-green">M</span><span class="g-font-weight-700--md g-color-purple">A</span> Philosophy
            </h2>@*g-font-weight-700*@
        </div>
        <!-- Team Block -->
        <div class="row g-mx-20--md">

            <div class="col-md-2 offset-md-1 offset-sm-0 col-sm-12 col-12 g-mb-30--md g-pb-10">
                <h4><span class="g-font-size-46-md g-font-weight-700--md g-color-aqua">F</span>ragment</h4>
                <div class="g-pa-25--md g-bg-pos-center">
                    <!--1-->
                    <figure class="g-py-30 g-px-40">
                        <!-- Figure Image -->
                        <img class="w-100" src="~/img/flowchart/Fragment.png" alt="Frament">
                        <!-- End Figure Image-->
                    </figure>
                </div>
                <div class="u-card--v1 u-label--lg text-center g-px-15 g-py-8 g-mb-15">Fragment documents into random pieces and a fragment discloses no information</div>
            </div>
            <!-- Arrow -->
            <!-- /Arrow -->
            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                <h4><span class="g-font-size-46-md g-font-weight-700--md g-color-pink">E</span>ncryption</h4>
                <div class="g-pa-25--md g-bg-pos-center">
                    <!--2-->
                    <figure class="g-py-30 g-px-40">
                        <!-- Figure Image -->
                        <img class="w-100" src="~/img/flowchart/Encryption.png" alt="Image Description">
                        <!-- End Figure Image-->
                    </figure>
                </div>
                <div class="u-card--v1 u-label--lg text-center g-px-15 g-py-8 g-mb-15">Encrypt documents in multiple levels with satisfaction of federal requirements</div>
            </div>
            <!-- /Arrow -->

            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-mb-0--sm g-pb-10">
                <h4 class="g-font-size-12--sm"><span class="g-font-size-46-md g-font-weight-700--md g-color-blue">S</span>hell Game</h4>
                <div class="g-pa-25--md g-bg-pos-center">
                    <!--4-->
                    <figure class="g-py-30 g-px-40">
                        <!-- Figure Image -->
                        <img class="w-100" src="~/img/flowchart/MTD.png" alt="Image Description">
                        <!-- End Figure Image-->
                    </figure>
                </div>
                <div class="u-card--v1 u-label--lg text-center g-px-15 g-py-8 g-mb-15">Play "three shells and a pea" game for saving a document in multiple storage places</div>@*g-brd-around g-brd-gray-light-v4*@ 
            </div>

            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                <h4><span class="g-font-size-46-md g-font-weight-700--md g-color-green">M</span>utation</h4>
                <div class="g-pa-25--md g-bg-pos-center">
                    <figure class="g-py-30 g-px-40">
                        <!-- Figure Image -->
                        <img class="w-100" src="~/img/flowchart/Mutation.png" alt="Image Description">
                        <!-- End Figure Image-->
                    </figure>
                </div>
                <div class="u-card--v1 u-label--lg text-center g-px-15 g-py-8 g-mb-15">Mutate documents as random symbols on storage and dynamically distribute them</div>
            </div>


            <div class="col-md-2 col-sm-12 col-12 g-mb-30--md g-pb-10">
                <h4><span class="g-font-size-46-md g-font-weight-700--md g-color-purple">A</span>ccess Control</h4>
                <div class="g-pa-25--md g-bg-pos-center text-center align-content-center">
                    <!--5-->
                    <figure class="g-py-30 g-px-40">
                        <!-- Figure Image -->
                        <img class="w-100" src="~/img/flowchart/Distribution.png" alt="Image Description">
                        <!-- End Figure Image-->
                    </figure>
                </div>
                <div class="u-card--v1 u-label--lg text-center g-px-15 g-py-8 g-mb-15">Authenticate the access request to retrieve the documents under right privileges</div>
            </div>
        </div>
    </div>
    <!-- End Team Block -->
</section>

<!-- Blog Grid Blocks -->
<div class="g-bg-secondary">
    <div class="h-100 g-pb-70">
        <div class="row">
            <div class="col-md-12 col-sm-12 g-mb-30">
                <article class="row align-items-stretch no-gutters u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
                    <div class="col-md-12 g-bg-size-cover g-bg-pos-center g-height-680--md g-min-height-300" data-bg-img-src="img/Background/shell-moving.gif"></div>
                </article>
            </div>
        </div>
        <div class="container text-center g-mb-50--md g-mb-10--sm">
            <p class="h5 g-pt-60--md g-mb-20 g-font-size-36--md g-font-size-12--sm">
                @*g-font-weight-600*@
                A data digital <span class="g-color-primary g-font-size-55--md g-font-size-12--sm g-font-weight-600">
                    Shell Game
                </span> a.k.a., moving target defense, protects your data and user privacy!
                <br />
                <span class="g-color-primary g-font-size-30--md g-font-size-12--sm g-font-weight-600">
                    NXdrive
                </span>
                <span class="g-font-size-30--md">stores your data files in a dynamic moving storage space, instead of static data storage.</span>
            </p>
            @*<p class="h5 g-color-main lead g-font-weight-700">A data digital shell game to protect your data and user privacy!</p>
                <p class="h5 g-color-main lead g-font-weight-700 g-mb-40">Inspired by Sponsored Military Data Security Research</p>
                <a class="btn btn-xl u-btn-primary g-bg-primary text-uppercase g-font-weight-700 g-font-size-12" href="#">Try Now</a>*@
        </div>
    </div>
</div>
<!-- End Blog Grid Blocks -->
<section class="g-bg-main g-color-white g-py-80 g-mb-8" style="background-image: url(../../../assets/img/bg/pattern5.png);">
    <div class="container d-md-flex justify-content-md-center">
        <div class="col-sm-8 align-self-md-center">
            <h2 class="text-uppercase g-line-height-1_1 g-font-size-26 g-mb-10">Get started with NXdrive</h2>
            <p class="g-color-white g-font-weight-400 g-font-size-20 g-mr-20--md g-mb-15 g-mb-0--md">Share your personal and business data information with confidentiality protection. </p>
        </div>
        <div class="col-sm-4 u-bg-overlay__inner align-self-md-center flow-right">
            <a class="btn btn-lg u-btn-darkgray u-btn-inset mx-2" href="@Url.RouteUrl("Register")">
                <i class="fa fa-arrow-right g-color-primary mr-2"></i>
                Start from here to sign up
            </a>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<!-- Section Content -->
<section>
    <div class="g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-white-gradient-opacity-v5--after">
        <div class="g-pos-rel g-z-index-1">
            <div class="row justify-content-between">
                <!-- Video Article -->
                <div class="col-md-12 g-mb-30">
                    <div class="h-100 g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_4--after g-pos-rel g-py-150 g-mr-10 g-mb-30 g-mb-0--lg g-min-height-100vh--md" data-bg-img-src="/video/Video-Storage.png" style="width: 100%; margin: 0 auto;">
                        <div class="container g-z-index-1 g-absolute-centered">
                            <article class="text-center g-absolute-centered--y g-z-index-1 g-px-50">
                                <a class="js-fancybox d-inline-block g-text-underline--none--hover mb-3" href="javascript:;"
                                   data-src="//www.youtube.com/watch?v=0zZ8Rdicm34"
                                   data-speed="350"
                                   data-caption="Video Popup">
                                    <span class="u-icon-v3 u-icon-size--xl u-icon-scale-1_2--hover g-bg-primary g-color-white rounded-circle g-cursor-pointer">
                                        <i class="g-font-size-17 g-pos-rel g-left-2 fa fa-play"></i>
                                    </span>
                                </a>
                                <p class="g-font-size-36--md g-color-white g-font-size-20--sm">Features to save your time for data backup and sharing</p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Promo Banner -->
        </div>
    </div>
</section>
<!-- End Section Content -->
<!--Who use nxdrive-->
<div class="g-pb-100 g-mt-100">
    <div class="container u-bg-overlay__inner text-center g-color-primary g-mb-60">
        <div class="u-heading-v2-4--top g-brd-primary">
            <h2 class="display-5 g-font-weight-600 mb-0 g-color-main">Who uses NXdrive</h2>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-3 g-mb-30 g-mb-0--md">
        <article class="text-center u-block-hover g-bg-gray-dark-v2--hover g-transition-0_4">
            <figure>
                <img class="img-fluid" src="~/img/pages/features/security-business.jpg" alt="Image Description">
            </figure>
            <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-pa-30-20 g-mb-0">
                <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-primary--hover g-mb-10">confidentiality</em> Personal
            </h3>
            <a class="u-link-v2" href="@Url.RouteUrl("ServicePlans")"></a>
        </article>
    </div>
    <div class="col-md-3 g-mb-30 g-mb-0--md">
        <article class="text-center u-block-hover g-bg-gray-dark-v2--hover g-transition-0_4">
            <figure>
                <img class="img-fluid" src="~/img/pages/features/security-students.jpg" alt="Image Description">
            </figure>
            <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-pa-30-20 g-mb-0">
                <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-primary--hover g-mb-10">Sharing</em>
                Group
            </h3>
            <a class="u-link-v2" href="@Url.RouteUrl("ServicePlans")"></a>
        </article>
    </div>
    <div class="col-md-3 g-mb-30 g-mb-0--md">
        <article class="text-center u-block-hover g-bg-gray-dark-v2--hover g-transition-0_4">
            <figure>
                <img class="img-fluid" src="~/img/pages/features/security-family.jpg" alt="Image Description">
            </figure>
            <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-pa-30-20 g-mb-0">
                <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-primary--hover g-mb-10">Privacy</em> Family
            </h3>
            <a class="u-link-v2" href="@Url.RouteUrl("ServicePlans")"></a>
            @*<a class="js-fancybox u-link-v2" href="javascript:;" data-fancybox="lightbox-gallery--16" data-src="../../assets/img-temp/900x600/img4.jpg" data-animate-in="bounceInDown" data-animate-out="bounceOutDown" data-speed="1000" data-overlay-blur-bg="true" data-caption="Lightbox Gallery">
                </a>*@
        </article>
    </div>
    <div class="col-md-3 g-mb-30 g-mb-0--md">
        <article class="text-center u-block-hover g-bg-gray-dark-v2--hover g-transition-0_4">
            <figure>
                <img class="img-fluid" src="~/img/pages/features/security-enterprise.jpg" alt="Image Description">
            </figure>
            <h3 class="h6 text-uppercase g-font-weight-600 g-letter-spacing-2 g-color-white--hover g-pa-30-20 g-mb-0">
                <em class="d-block g-font-size-12 g-font-style-normal g-font-weight-300 g-color-primary--hover g-mb-10">Efficiency</em> Business
            </h3>
            <a class="u-link-v2" href="@Url.RouteUrl("ServicePlans")">
            </a>
        </article>
    </div>
</div>
<!--/Who use nxdrive-->
<!-- Section Content -->
<section id="recentProjects" class="u-bg-overlay g-bg-img-hero g-py-160 g-bg-main-opacity-0_5--after g-mt-120--md" style="background-image: url(img/pages/footer-img.jpg);">
    @*g-bg-primary-opacity-0_9--after*@
    <div class="container u-bg-overlay__inner">
        <div class="text-center u-heading-v2-4--bottom g-brd-primary g-mb-60">
            <h4 class="text-uppercase g-font-weight-700 g-font-size-24--md g-color-primary g-mb-15">NXdrive</h4>
            <h2 class="u-heading-v2__title g-line-height-1_1 g-font-weight-700 g-font-size-40 g-color-primary g-mb-minus-10">Makes Security Stronger</h2>
        </div>
        <div class="row g-flex-centered">
            <a class="btn btn-lg u-btn-darkgray u-btn-inset mx-2" href="@Url.RouteUrl("ServicePlans")">
                See plans
                <i class="fa fa-arrow-left g-color-primary ml-2"></i>
            </a>
            <a class="btn btn-lg u-btn-darkgray u-btn-inset mx-2" href="#!">
                <i class="fa fa-arrow-right g-color-primary mr-2"></i>
                Go to NXdrive
            </a>
        </div>
    </div>
</section>
<!-- End Section Content -->
<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of counters
        var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');
    });
</script>