﻿@model TopMenuModel

<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance u-shadow-v19">
    <div class="u-header__section g-bg-white g-transition-0_3">
        <nav class="js-mega-menu navbar navbar-expand-lg g-pa-0">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand g-pl-15" href="@Url.RouteUrl("HomePage")">
                    <img class="g-width-95" src="~/img/logo/logo.png" alt="Logo">
                </a>
                <!-- End Logo -->
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pos-abs g-top-10 g-right-0 g-pa-0 g-mt-2" type="button"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span class="hamburger hamburger--slider g-px-15">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->
                <!-- Navigation -->
                <div id="navBar" class="collapse navbar-collapse align-items-center flex-sm-row">
                    <ul class="navbar-nav ml-auto g-pb-30 g-pb-0--lg">
                        <li class="nav-item hs-has-sub-menu g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a id="nav-link--page-home" class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("HomePage")"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-controls="nav-submenu--page">
                                Home
                            </a>
                            <!-- Submenu -->
                            <ul id="nav-submenu--page-home" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-18"
                                aria-labelledby="nav-link--page-home">
                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("AboutUs")">About Us</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="page-careers-1.html">Careers</a>
                                </li>

                            </ul>



                        <li class="nav-item hs-has-sub-menu g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a id="nav-link--page" class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="#"
                               aria-haspopup="true"
                               aria-expanded="false"
                               aria-controls="nav-submenu--page">
                                Features
                            </a>
                            <!-- Submenu -->
                            <ul id="nav-submenu--page" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-18"
                                aria-labelledby="nav-link--page">
                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("Security")">Security & Privacy</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="@Url.RouteUrl("Group")">Group Sharing</a>
                                </li>

                                <li class="dropdown-item">
                                    <a class="nav-link g-color-text g-font-weight-600" href="page-works-1.html">Works</a>
                                </li>

                            </ul>
                            <!-- End Submenu -->
                        </li>
                        <!-- End About - Submenu -->
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("ServicePlans")">
                                Plans
                            </a>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("DownloadCenter")">
                                Download
                            </a>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link rounded g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-14 g-py-10" href="@Url.RouteUrl("HelpCenter")">
                                Help Center
                            </a>
                        </li>
                        <li class="nav-item g-mx-15 g-mx-3--lg g-mb-5 g-mb-0--lg">
                            <a class="nav-link d-inline-block rounded g-brd-around g-brd-2 g-brd-primary g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-weight-600 g-font-size-15 g-px-20 g-py-8" href="@Url.RouteUrl("Login")">Sign in</a>
                        </li>
                    </ul>
                </div>
                <!-- End Navigation -->
                <!-- Social Icons -->
                <ul class="col-auto list-inline g-pos-rel g-top-minus-3 g-py-20 g-py-6--lg g-pr-5 g-mr-60 g-mr-0--lg ml-auto ml-lg-0 mb-0">
                    <li class="list-inline-item g-mx-0">
                        <a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://www.facebook.com/InfoBeyondTechnology/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item g-mx-0">
                        <a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://twitter.com/InfoBeyond"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item g-mx-0">
                        <a class="u-icon-v3 u-icon-size--xs g-bg-transparent g-bg-main--hover rounded" href="https://www.linkedin.com/company/infobeyond-technology-llc/"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
                <!-- End Social Icons -->
                <div class="col-auto g-hidden-md-down g-pr-0">
                    <div class="g-bg-main g-cursor-pointer g-px-25 g-py-20">
                        <span class="d-block g-color-primary g-font-size-16 mb-1">Go to NXdrive</span>
                        @*<span class="d-block g-color-primary"><i class="mr-2 fa fa-phone"></i> Request a Call</span>*@
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

@*<ul class="top-menu">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuBefore })
        @if (Model.DisplayHomePageMenuItem)
        {
            <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        }
        @{
            var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
        }
        @foreach (var category in rootCategories)
        {
            var categoryLineModel = new TopMenuModel.CategoryLineModel
            {
                Category = category
            };
            @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
        }
        @foreach (var topic in Model.Topics)
        {
            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
        }
        @if (Model.NewProductsEnabled && Model.DisplayNewProductsMenuItem)
        {
            <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
        }
        @if (Model.DisplayProductSearchMenuItem)
        {
            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
        }
        @if (Model.DisplayCustomerInfoMenuItem)
        {
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        }
        @if (Model.BlogEnabled && Model.DisplayBlogMenuItem)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        @if (Model.ForumEnabled && Model.DisplayForumsMenuItem)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        @if (Model.DisplayContactUsMenuItem)
        {
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMenuAfter })
    </ul>
    @{
        var rootCategoriesResponsive = Model.Categories.ToList();
        //name it "Categories" if we have only categories. Otherwise, "Menu"
        var responsiveMenuTitle = Model.HasOnlyCategories ? T("Categories") : T("Menu");
        <div class="menu-toggle">@responsiveMenuTitle</div>
        <ul class="top-menu mobile">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MobHeaderMenuBefore })
            @if (Model.DisplayHomePageMenuItem)
            {
                <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
            }
            @foreach (var category in rootCategoriesResponsive)
            {
                var categoryLineModel = new TopMenuModel.CategoryLineModel
                {
                    Category = category,
                    ResponsiveMobileMenu = true
                };
                @await Html.PartialAsync("_CategoryLine.TopMenu", categoryLineModel)
            }
            @foreach (var topic in Model.Topics)
            {
                <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
            }
            @if (Model.NewProductsEnabled && Model.DisplayNewProductsMenuItem)
            {
                <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
            }
            @if (Model.DisplayProductSearchMenuItem)
            {
                <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
            }
            @if (Model.DisplayCustomerInfoMenuItem)
            {
                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
            }
            @if (Model.BlogEnabled && Model.DisplayBlogMenuItem)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            @if (Model.ForumEnabled && Model.DisplayForumsMenuItem)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            @if (Model.DisplayContactUsMenuItem)
            {
                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.MobHeaderMenuAfter })
        </ul>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.menu-toggle').click(function () {
                    $(this).siblings('.top-menu.mobile').slideToggle('slow');
                });
                $('.top-menu.mobile .sublist-toggle').click(function () {
                    $(this).siblings('.sublist').slideToggle('slow');
                });
            });
        </script>
    }*@